@import 'variables';

:host {
  display: block;
}

[metrics] {
  align-self: start;
}

[calendar] {
  @media screen and (max-width: map_get($grid-breakpoints, wide)) {
    margin-bottom: $gutter-normal;
  }
}

[filter] {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
  color: $primary-text-light-color;
  padding: $gutter-small $gutter-normal;
  border: 1px dashed $secondary-dark-color;
  border-radius: $corner-normal;
  line-height: 1em;
  &[active='true'] {
    border-color: transparent;
    background: $primary-light-color;
    color: $white-color;
    padding-right: $gutter-huge;
    box-shadow: $shadow-normal;
  }
  [avatar], [host=#{$jnt-icon-host}] {
    margin-right: $gutter-small;
  }
  [reset] {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
  }
}

[milestone] {
  font-size: .75rem;
}
