@import 'jnt-variables';

:host {
  display: block;
}

[metrics] {
  align-self: start;
}

[calendar] {
  @media screen and (max-width: map-get($jnt-grid-breakpoints, wide)) {
    margin-bottom: $jnt-gutter-normal;
  }
}

[filter] {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
  color: $jnt-primary-text-light-color;
  padding: $jnt-gutter-small $jnt-gutter-normal;
  border: 1px dashed $jnt-secondary-dark-color;
  border-radius: $jnt-corner-normal;
  line-height: 1em;
  &[active='true'] {
    border-color: transparent;
    background: $jnt-primary-light-color;
    color: $jnt-white-color;
    padding-right: $jnt-gutter-huge;
    box-shadow: $jnt-shadow-normal;
  }
  [avatar], [host=#{$jnt-icon-host}] {
    margin-right: $jnt-gutter-small;
  }
  [reset] {
    position: absolute;
    top: $jnt-gutter-small;
    right: $jnt-gutter-small;
  }
}

[milestone] {
  font-size: .75rem;
}
