<jnt-form [formGroup]="form">
  <jnt-stack [align]="ui.flex.align.stretch" [gutter]="ui.gutter.big">
    <app-metrics-type formControlName="metric" metrics></app-metrics-type>
    <jnt-row>
      <jnt-col [tablet]="12" [wide]="7">
        <app-team-calendar calendar
                           formControlName="filter"
                           [metric]="metric.value"
                           [team]="team"></app-team-calendar>
      </jnt-col>
      <jnt-col [tablet]="12" [wide]="5">
        <jnt-chart formControlName="project"
                   title="Opened project" metric="Hours"
                   i18n-title="@@label.opened_project"
                   i18n-metric="@@label.hours"
                   keyField="id" [widthMark]="50">
          <jnt-chart-indicator *ngFor="let p of summary.first?.projects;let i = index"
                               [data]="p.project"
                               [value]="p.issues.percentage * 100"
                               [label]="p.issues.remains  | duration:durationFormat.short"
                               [color]="colors[i % colors.length]">
            <ng-template #titleTemplate>
              <ng-container *ngIf="p.project.group">{{p.project.group.title}} /</ng-container>
              {{p.project.title}}
              <jnt-stack *ngIf="p.project.milestones[0] as m" milestone
                         [type]="ui.layout.stack.type.horizontal"
                         [gutter]="ui.gutter.tiny"
                         [align]="ui.flex.align.center">
                <jnt-link [source]="m.glUrl" [title]="m.title"
                          target="_blank"></jnt-link>
                <jnt-label *ngIf="m.dueDate" [label]="m.dueDate | dueDate"
                           [color]="m.problems?.includes(milestoneProblem.overDueDate) ?  ui.color.red : ui.color.paleNavy"></jnt-label>
              </jnt-stack>
            </ng-template>
          </jnt-chart-indicator>
        </jnt-chart>
      </jnt-col>
    </jnt-row>
    <jnt-stack [type]="ui.layout.stack.type.horizontal">
      <div filter [attr.active]="!!filter.value.user">
        <ng-container *ngIf="filter.value.user;else noFilterUser">
          <jnt-avatar avatar [image]="filter.value.user.avatar"
                      [size]="ui.size.tiny"></jnt-avatar>
          {{filter.value.user.name}}
          <jnt-button reset [scheme]="ui.scheme.secondary"
                      [size]="ui.size.tiny"
                      [icon]="ui.icons.close"
                      (click)="filter.patchValue({user: null, dueDate: filter.value.dueDate})"></jnt-button>
        </ng-container>
        <ng-template i18n="@@action.pick_user" #noFilterUser>
          <jnt-icon [icon]="ui.icons.user"></jnt-icon>
          Pick a user
        </ng-template>
      </div>
      <div filter [attr.active]="!!filter.value.dueDate">
        <ng-container *ngIf="filter.value.dueDate;else noFilterDueDate">
          <jnt-icon [icon]="ui.icons.calendar"></jnt-icon>
          {{filter.value.dueDate | date}}
          <jnt-button reset [scheme]="ui.scheme.secondary"
                      [size]="ui.size.tiny"
                      [icon]="ui.icons.close"
                      (click)="filter.patchValue({user: filter.value.user,  dueDate: null})"></jnt-button>
        </ng-container>
        <ng-template i18n="@@action.pick_due_date" #noFilterDueDate>
          <jnt-icon [icon]="ui.icons.calendar"></jnt-icon>
          Pick a due date
        </ng-template>
      </div>
      <div filter [attr.active]="!!project.value">
        <ng-container *ngIf="!!project.value;else noFilterProject">
          <jnt-icon [icon]="ui.icons.project"></jnt-icon>
          <div>
            {{project.value.title}}<br>
            <small>{{project.value.group?.fullTitle}}</small>
          </div>
          <jnt-button reset [scheme]="ui.scheme.secondary"
                      [size]="ui.size.tiny"
                      [icon]="ui.icons.close"
                      (click)="project.patchValue(null)"></jnt-button>
        </ng-container>
        <ng-template i18n="@@action.pick_project" #noFilterProject>
          <jnt-icon [icon]="ui.icons.project"></jnt-icon>
          Pick a project
        </ng-template>
      </div>
    </jnt-stack>
    <jnt-menu>
      <jnt-menu-item [link]="['issues']" i18n-title="@@action.issues" title="Issues">
        <jnt-badge *ngIf="summary?.second?.issues.count"
                   [value]="summary?.second?.issues.count"
                   [color]="ui.color.green"></jnt-badge>
        <jnt-badge *ngIf="summary?.second?.issues.problemsCount"
                   [value]="summary?.second?.issues.problemsCount"
                   [color]="ui.color.red"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item [link]="['merge-requests']" i18n-title="@@action.merge_requests" title="Merge Requests">
        <jnt-badge *ngIf="summary?.second?.mergeRequests.count"
                   [value]="summary?.second?.mergeRequests.count"
                   [color]="ui.color.red"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item [link]="['time-expenses']" i18n-title="@@action.time_expenses" title="Time Expenses">
        <jnt-badge
          *ngIf="(filter.value.user || filter.value.dueDate || project.value) && summary?.second?.spentTimes.spent"
          [value]="summary?.second?.spentTimes.spent | duration"
          [color]="ui.color.purple"></jnt-badge>
        <jnt-badge *ngIf="summary?.second?.spentTimes.openedSpent"
                   [value]="summary?.second?.spentTimes.openedSpent | duration"
                   [color]="ui.color.green"></jnt-badge>
      </jnt-menu-item>
    </jnt-menu>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </jnt-stack>
</jnt-form>
