@import "variables";

:host {
  display: block;
}

:host-context([theme='dark']) {
  h6 {
    color: $gray-100;
  }
  table {
    [title] {
      color: $gray-600
    }
    tbody {
      [value] {
        color: $gray-100;
      }
    }
  }
}


h6 {
  text-align: center;
  font-weight: $font-weight-bold;
  color: $primary-text-dark-color;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-top: 1px solid $muted-color;
    border-bottom: 1px solid $muted-color;

    [title] {
      padding-top: $gutter-normal;
      font-size: 0.875rem;
      font-weight: $font-weight-base;
    }

    [value] {
      padding-bottom: $gutter-normal;
      color: $primary-color;
      font-weight: $font-weight-bold;
    }
  }

  [title] {
    color: $primary-text-light-color;
  }

  tbody {
    tr:first-child {
      td {
        padding-top: $gutter-normal;
      }
    }

    td {
      padding: $gutter-small 0;
    }

    [value] {
      color: $primary-text-dark-color;
      font-weight: $font-weight-bold;
    }
  }
}
