<jnt-block *ngIf="salary"
           title="Details"
           i18n-title="@@label.details"
           [width]="ui.width.fluid">
  <jnt-date-period [start]="salary.periodFrom" [end]="salary.periodTo"></jnt-date-period>

  <table>
    <tbody>
    <tr>
      <td title
          i18n="@@label.detail">Charged Time</td>
      <td value>{{salary.chargedTime | duration}}</td>
    </tr>
    <tr>
      <td title>Sum</td>
      <td value>{{salary.sum | duration:durationFormat.short}}</td>
    </tr>
    <tr>
      <td title>Bonus</td>
      <td value>{{salary.bonus | currency}}</td>
    </tr>
    <tr>
      <td title>Penalty</td>
      <td value>{{salary.penalty | currency}}</td>
    </tr>
    <tr>
      <td title>Total</td>
      <td value>{{salary.total | currency}}</td>
    </tr>
    <tr>
      <td title>Payed</td>
      <td value>
        <jnt-icon *ngIf="salary.payed" [icon]="ui.icons.checked"></jnt-icon>
      </td>
    </tr>
    </tbody>
  </table>
</jnt-block>
