@import "variables";

:host {
  display: block;
}

:host-context([theme='dark']) {
  table {
    tbody {
      [title] {
        color: $gray-600-color;
      }
      [value] {
        color: $gray-100-color;
      }
    }
  }
}

table {
  width: 100%;
  border-spacing: 0 $gutter-normal;
  tbody {
    [title] {
      color: $primary-text-light-color;
      width: 70%;
    }
    [value] {
      color: $primary-text-dark-color;
      text-align: right;
    }
  }
}
