<sn-informer *ngIf="!!issue"
              [backdrop]="backdrop"
              [context]="ui.context.modal"
              [placement]="ui.placement.absolute">
  <ng-template #informerContentTemplate>
    <sn-stack data-issue [align]="ui.align.center">
      <p i18n="@@message.awesome_task_created">Awesome! The task was created
        <sn-link title="on GitLab"
                  i18n-title="@@label.on_gitlab"
                  [context]="ui.context.box"
                  [target]="ui.target.blank"
                  [icon]="{icon: ui.icons.link, position: ui.position.right}"
                  [outline]="ui.outline.fill"
                  [source]="issue.glUrl"></sn-link>
      </p>

      <sn-button text="Ok"
                  i18n-text="@@action.ok"
                  (click)="created.emit(issue);issue = null"></sn-button>
    </sn-stack>
  </ng-template>
</sn-informer>

<sn-informer *ngIf="errors.length > 0"
              [backdrop]="backdrop"
              [placement]="ui.placement.absolute"
              (ok)="this.errors = []">
  <sn-informer-message *ngFor="let e of errors"
                        [message]="e.toString()"></sn-informer-message>
</sn-informer>

<sn-form #content [formGroup]="form"
          [state]="progress.creating ? ui.state.loading : null"
          (submitted)="createIssue()">
  <sn-stack [align]="ui.align.stretch">

    <sn-form-item>
      <sn-form-label for="title"
                      i18n="@@label.title">Title</sn-form-label>
      <sn-form-control name="title">
        <sn-input formControlName="title"
                   placeholder="Some nice task"
                   i18n-placeholder="@@label.some_nice_task">
        </sn-input>
        <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </sn-form-message>
      </sn-form-control>
    </sn-form-item>

    <sn-row>
      <sn-col [tablet]="6">
        <sn-form-item>
          <sn-form-label for="project"
                          i18n="@@label.project">Project</sn-form-label>
          <sn-form-control name="project">
            <ng-template #projectOption let-project="value"
                         let-selected="selected">
              <sn-stack [orientation]="ui.orientation.horizontal"
                         [align]="ui.align.center"
                         [gutter]="ui.gutter.small">
                <sn-avatar [size]="ui.size.tiny"
                            [image]="project.group?.glAvatar"></sn-avatar>
                <div><span *ngIf="!selected">{{project.group?.title}} &bull; </span>{{project.title}}
                </div>
              </sn-stack>
            </ng-template>
            <sn-select formControlName="project"
                        placeholder="Select from list"
                        i18n-placeholder="@@label.select_from_list"
                        [state]="progress.projects ? ui.state.loading : null"
                        [features]="[ui.feature.search]"
                        [optionTemplate]="projectOption">
              <sn-select-option *ngFor="let p of projects"
                                 [key]="p.id"
                                 [label]="p.fullTitle"
                                 [value]="p"></sn-select-option>
            </sn-select>
            <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </sn-form-message>
          </sn-form-control>
        </sn-form-item>
      </sn-col>

      <sn-col [tablet]="6">
        <sn-form-item>
          <sn-form-label for="milestone"
                          i18n="@@label.milestone">Milestone</sn-form-label>
          <sn-form-control name="milestone">
            <sn-select formControlName="milestone"
                        placeholder="Select from list"
                        i18n-placeholder="@@label.select_from_list"
                        [state]="progress.milestones ? ui.state.loading : null"
                        [features]="[ui.feature.allowEmpty]">
              <sn-select-option *ngFor="let m of milestones"
                                 [key]="m.id"
                                 [label]="m.title"></sn-select-option>
            </sn-select>
            <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </sn-form-message>
          </sn-form-control>
        </sn-form-item>
      </sn-col>
    </sn-row>

    <sn-form-item>
      <sn-form-label for="user" i18n="@@label.developer">Developer</sn-form-label>
      <sn-form-control name="user">
        <ng-template #userOption let-member="value"
                     let-selected="selected">
          <sn-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center"
                     [justify]="ui.justify.between">
            <app-user [user]="member.user"
                      [roles]="member.roles"
                      [size]="userCardSize.small"></app-user>
            <sn-icon *ngIf="!selected && (member.roles | includes: teamMemberRole.leader)"
                      [icon]="localUi.icons.leader"></sn-icon>
          </sn-stack>
        </ng-template>
        <sn-select formControlName="user"
                    placeholder="Select from list"
                    i18n-placeholder="@@label.select_from_list"
                    [state]="progress.developers ? ui.state.loading : null"
                    [features]="[ui.feature.search]"
                    [optionTemplate]="userOption">
          <sn-select-option *ngFor="let d of developers"
                             [key]="d.user.id"
                             [label]="d.user.name"
                             [value]="d"></sn-select-option>
        </sn-select>
        <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </sn-form-message>
      </sn-form-control>
    </sn-form-item>

    <sn-form-item>
      <sn-form-label for="labels" i18n="@@label.labels">Labels</sn-form-label>
      <sn-form-control name="labels">
        <sn-switcher formControlName="labels"
                      [mode]="ui.select.mode.multiple"
                      [features]="[ui.feature.allowEmpty, ui.feature.adapted, ui.feature.marks]">
          <sn-switcher-option label="Bug"
                               i18n-label="@@label.bug"
                               [value]="standardLabel.bug">
            <sn-dot [color]="ui.color.red"></sn-dot>
          </sn-switcher-option>
          <sn-switcher-option label="Urgent"
                               i18n-label="@@label.urgent"
                               [value]="standardLabel.urgent">
            <sn-dot [color]="ui.color.orange"></sn-dot>
          </sn-switcher-option>
          <sn-switcher-option label="Hotfix"
                               i18n-label="@@label.hotfix"
                               [value]="standardLabel.hotfix">
            <sn-dot [color]="ui.color.yellow"></sn-dot>
          </sn-switcher-option>
          <sn-switcher-option label="Discuss"
                               i18n-label="@@label.discuss"
                               [value]="standardLabel.discuss">
            <sn-dot [color]="ui.color.green"></sn-dot>
          </sn-switcher-option>
        </sn-switcher>
      </sn-form-control>
    </sn-form-item>


    <sn-row>
      <sn-col [tablet]="4">
        <sn-stack [gutter]="ui.gutter.small"
                   [align]="ui.align.stretch">
          <sn-form-item>
            <sn-form-label for="estimate" i18n="@@label.estimate">Estimate</sn-form-label>
            <sn-form-control name="estimate">
              <sn-input formControlName="estimate"
                         [type]="ui.input.type.number"
                         placeholder="Hours"
                         i18n-placeholder="@@label.hours"></sn-input>
            </sn-form-control>
          </sn-form-item>

          <sn-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.center">
            <sn-button-group [scheme]="ui.scheme.secondary"
                              [size]="ui.size.tiny">
              <sn-button text="1h"
                          i18n-text="@@label.1h"
                          (click)="estimateControl.setValue(1)"></sn-button>
              <sn-button text="2h"
                          i18n-text="@@label.2h"
                          (click)="estimateControl.setValue(2)"></sn-button>
              <sn-button text="6h"
                          i18n-text="@@label.6h"
                          (click)="estimateControl.setValue(6)"></sn-button>
            </sn-button-group>
          </sn-stack>
        </sn-stack>
      </sn-col>

      <sn-col [tablet]="8">
        <sn-stack [gutter]="ui.gutter.small"
                   [align]="ui.align.stretch">
          <sn-form-item>
            <sn-form-label for="dueDate" i18n="@@label.due_date">Due Date</sn-form-label>
            <sn-form-control name="dueDate">
              <sn-date-picker formControlName="dueDate"></sn-date-picker>
              <sn-form-message i18n="@@message.field_required"
                                [validator]="ui.validator.required">
                This field is required
              </sn-form-message>
            </sn-form-control>
          </sn-form-item>

          <sn-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.center">
            <sn-button-group [scheme]="ui.scheme.secondary"
                              [size]="ui.size.tiny">
              <sn-button text="Tomorrow"
                          i18n-text="@@action.tomorrow"
                          (click)="tomorrow()"></sn-button>
              <sn-button text="This week"
                          i18n-text="@@action.this_week"
                          (click)="thisWeek()"></sn-button>
              <sn-button text="Next week"
                          i18n-text="@@action.next_week"
                          (click)="nextWeek()"></sn-button>
            </sn-button-group>
          </sn-stack>
        </sn-stack>
      </sn-col>
    </sn-row>
  </sn-stack>

  <ng-template #formFooterTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.end">
      <sn-button [type]="ui.button.type.submit"
                  [icon]="ui.icons.add"
                  text="Create"
                  i18n-text="@@action.create"></sn-button>
    </sn-stack>
  </ng-template>

</sn-form>
