<jnt-informer *ngIf="!!issue"
              [backdrop]="backdrop"
              [context]="ui.context.modal"
              [placement]="ui.placement.absolute">
  <ng-template #informerContentTemplate>
    <jnt-stack data-issue [align]="ui.align.center">
      <p i18n="@@message.awesome_task_created">Awesome! The task was created
        <jnt-link title="on GitLab"
                  i18n-title="@@label.on_gitlab"
                  [target]="ui.target.blank"
                  [icon]="{icon: ui.icons.link, position: ui.position.right}"
                  [outline]="ui.outline.fill"
                  [source]="issue.glUrl"></jnt-link>
      </p>

      <jnt-button text="Ok"
                  i18n-text="@@action.ok"
                  (click)="issue = null"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-informer>

<jnt-informer *ngIf="errors.length > 0"
              [backdrop]="backdrop"
              [placement]="ui.placement.absolute"
              (ok)="this.errors = []">
  <jnt-informer-message *ngFor="let e of errors"
                        [message]="e.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-form #content [formGroup]="form"
          [state]="progress.creating ? ui.state.loading : null"
          (submitted)="createIssue()">
  <jnt-stack [align]="ui.align.stretch">

    <jnt-form-item>
      <jnt-form-label for="title"
                      i18n="@@label.title">Title</jnt-form-label>
      <jnt-form-control name="title">
        <jnt-input formControlName="title"
                   placeholder="Some nice task"
                   i18n-placeholder="@@label.some_nice_task">
        </jnt-input>
        <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-row>
      <jnt-col [tablet]="6">
        <jnt-form-item>
          <jnt-form-label for="project"
                          i18n="@@label.project">Project</jnt-form-label>
          <jnt-form-control name="project">
            <ng-template #projectOption let-project="value"
                         let-selected="selected">
              <jnt-stack [orientation]="ui.orientation.horizontal"
                         [align]="ui.align.center"
                         [gutter]="ui.gutter.small">
                <jnt-avatar [size]="ui.size.tiny"
                            [image]="project.group?.glAvatar"></jnt-avatar>
                <div><span *ngIf="!selected">{{project.group?.title}} &bull; </span>{{project.title}}
                </div>
              </jnt-stack>
            </ng-template>
            <jnt-select formControlName="project"
                        placeholder="Select from list"
                        i18n-placeholder="@@label.select_from_list"
                        [state]="progress.projects ? ui.state.loading : null"
                        [features]="[ui.feature.search]"
                        [optionTemplate]="projectOption">
              <jnt-select-option *ngFor="let p of projects"
                                 [key]="p.id"
                                 [label]="p.fullTitle"
                                 [value]="p"></jnt-select-option>
            </jnt-select>
            <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>
      </jnt-col>

      <jnt-col [tablet]="6">
        <jnt-form-item>
          <jnt-form-label for="milestone"
                          i18n="@@label.milestone">Milestone</jnt-form-label>
          <jnt-form-control name="milestone">
            <jnt-select formControlName="milestone"
                        placeholder="Select from list"
                        i18n-placeholder="@@label.select_from_list"
                        [state]="progress.milestones ? ui.state.loading : null"
                        [features]="[ui.feature.allowEmpty]">
              <jnt-select-option *ngFor="let m of milestones"
                                 [key]="m.id"
                                 [label]="m.title"></jnt-select-option>
            </jnt-select>
            <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>
      </jnt-col>
    </jnt-row>

    <jnt-form-item>
      <jnt-form-label for="user" i18n="@@label.developer">Developer</jnt-form-label>
      <jnt-form-control name="user">
        <ng-template #userOption let-member="value"
                     let-selected="selected">
          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [align]="ui.align.center"
                     [justify]="ui.justify.between">
            <app-user [user]="member.user"
                      [roles]="member.roles"
                      [size]="userCardSize.small"></app-user>
            <jnt-icon *ngIf="!selected && (member.roles | includes: teamMemberRole.leader)"
                      [icon]="localUi.icons.leader"></jnt-icon>
          </jnt-stack>
        </ng-template>
        <jnt-select formControlName="user"
                    placeholder="Select from list"
                    i18n-placeholder="@@label.select_from_list"
                    [state]="progress.developers ? ui.state.loading : null"
                    [features]="[ui.feature.search]"
                    [optionTemplate]="userOption">
          <jnt-select-option *ngFor="let d of developers"
                             [key]="d.user.id"
                             [label]="d.user.name"
                             [value]="d"></jnt-select-option>
        </jnt-select>
        <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="labels" i18n="@@label.labels">Labels</jnt-form-label>
      <jnt-form-control name="labels">
        <jnt-switcher formControlName="labels"
                      [mode]="ui.select.mode.multiple"
                      [features]="[ui.feature.allowEmpty, ui.feature.adapted, ui.feature.marks]">
          <jnt-switcher-option label="Bug"
                               i18n-label="@@label.bug"
                               [value]="standardLabel.bug">
            <jnt-dot [color]="ui.color.red"></jnt-dot>
          </jnt-switcher-option>
          <jnt-switcher-option label="Urgent"
                               i18n-label="@@label.urgent"
                               [value]="standardLabel.urgent">
            <jnt-dot [color]="ui.color.orange"></jnt-dot>
          </jnt-switcher-option>
          <jnt-switcher-option label="Hotfix"
                               i18n-label="@@label.hotfix"
                               [value]="standardLabel.hotfix">
            <jnt-dot [color]="ui.color.yellow"></jnt-dot>
          </jnt-switcher-option>
          <jnt-switcher-option label="Discuss"
                               i18n-label="@@label.discuss"
                               [value]="standardLabel.discuss">
            <jnt-dot [color]="ui.color.green"></jnt-dot>
          </jnt-switcher-option>
        </jnt-switcher>
      </jnt-form-control>
    </jnt-form-item>


    <jnt-row>
      <jnt-col [tablet]="4">
        <jnt-stack [gutter]="ui.gutter.small"
                   [align]="ui.align.stretch">
          <jnt-form-item>
            <jnt-form-label for="estimate" i18n="@@label.estimate">Estimate</jnt-form-label>
            <jnt-form-control name="estimate">
              <jnt-input formControlName="estimate"
                         [type]="ui.input.type.number"
                         placeholder="Hours"
                         i18n-placeholder="@@label.hours"></jnt-input>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.center">
            <jnt-button-group [scheme]="ui.scheme.secondary"
                              [size]="ui.size.tiny">
              <jnt-button text="1h"
                          i18n-text="@@label.1h"
                          (click)="estimateControl.setValue(1)"></jnt-button>
              <jnt-button text="2h"
                          i18n-text="@@label.2h"
                          (click)="estimateControl.setValue(2)"></jnt-button>
              <jnt-button text="6h"
                          i18n-text="@@label.6h"
                          (click)="estimateControl.setValue(6)"></jnt-button>
            </jnt-button-group>
          </jnt-stack>
        </jnt-stack>
      </jnt-col>

      <jnt-col [tablet]="8">
        <jnt-stack [gutter]="ui.gutter.small"
                   [align]="ui.align.stretch">
          <jnt-form-item>
            <jnt-form-label for="dueDate" i18n="@@label.due_date">Due Date</jnt-form-label>
            <jnt-form-control name="dueDate">
              <jnt-date-picker formControlName="dueDate"></jnt-date-picker>
              <jnt-form-message i18n="@@message.field_required"
                                [validator]="ui.validator.required">
                This field is required
              </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-stack [orientation]="ui.orientation.horizontal"
                     [justify]="ui.justify.center">
            <jnt-button-group [scheme]="ui.scheme.secondary"
                              [size]="ui.size.tiny">
              <jnt-button text="Tomorrow"
                          i18n-text="@@action.tomorrow"
                          (click)="tomorrow()"></jnt-button>
              <jnt-button text="This week"
                          i18n-text="@@action.this_week"
                          (click)="thisWeek()"></jnt-button>
              <jnt-button text="Next week"
                          i18n-text="@@action.next_week"
                          (click)="nextWeek()"></jnt-button>
            </jnt-button-group>
          </jnt-stack>
        </jnt-stack>
      </jnt-col>
    </jnt-row>
  </jnt-stack>

  <ng-template #formFooterTemplate>
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.end">
      <jnt-button [type]="ui.button.type.submit"
                  [icon]="ui.icons.add"
                  text="Create"
                  i18n-text="@@action.create"></jnt-button>
    </jnt-stack>
  </ng-template>

</jnt-form>
