<sn-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <sn-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></sn-informer-message>
</sn-informer>

<sn-form [formGroup]="form" (submitted)="decline()">
  <sn-stack [orientation]="ui.orientation.vertical" [align]="ui.align.stretch">
    <sn-form-item>
      <sn-form-label for="declineReason"
                      i18n="@@label.comment">Comment</sn-form-label>
      <sn-form-control name="declineReason">
        <sn-input placeholder="Decline Reason"
                   i18n-placeholder="@@label.decline_reason"
                   formControlName="declineReason"></sn-input>
        <sn-form-message i18n="@@label.required" [validator]="ui.validator.required">
          This field is required
        </sn-form-message>
      </sn-form-control>
    </sn-form-item>
  </sn-stack>

  <ng-template #formFooterTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.center">
      <sn-button text="Save"
                  i18n-text="@@action.save"
                  [type]="ui.button.type.submit"
                  [loading]="saving"></sn-button>
    </sn-stack>
  </ng-template>
</sn-form>
