<ng-container *ngIf="!status && progress.loading; else dataTemplate">
  <sn-skeleton [lines]="5"></sn-skeleton>
</ng-container>

<ng-template #dataTemplate>
  <sn-stack [align]="ui.align.stretch" *ngIf="status; else noDataTemplate">
    <sn-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
      <div i18n="@@message.last_sync_time">Last Sync Time</div>
      <sn-label [label]="status.lastSync | dfnsFormat:'HH:mm:ss'"></sn-label>
    </sn-stack>
    <sn-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
      <div>WEB</div>
      <sn-label [label]="status.services.webHooks | diff | duration"></sn-label>
    </sn-stack>
    <sn-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
      <div>API</div>
      <sn-label [label]="status.services.api | diff | duration"></sn-label>
    </sn-stack>
    <hr>
    <sn-stack>
      <app-issue *ngFor="let issue of status.lastIssues"
                 [issue]="issue" issue></app-issue>
    </sn-stack>
  </sn-stack>
</ng-template>

<ng-template #noDataTemplate>
  <sn-skeleton [lines]="5" [animated]="false"></sn-skeleton>
</ng-template>
