@import "src/assets/styles/variables";

:host {
  display: block;
  min-width: 500px;
}

hr {
  width: 100%;
}

[issue] {
  width: 100%;
  &:not(:last-child) {
    display: block;
    padding-top: $app-gutter-tiny;
    margin-bottom: $app-gutter-tiny;
    border-bottom: 1px solid $app-secondary-background;
  }
}
