<jnt-container [fluid]="true">
  <div class="user-metrics">
    <label>Payroll</label>
    <p>
      <span class="closed">{{user.metrics?.payrollClosed | currency:'RUB'}}</span>
      &larr;
      <span class="opened">{{user.metrics?.payrollOpened | currency:'RUB'}}</span>
      <sup>{{user.metrics?.issuesOpenedCount}}</sup></p>
  </div>

  <form [formGroup]="filterForm">
    <jnt-stack [type]="ui.type.vertical">
      <jnt-calendar formControlName="dueDate" (updated)="period = $event">
        <jnt-week-metric i18n-title="@@est" title="Est"></jnt-week-metric>
        <jnt-week-metric i18n-title="@@spent" title="Spent"></jnt-week-metric>
        <jnt-week-metric i18n-title="@@eff" title="Eff"></jnt-week-metric>
        <jnt-week-metric i18n-title="@@payroll" title="Payroll"></jnt-week-metric>
        <jnt-week-metric i18n-title="@@paid" title="Paid"></jnt-week-metric>
        <ng-template #dayTemplate let-date="date">
          <div class="day">
            {{date | getDate}}
            <ul class="metrics">
              <ng-container *ngIf="format(date, formatDate) as key">
                <li *ngIf="metrics.days.get(key)?.timeSpent">
                  {{metrics.days.get(key)?.timeSpent | duration}}
                </li>
                <li *ngIf="metrics.days.get(key)?.timeRemains" class="remains">
                  {{metrics.days.get(key)?.timeRemains | duration}}
                </li>
                <li *ngIf="metrics.days.get(key)?.loading" class="loading">
                  {{metrics.days.get(key)?.loading | duration}}
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="issues" *ngIf="metrics.days.get(key)?.issues_count"></div>
        </ng-template>
        <ng-template #metricTemplate let-metric="metric" let-date="date">
          <ng-container *ngIf="format(date, formatDate) as key">
            <ng-container [ngSwitch]="metric">
              <ng-container *ngSwitchCase="0">{{metrics.weeks.get(key)?.timeEstimate | duration}}</ng-container>
              <ng-container *ngSwitchCase="1">{{metrics.weeks.get(key)?.timeSpent | duration}}</ng-container>
              <ng-container *ngSwitchCase="2">{{metrics.weeks.get(key)?.efficiency | number:'1.2-2'}}x</ng-container>
              <ng-container *ngSwitchCase="3">{{metrics.weeks.get(key)?.payroll | currency:'RUB'}}</ng-container>
              <ng-container *ngSwitchCase="3">{{metrics.weeks.get(key)?.paid | currency:'RUB'}}</ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
      </jnt-calendar>

      <jnt-calendar-week [period]="dueDate.value" class="week">
        <ng-template #dayTemplate let-date="date">
          <ng-container *ngIf="format(date, formatDate) as key">
            <div class="day"
                 *ngIf="metrics.days.get(key)?.timeSpent || metrics.days.get(key)?.timeRemains || metrics.days.get(key)?.loading">
              <ul class="metrics">
                <li *ngIf="metrics.days.get(key)?.timeSpent">
                  {{metrics.days.get(key)?.timeSpent | duration}}
                </li>
                <li *ngIf="metrics.days.get(key)?.timeRemains" class="remains">
                  {{metrics.days.get(key)?.timeRemains | duration}}
                </li>
                <li *ngIf="metrics.days.get(key)?.loading" class="loading">
                  {{metrics.days.get(key)?.loading | duration}}
                </li>
              </ul>
            </div>
          </ng-container>
          <div class="issues" *ngIf="metrics.days.get(key)?.issues_count"></div>
        </ng-template>
      </jnt-calendar-week>
    </jnt-stack>
  </form>

  <h1 i18n="@@issues_title">Issues</h1>
  <app-issues [user]="user?.id" [dueDate]="dueDate.value"></app-issues>

  <h1 i18n="@@issue_problems">Problems</h1>
  <app-issue-problems [user]="user?.id"></app-issue-problems>

  <h1 i18n="@@time_expenses_title">Time Expenses</h1>
  <app-time-expenses [user]="user?.id" [date]="dueDate.value"></app-time-expenses>
</jnt-container>
