@import '../../../style/variables';

:host {
  display: block;
  padding: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  .week {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.metric {
  color: $white-color;
  background-color: $primary-color;
  padding: 2px;
  border-radius: 5px;
  &.loading {
    background-color: orangered;
  }
}

.issues {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: blue;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
