@import '../../../style/variables';

:host {
  display: block;
}

.user-metrics {
  label {
    text-transform: uppercase;
    font-size: .8em;
  }
  p {
    margin: 0;
    .closed {
      color: green;
      font-size: 2em;
    }
    .opened {
      color: orangered;
    }
    sup {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border-radius: 50%;
      padding: 3px;
      width: 10px;
      height: 10px;
      border: 1px solid gray;
      font-size: .75em;
      margin-left: 5px;
    }
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 70px;
  .metrics {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .8em;
    li {
      display: block;
      color: $white-color;
      background-color: $primary-color;
      padding: 2px 3px;
      border-radius: 5px;
      line-height: 1em;
      &.remains {
        background-color: orangered;
      }
      &.loading {
        background-color: cornflowerblue;
      }
    }
  }
}

form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .week {
    margin-bottom: 15px;
  }
}

.issues {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: blue;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
