@import '../../../style/variables';

:host {
  display: block;
  padding: 20px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 70px;
  .metrics {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .8em;
    li {
      display: block;
      color: $white-color;
      background-color: $primary-color;
      padding: 2px 3px;
      border-radius: 5px;
      line-height: 1em;
      &.estimate {
        background-color: orangered;
      }
      &.loading {
        background-color: cornflowerblue;
      }
    }
  }
}

form {
  display: flex;
  justify-content: space-between;
  .week {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.issues {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: blue;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
