<div class="user-metrics">
  <label>Payroll</label>
  <p>
    <span class="closed">{{user.metrics?.payrollClosed | currency}}</span>
    &larr;
    <span class="opened">{{user.metrics?.payrollOpened | currency}}</span>
    <sup>{{user.metrics?.issuesOpenedCount}}</sup></p>
</div>

<form [formGroup]="filterForm">
  <jnt-calendar-week [period]="dueDate.value">
    <ng-template #dayTemplate let-date="date">
      <div class="day">
        {{date | getDate}}
        <ng-container *ngIf="format(date, formatDate) as key">
          <ul class="metrics">
            <li *ngIf="metrics.days.get(key)?.timeSpent">
              {{metrics.days.get(key)?.timeSpent | duration}}
            </li>
            <li *ngIf="metrics.days.get(key)?.timeRemains" class="remains">
              {{metrics.days.get(key)?.timeRemains | duration}}
            </li>
            <li *ngIf="metrics.days.get(key)?.loading" class="loading">
              {{metrics.days.get(key)?.loading | duration}}
            </li>
          </ul>
        </ng-container>
      </div>
      <div class="issues" *ngIf="metrics.days.get(key)?.issues_count"></div>
    </ng-template>
  </jnt-calendar-week>

  <jnt-calendar formControlName="dueDate" (updated)="period = $event">
    <ng-template #dayTemplate let-date="date">
      <div class="day">
        {{date | getDate}}
        <ul class="metrics">
          <ng-container *ngIf="format(date, formatDate) as key">
            <li *ngIf="metrics.days.get(key)?.timeSpent">
              {{metrics.days.get(key)?.timeSpent | duration}}
            </li>
            <li *ngIf="metrics.days.get(key)?.timeRemains" class="remains">
              {{metrics.days.get(key)?.timeRemains | duration}}
            </li>
            <li *ngIf="metrics.days.get(key)?.loading" class="loading">
              {{metrics.days.get(key)?.loading | duration}}
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="issues" *ngIf="metrics.days.get(key)?.issues_count"></div>
    </ng-template>
    <ng-template #metricTemplate let-metric="metric" let-date="date">
      <ng-container *ngIf="format(date, formatDate) as key">
        <ng-container [ngSwitch]="metric">
          <ng-container *ngSwitchCase="0">{{metrics.weeks.get(key)?.timeEstimate | duration}}</ng-container>
          <ng-container *ngSwitchCase="1">{{metrics.weeks.get(key)?.timeSpent | duration}}</ng-container>
          <ng-container *ngSwitchCase="2">{{metrics.weeks.get(key)?.efficiency | number:'1.2-2'}}x</ng-container>
          <ng-container *ngSwitchCase="3">{{metrics.weeks.get(key)?.earnings | currency}}</ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </jnt-calendar>
</form>

<h1 i18n="@@issues_title">Issues</h1>
<app-issues [user]="user?.id" [dueDate]="dueDate.value"></app-issues>

<h1 i18n="@@issue_problems">Problems</h1>
<app-issue-problems [user]="user?.id"></app-issue-problems>

<h1 i18n="@@time_expenses_title">Time Expenses</h1>
<app-time-expenses [user]="user?.id" [date]="dueDate.value"></app-time-expenses>
