<table border="1">
  <thead>
  <tr>
    <th i18n="@@monday_mo">Mo</th>
    <th i18n="@@tuesday_tu">Tu</th>
    <th i18n="@@wednesday_we">We</th>
    <th i18n="@@thursday_th">Th</th>
    <th i18n="@@friday_fr">Fr</th>
    <th i18n="@@saturday_sa">Sa</th>
    <th i18n="@@sunday_su">Su</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td *ngFor="let d of days" (click)="!!onChange ? onChange(d) : null">
      <ng-container
        *ngTemplateOutlet="!!dayTemplate ? dayTemplate : defaultDayTemplate;context:{date: d}">
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #defaultDayTemplate let-date="date">
  <i>{{date.date()}}</i>
</ng-template>
