:host {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  padding: 20px;
  background: antiquewhite;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
  display: flex;
  li:not(:first-child) {
    &:before {
      margin: 0 5px;
      content: '|';
    }
  }
}

p {
  margin: 0;
}

button {
  margin-left: 10px;
}
