<jnt-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <jnt-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-form [formGroup]="form">
  <jnt-table #table [features]="[ui.feature.reload, ui.feature.search]"
             (reloaded)="loadSummary()"
             formControlName="table">
    <ng-template #tableActionsTemplate>
      <jnt-button text="Today"
                  [icon]="ui.icons.calendar"
                  [scheme]="ui.scheme.secondary"
                  [outline]="ui.outline.transparent"
                  (click)="dueDateControl.setValue(today)"></jnt-button>
    </ng-template>

    <ng-template #tableFiltersTemplate>
      <jnt-row>
        <jnt-col [wide]="2" [desktop]="4" [tablet]="4">
          <ng-template #projectOption let-project="value"
                       let-selected="selected">
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.center"
                       [justify]="ui.justify.between"
                       [gutter]="ui.gutter.small">
              <jnt-stack [orientation]="ui.orientation.horizontal"
                         [gutter]="ui.gutter.small">
                <jnt-avatar [size]="ui.size.tiny"
                            [image]="project.project.group?.glAvatar"></jnt-avatar>
                <div><span *ngIf="!selected">{{project.project.group?.title}} &bull; </span>{{project.project.title}}
                </div>
              </jnt-stack>
              <jnt-badge *ngIf="!selected && project.issues?.remains > 0"
                         [position]="ui.position.inline"
                         [text]="project.issues.remains | duration:durationFormat.short"
                         [color]="ui.color.green"></jnt-badge>
            </jnt-stack>
          </ng-template>
          <jnt-select formControlName="project"
                      placeholder="Project"
                      [width]="ui.width.fluid"
                      [state]="progress.projects ? ui.state.loading : null"
                      [features]="[ui.feature.search, ui.feature.allowEmpty]"
                      [optionTemplate]="projectOption">
            <jnt-select-option *ngIf="!!project"
                               [key]="project.id"
                               [label]="project.fullTitle"
                               [value]="{project: project}"></jnt-select-option>
            <jnt-select-option *ngFor="let p of projects"
                               [key]="p.project.id"
                               [label]="p.project.fullTitle"
                               [value]="p"></jnt-select-option>
          </jnt-select>
        </jnt-col>
        <jnt-col *ngIf="!!team" [wide]="2" [desktop]="4" [tablet]="4">
          <ng-template #userOption let-member="value"
                       let-selected="selected">
            <app-user [user]="member.user"
                      [roles]="member.roles"
                      [size]="userCardSize.small"></app-user>
          </ng-template>
          <jnt-select formControlName="developer"
                      placeholder="Developer"
                      [width]="ui.width.fluid"
                      [features]="[ui.feature.search, ui.feature.allowEmpty]"
                      [state]="progress.developers ? ui.state.loading : null"
                      [optionTemplate]="userOption">
            <jnt-select-option *ngIf="!!developer"
                               [key]="developer.id"
                               [label]="developer.name"
                               [value]="{user: developer}"></jnt-select-option>
            <jnt-select-option *ngFor="let m of developers"
                               [key]="m.user.id"
                               [label]="m.user.name"
                               [value]="m"></jnt-select-option>
          </jnt-select>
        </jnt-col>
        <jnt-col [wide]="2" [desktop]="2" [tablet]="2">
          <jnt-date-picker data-due-date formControlName="dueDate"
                           [width]="ui.width.fluid"
                           [features]="[ui.feature.allowEmpty]"></jnt-date-picker>
        </jnt-col>
        <jnt-col [wide]="6" [tablet]="6">
          <jnt-switcher formControlName="type">
            <jnt-switcher-option label="All"
                                 i18n-label="@@action.filter_issues_all"
                                 [disabled]="summary?.count <= 0"
                                 [value]="issuesType.all">
              <jnt-badge *ngIf="summary?.timeSpent > 0"
                         [color]="ui.color.yellow"
                         [text]="summary?.timeSpent | duration:durationFormat.short"></jnt-badge>
              <jnt-badge *ngIf="summary?.count > 0"
                         [overflow]="9999"
                         [value]="summary?.count"></jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option label="Closed"
                                 i18n-label="@@action.filter_type_closed"
                                 [disabled]="summary?.closedCount <= 0"
                                 [value]="issuesType.closed">
              <jnt-badge *ngIf="summary?.closedCount > 0"
                         [overflow]="9999"
                         [value]="summary?.closedCount"></jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option label="Opened"
                                 i18n-label="@@action.filter_type_opened"
                                 [disabled]="summary?.openedCount <= 0"
                                 [value]="issuesType.opened">
              <jnt-badge *ngIf="summary?.openedCount > 0"
                         [value]="summary?.openedCount"
                         [color]="ui.color.green"></jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option label="Problems"
                                 i18n-label="@@action.filter_type_problems"
                                 [disabled]="summary?.problemsCount <= 0"
                                 [value]="issuesType.problems">
              <jnt-badge *ngIf="summary?.problemsCount > 0"
                         [value]="summary?.problemsCount"
                         [color]="ui.color.red"></jnt-badge>
            </jnt-switcher-option>
          </jnt-switcher>
        </jnt-col>
      </jnt-row>
    </ng-template>

    <jnt-table-column width="55px" [align]="ui.align.center">
      <ng-template #tableCellTemplate let-state="state" let-labels="labels">
        <jnt-icon data-doing *ngIf="state == issueState.opened && (labels | hasLabel:standardLabel.doing)"
                  [icon]="localUi.icons.doing"></jnt-icon>
        <jnt-icon data-delayed *ngIf="labels | hasLabel:standardLabel.delayed"
                  [icon]="localUi.icons.delayed"></jnt-icon>
        <jnt-icon data-done *ngIf="labels | hasLabel:standardLabel.done"
                  [icon]="localUi.icons.done"></jnt-icon>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column title="Title"
                      i18n-title="@@label.title">
      <ng-template #tableCellTemplate let-id="id"
                   let-title="title"
                   let-glUrl="glUrl"
                   let-state="state"
                   let-user="user"
                   let-author="author"
                   let-project="project"
                   let-closedAt="closedAt">
        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [gutter]="ui.gutter.small">
          <ng-container *ngIf="view === viewType.leader">
            <jnt-avatar *ngIf="!!author"
                        [name]="author.name"
                        [image]="author.avatar"
                        [size]="ui.size.tiny"></jnt-avatar>
            <jnt-icon [icon]="ui.icons.chevronRight"></jnt-icon>
          </ng-container>
          <app-issue [issue]="{id: id, title: title, glUrl: glUrl, state: state,
            user: user, author: (view === viewType.developer ? author : null), project: project, closedAt: closedAt}">
          </app-issue>
        </jnt-stack>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column width="20%"
                      title="Labels"
                      i18n-title="@@label.labels">
      <ng-template #tableCellTemplate let-labels="labels">
        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [gutter]="ui.gutter.small"
                   [justify]="ui.justify.start"
                   [wrap]="ui.wrap.wrap"
                   [spacing]="ui.gutter.small">
          <jnt-label *ngFor="let l of (labels | labels)"
                     [size]="ui.size.small"
                     [color]="l.color" [label]="l.title"></jnt-label>
        </jnt-stack>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column width="75px"
                      title="Ticket"
                      i18n-ticket="@@label.ticket"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-ticket="ticket">
        <jnt-link *ngIf="!!ticket && !!ticket.url"
                  [icon]="ui.icons.link"
                  [target]="ui.target.blank"
                  [source]="ticket.url">
        </jnt-link>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column width="175px"
                      title="Due date"
                      i18n-title="@@label.due_date"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-dueDate="dueDate" let-problems="problems">
        <jnt-stack [align]="ui.align.center">
          <app-due-date [dueDate]="dueDate" [problems]="problems"></app-due-date>
        </jnt-stack>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column width="20%"
                      title="Progress"
                      i18n-title="@@label.progress"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-timeEstimate="timeEstimate"
                   let-timeSpent="timeSpent"
                   let-totalTimeSpent="totalTimeSpent"
                   let-metrics="metrics"
                   let-problems="problems">
        <jnt-progress-bar progress [value]="totalTimeSpent / timeEstimate * 100">
          <jnt-progress-line [from]="75" [color]="ui.color.yellow"></jnt-progress-line>
          <jnt-progress-line [from]="101" [color]="ui.color.red"></jnt-progress-line>
          <ng-template #progressBarLegendTemplate>
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.center"
                       [justify]="ui.justify.between"
                       [gutter]="ui.gutter.normal">
              <div></div>
              <div metric estimate>{{timeEstimate | duration}}</div>
            </jnt-stack>
          </ng-template>
        </jnt-progress-bar>
        <div efficiency>
            <span [attr.slow]="totalTimeSpent > timeEstimate">
              {{(totalTimeSpent > timeEstimate ? timeEstimate - totalTimeSpent : totalTimeSpent) | duration}}
            </span>
        </div>
        <jnt-label *ngIf="problems?.includes(issueProblem.emptyEstimate)"
                   [size]="ui.size.small"
                   [color]="ui.color.red"
                   label="estimate"
                   i18n-label="@@label.estimate">
        </jnt-label>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column *ngIf="view === viewType.developer"
                      width="100px"
                      title="Payroll"
                      i18n-title="@@label.payroll"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <app-earn [payroll]="metrics.payroll"
                  [paid]="metrics.paid"></app-earn>
      </ng-template>
    </jnt-table-column>

    <ng-template #tableRowActionsTemplate let-row="row" let-hide="hide">
      <jnt-menu [orientation]="ui.orientation.vertical">
        <jnt-menu-item [icon]="ui.icons.sync"
                       title="Sync from GitLab"
                       i18n-title="@@action.sync_from_gitlab"
                       [loading]="progress.syncing"
                       (click)="sync(row.id, hide)"></jnt-menu-item>
      </jnt-menu>
    </ng-template>

  </jnt-table>
</jnt-form>

