@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import "~@junte/ui/lib/assets/styles/forms/date-picker";
@import "~@junte/ui/lib/assets/styles/elements/icon";
$jnt-ng-deep: true;

:host {
  display: block;
}

[data-group] {
  color: $jnt-muted-color;
}

[data-summary] {
  @include max-for-tablet() {
    width: 100%;
  }
}

[data-due-date] {
  @include jnt-date-picker((width: 150px), '&');
}

[data-doing], [data-done] {
  @include jnt-icon((size: 20px, color: $jnt-green-color), '&');
}

[data-delayed] {
  @include jnt-icon((size: 20px, color: $jnt-orange-color), '&');
}

[data-bug] {
  color: $jnt-fail-color;
}
