@import "src/assets/styles/variables";
@import "~@esanum/ui/lib/assets/styles/forms/date-picker";
@import "~@esanum/ui/lib/assets/styles/elements/icon";
$sn-ng-deep: true;

:host {
  display: block;
}

[data-group] {
  color: $app-muted-color;
}

[data-summary] {
  @include max-for-tablet() {
    width: 100%;
  }
}

[data-due-date] {
  @include sn-date-picker((width: 150px), '&');
}

[data-doing], [data-done] {
  @include sn-icon((size: 20px, color: $app-green-color), '&');
}

[data-delayed] {
  @include sn-icon((size: 20px, color: $app-orange-color), '&');
}

[data-bug] {
  color: $app-fail-color;
}
