<sn-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <sn-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></sn-informer-message>
</sn-informer>

<sn-form [formGroup]="form">
  <sn-table #table [features]="[ui.feature.reload, ui.feature.search]"
             (reloaded)="loadSummary()"
             formControlName="table">
    <ng-template #tableFiltersTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-switcher formControlName="type">
          <sn-switcher-option label="All"
                               i18n-label="@@action.filter_type_all"
                               [disabled]="summary?.count <= 0"
                               [value]="mergeRequestType.all">
            <sn-badge *ngIf="summary?.count"
                       [overflow]="null"
                       [value]="summary?.count"></sn-badge>
          </sn-switcher-option>
          <sn-switcher-option label="Closed"
                               i18n-label="@@action.filter_type_closed"
                               [disabled]="summary?.closedCount <= 0"
                               [value]="mergeRequestType.closed">
            <sn-badge *ngIf="summary?.closedCount"
                       [overflow]="null"
                       [value]="summary?.closedCount"></sn-badge>
          </sn-switcher-option>
          <sn-switcher-option label="Opened"
                               i18n-label="@@action.filter_type_opened"
                               [disabled]="summary?.openedCount <= 0"
                               [value]="mergeRequestType.opened">
            <sn-badge *ngIf="summary?.openedCount"
                       [value]="summary?.openedCount"
                       [color]="ui.color.green"></sn-badge>
          </sn-switcher-option>
          <sn-switcher-option label="Merged"
                               i18n-label="@@action.filter_type_merged"
                               [disabled]="summary?.mergedCount <= 0"
                               [value]="mergeRequestType.merged">
            <sn-badge *ngIf="summary?.mergedCount"
                       [overflow]="null"
                       [value]="summary?.mergedCount"
                       [color]="ui.color.yellow"></sn-badge>
          </sn-switcher-option>
        </sn-switcher>
      </sn-stack>
    </ng-template>

    <sn-table-column title="Title"
                      i18n-title="@@label.title">
      <ng-template #tableCellTemplate let-id="id" let-title="title" let-labels="labels" let-glUrl="glUrl"
                   let-state="state"
                   let-issues="issues" let-user="user" let-project="project">
        <app-merge-request [mergeRequest]="{id: id, title: title, labels: labels, glUrl: glUrl, state: state,
                             issues: issues, user: user, project: project}"></app-merge-request>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="20%"
                      title="Labels"
                      i18n-title="@@label.labels">
      <ng-template #tableCellTemplate let-labels="labels">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [gutter]="ui.gutter.small"
                   [justify]="ui.justify.start"
                   [wrap]="ui.wrap.wrap"
                   [spacing]="ui.gutter.small">
          <sn-label *ngFor="let l of (labels | labels)"
                     [size]="ui.size.small"
                     [color]="l.color" [label]="l.title"></sn-label>
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="20%"
                      title="Progress"
                      i18n-title="@@label.progress"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-timeEstimate="timeEstimate"
                   let-totalTimeSpent="totalTimeSpent"
                   let-state="state"
                   let-problems="problems">
        <app-work-progress [estimate]="timeEstimate"
                           [spent]="totalTimeSpent"
                           [efficiency]="state == mergeRequestState.merged ? timeEstimate / totalTimeSpent : null"
                           [problems]="problems"></app-work-progress>
      </ng-template>
    </sn-table-column>

    <sn-table-column *ngIf="view === viewType.developer"
                      width="100px"
                      title="Payroll"
                      i18n-title="@@label.payroll"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <app-earn [payroll]="metrics.payroll"
                  [paid]="metrics.paid"></app-earn>
      </ng-template>
    </sn-table-column>

    <ng-template #tableRowActionsTemplate let-row="row" let-hide="hide">
      <sn-menu [orientation]="ui.orientation.vertical">
        <sn-menu-item [icon]="ui.icons.sync"
                       title="Sync"
                       i18n-title="@@action.sync_from_gitlab"
                       [loading]="progress.syncing"
                       (click)="sync(row.id, hide)"></sn-menu-item>
      </sn-menu>
    </ng-template>

  </sn-table>
</sn-form>
