
:host {
  display: block;
}

thead {
  .sortable {
    cursor: pointer;
  }
  .metrics {
    text-align: center;
  }
}

tbody {
  tr {
    &.current {
      background-color: silver;
    }
    td {
      min-width: 50px;
      text-align: center;
      &.day {
        cursor: pointer;
        &.current {
          background: lightcoral;
        }
      }
    }
  }
}
