<table border="1" cellpadding="1" cellspacing="0">
  <thead>
  <tr>
    <td>
      <button (click)="period = period.subtract(1, 'month')">
        &larr;
      </button>
    </td>
    <td colspan="5">
      {{period.format('MMMM')}}, {{period.format('YYYY')}}
    </td>
    <td>
      <button (click)="period = period.add(1, 'months')">
        &rarr;
      </button>
    </td>
    <td *ngIf="metrics.length"
        class="metrics"
        [attr.colspan]="metrics.length"
        i18n="@@week_metrics">Metrics
    </td>
  </tr>
  <tr>
    <th i18n="@@monday_mo">Mo</th>
    <th i18n="@@tuesday_tu">Tu</th>
    <th i18n="@@wednesday_we">We</th>
    <th i18n="@@thursday_th">Th</th>
    <th i18n="@@friday_fr">Fr</th>
    <th i18n="@@saturday_sa">Sa</th>
    <th i18n="@@sunday_su">Su</th>

    <th *ngFor="let m of metrics">
      {{m.title}}
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let w of weeks" [class.current]="current.week() === w.number">
    <td class="day" *ngFor="let d of w.days" [class.current]="d.format('L') === current.format('L')"
        (click)="onChange(d)">
      <ng-container *ngTemplateOutlet="!!dayTemplate ? dayTemplate: defaultDayTemplate;context:{date: d}">
      </ng-container>
    </td>

    <td *ngFor="let m of metrics;let i = index;">
      <ng-container *ngTemplateOutlet="metricTemplate;context:{metric: i, date: w.date}">
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #defaultDayTemplate let-day="day">
  {{day.date()}}
</ng-template>
