<sn-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <sn-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></sn-informer-message>
</sn-informer>

<sn-form [formGroup]="form"
          [state]="progress.saving ? ui.state.loading : null"
          (submitted)="save()">
  <sn-stack [orientation]="ui.orientation.vertical" [align]="ui.align.stretch">
    <sn-form-item *ngIf="view === viewType.leader">
      <sn-form-label i18n="@@label.developer">Developer</sn-form-label>
      <sn-select placeholder="Developer"
                  i18n-placeholder="@@label.developer"
                  formControlName="user">
        <sn-select-option *ngIf="!!user"
                           [label]="user.name"
                           [key]="user.id">
        </sn-select-option>
        <sn-select-option *ngFor="let member of members"
                           [label]="member.user.name"
                           [key]="member.user.id">
        </sn-select-option>
      </sn-select>
    </sn-form-item>

    <sn-row>
      <sn-col tablet="6">
        <sn-form-item>
          <sn-form-label for="fromDate"
                          i18n="@@label.from_date">From
          </sn-form-label>
          <sn-form-control name="fromDate">
            <sn-date-picker placeholder="Start date" formControlName="fromDate"></sn-date-picker>
            <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </sn-form-message>
          </sn-form-control>
        </sn-form-item>
      </sn-col>
      <sn-col tablet="6">
        <sn-form-item>
          <sn-form-label for="toDate"
                          i18n="@@label.to_date">To
          </sn-form-label>
          <sn-form-control name="toDate">
            <sn-date-picker placeholder="To date" formControlName="toDate"></sn-date-picker>
            <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </sn-form-message>
          </sn-form-control>
        </sn-form-item>
      </sn-col>
    </sn-row>

    <sn-form-item>
      <sn-form-label i18n="@@label.reason" for="reason">Reason</sn-form-label>
      <sn-form-control name="reason">
        <sn-switcher formControlName="reason"
                      [orientation]="ui.orientation.horizontal">
          <sn-switcher-option label="Dayoff"
                               i18n-label="@@action.dayoff"
                               [value]="reasons.dayoff">
            <sn-dot [color]="ui.color.yellow"></sn-dot>
          </sn-switcher-option>
          <sn-switcher-option label="Disease"
                               i18n-label="@@action.disease"
                               [value]="reasons.disease">
            <sn-dot [color]="ui.color.red"></sn-dot>
          </sn-switcher-option>
          <sn-switcher-option label="Vacation"
                               i18n-label="@@action.vacation"
                               [value]="reasons.vacation">
            <sn-dot [color]="ui.color.green"></sn-dot>
          </sn-switcher-option>
        </sn-switcher>
        <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </sn-form-message>
      </sn-form-control>
    </sn-form-item>

    <sn-form-item>
      <sn-form-label for="paidDays"
                      i18n="@@label.paid_days">Paid Days
      </sn-form-label>
      <sn-form-control name="paidDays">
        <sn-input formControlName="paidDays"
                   [type]="ui.input.type.number"></sn-input>
      </sn-form-control>
    </sn-form-item>

    <sn-form-item>
      <sn-form-label for="comment"
                      i18n="@@label.comment">Comment
      </sn-form-label>
      <sn-form-control name="comment">
        <sn-input formControlName="comment"
                   placeholder="Comment"
                   [features]="[ui.feature.multiline]"
                   i18n-placeholder="@@label.comment"></sn-input>
        <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </sn-form-message>
      </sn-form-control>
    </sn-form-item>
  </sn-stack>

  <ng-template #formFooterTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.end">
      <sn-button text="Save"
                  i18n-text="@@action.save"
                  [icon]="ui.icons.save"
                  [type]="ui.button.type.submit"
                  [loading]="progress.saving"></sn-button>
    </sn-stack>
  </ng-template>
</sn-form>
