<jnt-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <jnt-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-block title="Projects in work"
           [padding]="ui.gutter.none"
           [spacing]="ui.gutter.none"
           [width]="ui.width.fluid">
  <jnt-chart title="Opened project"
             metric="Hours"
             i18n-title="@@label.opened_project"
             i18n-metric="@@label.hours"
             keyField="id"
             [widthMark]="50"
             (selected)="selected.emit($event.id)">
    <jnt-chart-indicator *ngFor="let p of summary?.projects;let i = index"
                         [data]="p.project"
                         [value]="p.issues.percentage * 100"
                         [label]="p.issues.remains  | duration:durationFormat.short"
                         [color]="colors[i % colors.length]">
      <ng-template #chartIndicatorTitleTemplate>
        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [align]="ui.align.center"
                   [gutter]="ui.gutter.small">
          <jnt-avatar [size]="ui.size.small"
                      [image]="p.project.group?.glAvatar"></jnt-avatar>
          <jnt-stack [gutter]="ui.gutter.none">
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [gutter]="ui.gutter.tiny">
              <div *ngIf="!!p.project.group">{{p.project.group.title}}</div>
              <jnt-label [label]="p.project.title"
                         [color]="ui.color.paleNavy"
                         [size]="ui.size.small"></jnt-label>
            </jnt-stack>
            <ng-container *ngIf="p.project.milestones?.length > 0">
              <small>{{p.project.milestones[0].title}}
                <ng-container *ngIf="p.project.milestones[0].dueDate as dueDate">| {{dueDate | dueDate}}</ng-container>
              </small>
            </ng-container>
          </jnt-stack>
        </jnt-stack>
      </ng-template>
    </jnt-chart-indicator>
  </jnt-chart>
</jnt-block>
