<sn-form [formGroup]="form">
  <sn-table #table formControlName="table">

    <sn-table-column width="20%"
                      title="Created"
                      i18n-title="@@label.charged_time">
      <ng-template #tableCellTemplate let-id="id" let-createdAt="createdAt">
        <sn-link [source]="[id]"
                  [title]="createdAt | dfnsFormat:'PP'"></sn-link>
      </ng-template>
    </sn-table-column>

    <sn-table-column *ngIf="view === viewType.leader || view === viewType.shareholder"
                      title="Developer"
                      i18n-title="@@label.user">
      <ng-template #tableCellTemplate
                   let-user="user">
        <app-user [user]="user"
                  [size]="userCardSize.small"></app-user>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="150px"
                      title="Charged Time"
                      i18n-title="@@label.charged_time"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-id="id" let-chargedTime="chargedTime">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          <sn-label [label]="chargedTime | duration"
                     [color]="ui.color.paleNavy"></sn-label>
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="150px"
                      title="Period"
                      i18n-title="@@label.period"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-periodTo="periodTo"
                   let-periodFrom="periodFrom">
        <sn-date-period [start]="periodFrom" [end]="periodTo"></sn-date-period>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="100px"
                      title="Bonus"
                      i18n-title="@@label.bonus"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-bonus="bonus">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{bonus | money}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="100px"
                      title="Penalty"
                      i18n-title="@@label.penalty"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-penalty="penalty">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{penalty | money}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="10%"
                      title="Total"
                      i18n-title="@@label.total"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-total="total">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{total | money}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="55px"
                      title="Payed"
                      i18n-title="@@label.payed"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-payed="payed">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.center">
          <sn-icon *ngIf="payed" [icon]="ui.icons.checked"></sn-icon>
        </sn-stack>
      </ng-template>
    </sn-table-column>
  </sn-table>
</sn-form>
