<jnt-form [formGroup]="form" jntValidation (submitted)="save()">
  <jnt-stack [type]="ui.stack.type.vertical" [align]="ui.flex.align.stretch">
    <jnt-form-item>
      <jnt-form-label for="fromDate">From</jnt-form-label>
      <jnt-form-control name="fromDate">
        <jnt-date-picker placeholder="Start date" formControlName="fromDate"></jnt-date-picker>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="toDate">To</jnt-form-label>
      <jnt-form-control name="toDate">
        <jnt-date-picker placeholder="To date" formControlName="toDate"></jnt-date-picker>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="reason">Reason</jnt-form-label>
      <jnt-form-control name="reason">
        <jnt-switcher formControlName="reason" [type]="ui.orientation.horizontal">
          <jnt-switcher-option label="Dayoff"
                               [value]="reasons.dayoff">
          </jnt-switcher-option>
          <jnt-switcher-option label="Disease"
                               [value]="reasons.disease">
          </jnt-switcher-option>
          <jnt-switcher-option label="Vacation"
                               [value]="reasons.vacation">
          </jnt-switcher-option>
        </jnt-switcher>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="comment">Comment</jnt-form-label>
      <jnt-form-control name="comment">
        <jnt-input placeholder="Comment" formControlName="comment"></jnt-input>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>
  </jnt-stack>

  <ng-template #formFooterTemplate>
    <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.center">
      <jnt-button text="Save" [type]="ui.form.button.type.submit" [loading]="saving"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
