<sn-stack [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small"
           [align]="ui.align.center">
  <sn-avatar *ngIf="(issue.author || issue.user) as u"
              [name]="u.name"
              [image]="u.avatar"
              [size]="ui.size.tiny"></sn-avatar>
  <sn-stack [gutter]="ui.gutter.none">
    <sn-stack [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small">
      <sn-link [attr.data-closed]="issue.state == issueState.closed"
                [source]="issue.glUrl"
                [target]="ui.target.blank"
                [attr.closed]="issue.state == issueState.closed"
                [title]="issue.title">
      </sn-link>
      <sn-stack [orientation]="ui.orientation.horizontal"
                 [gutter]="ui.gutter.small"
                 [justify]="ui.justify.start"
                 [wrap]="ui.wrap.wrap"
                 [spacing]="ui.gutter.small">
        <sn-label *ngFor="let l of issue.labels"
                   [size]="ui.size.small"
                   [color]="l.color" [label]="l.title"></sn-label>
      </sn-stack>
    </sn-stack>
    <small>{{issue.project?.group?.title}} / {{issue.project?.title}}</small>
  </sn-stack>
</sn-stack>
