<jnt-stack [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small">
  <jnt-avatar *ngIf="(issue.author || issue.user) as u"
              [name]="u.name"
              [image]="u.avatar"
              [size]="ui.size.tiny"></jnt-avatar>
  <jnt-stack [gutter]="ui.gutter.none">
    <div>
      <jnt-link [attr.data-closed]="issue.state == issueState.closed"
                [source]="issue.glUrl"
                [target]="ui.target.blank"
                [attr.closed]="issue.state == issueState.closed"
                [title]="issue.title">
      </jnt-link>
      <small *ngIf="issue.state == issueState.closed && !!issue.closedAt">&nbsp;{{issue.closedAt | dfnsFormatDistanceToNow}}</small>
    </div>
    <small>{{issue.project?.group?.title}} / {{issue.project?.title}}</small>
  </jnt-stack>
</jnt-stack>
