<jnt-stack [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small">
  <jnt-avatar *ngIf="!!issue.user" [text]="issue.user.name" [image]="issue.user.avatar"
              [size]="ui.size.tiny"></jnt-avatar>
  <jnt-stack [orientation]="ui.orientation.vertical"
             [gutter]="ui.gutter.tiny">
    <jnt-link *ngIf="issue.ticket" ticket [icon]="ui.icons.link"
              target="_blank"
              [source]="issue.ticket.url"
              [title]="issue.ticket.title"
              [outline]="ui.outline.ghost">
    </jnt-link>
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small"
               [justify]="ui.justify.start"
               [wrap]="ui.wrap.wrap">
      <jnt-link [source]="issue.glUrl" target="_blank"
                [attr.closed]="issue.state == issueState.closed"
                [title]="issue.title">
      </jnt-link>
      <jnt-label *ngFor="let l of (issue.labels | labels)"
                 [size]="ui.size.small"
                 [color]="l.color" [label]="l.title"></jnt-label>
      <jnt-icon state doing *ngIf="issue.state == issueState.opened && (issue.labels | hasLabel:standardLabel.doing)"
                [icon]="ui.icons.animated.runningMan"></jnt-icon>
      <jnt-icon state bug *ngIf="issue.labels | hasLabel:standardLabel.bug"
                [icon]="ui.icons.bug"></jnt-icon>
      <jnt-icon state delayed *ngIf="issue.labels | hasLabel:standardLabel.delayed"
                [icon]="ui.icons.pause"></jnt-icon>
      <jnt-icon state *ngIf="issue.labels | hasLabel:standardLabel.done"
                [icon]="ui.icons.checked"></jnt-icon>
      <small *ngIf="issue.state == issueState.closed && !!issue.closedAt">
        {{issue.closedAt | dfnsFormatDistanceToNow}}
      </small>
    </jnt-stack>
    <small>{{issue.project?.fullTitle}}</small>
  </jnt-stack>
</jnt-stack>
