<jnt-stack [type]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small">
  <jnt-avatar *ngIf="!!issue.user" [text]="issue.user.name" [image]="issue.user.avatar"
              [size]="ui.sizes.tiny"></jnt-avatar>
  <jnt-stack [type]="ui.stack.type.vertical"
             [gutter]="ui.gutter.tiny">
    <jnt-link *ngIf="issue.ticket" ticket [icon]="ui.icons.externalLink"
              target="_blank"
              [source]="issue.ticket.url"
              [title]="issue.ticket.title"
              [outline]="ui.outline.ghost">
    </jnt-link>
    <jnt-stack [type]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small"
               [justify]="ui.flex.justify.start"
               [wrap]="ui.flex.wrap.wrap">
      <jnt-link [source]="issue.glUrl" target="_blank"
                [attr.closed]="issue.state == issueState.closed"
                [title]="issue.title">
      </jnt-link>
      <jnt-label *ngFor="let l of (issue.labels | labels)"
                 [size]="ui.sizes.small"
                 [color]="l.color" [label]="l.title"></jnt-label>
      <jnt-animated-icon *ngIf="issue.state == issueState.opened && (issue.labels | hasLabel:standardLabel.doing)" state doing
                         [icon]="ui.icons.animated.runningMan"></jnt-animated-icon>
      <jnt-icon *ngIf="issue.labels | hasLabel:standardLabel.done" state
                [icon]="ui.icons.check"></jnt-icon>
      <small *ngIf="issue.state == issueState.closed">{{issue.closedAt | fromNow}}</small>
    </jnt-stack>
    <small>{{issue.project?.fullTitle}}</small>
  </jnt-stack>
</jnt-stack>
