@import "../../../../node_modules/@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  font-size: .85em;
  text-align: center;
}

[week] {
  display: flex;
  justify-content: center;
  margin-top: $jnt-gutter-tiny;
  [weekday] {
    width: 8px;
    height: 5px;
    &:not(:last-child) {
      margin-right: $jnt-gutter-tiny;
    }
  }
}
