@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[remains] {
  color: $jnt-primary-text-light-color;
  font-size: .85em;
}
