<jnt-container [width]="ui.width.fluid">
  <jnt-row>
    <jnt-col [desktop]="4" [mobile]="12">
      <!--<app-salary-detail-widget [salary]="salary"></app-salary-detail-widget>-->
    </jnt-col>

    <jnt-col [desktop]="8" [mobile]="12">
      <jnt-menu>
        <jnt-menu-item [link]="['.']"
                       title="Time Expenses"
                       i18n-title="@@action.time_expenses">
          <jnt-badge *ngIf="salary?.total"
                     [text]="salary.total | duration:durationFormat.short">
          </jnt-badge>
        </jnt-menu-item>
        <jnt-menu-item [link]="['bonuses']"
                       title="Bonuses"
                       i18n-title="@@action.bonuses">
          <jnt-badge *ngIf="!!salary.bonus"
                     [color]="ui.color.green"
                     [text]="salary.bonus | currency:undefined:'symbol':'1.0-0'">
          </jnt-badge>
        </jnt-menu-item>
        <jnt-menu-item [link]="['penalties']"
                       title="Penalties"
                       i18n-title="@@action.penalties">
          <jnt-badge *ngIf="!!salary.penalty"
                     [color]="ui.color.red"
                     [text]="salary.penalty | currency:undefined:'symbol':'1.0-0'">
          </jnt-badge>
        </jnt-menu-item>
      </jnt-menu>
      <router-outlet></router-outlet>
    </jnt-col>
  </jnt-row>
</jnt-container>
