<jnt-container [fluid]="true">
  <h3>Detail</h3>
  <jnt-row>
    <jnt-col [desktop]="3" [mobile]="12">
      <app-salary-detail-widget [salary]="salary"></app-salary-detail-widget>
    </jnt-col>

    <jnt-col [desktop]="9" [mobile]="12">
      <jnt-block>
        <jnt-table #table>
          <jnt-table-column i18n-title="@@date" title="Date">
            <ng-template #cellTemplate let-date="date">
              {{date | date:'medium'}}
            </ng-template>
          </jnt-table-column>

          <jnt-table-column i18n-title="@@spentTime" title="Spent Time">
            <ng-template #cellTemplate let-timeSpent="timeSpent">
              {{timeSpent | duration}}
            </ng-template>
          </jnt-table-column>

          <jnt-table-column i18n-title="@@spentTime" title="Issue">
            <ng-template #cellTemplate let-url="issue.glUrl" let-title="issue.title">
              <jnt-link [source]="url" target="_blank">{{title}}</jnt-link>
            </ng-template>
          </jnt-table-column>

          <jnt-table-column i18n-title="@@milestone" title="Milestone">
            <ng-template #cellTemplate let-milestone="issue.milestone">
              {{milestone?.presentation}}
            </ng-template>
          </jnt-table-column>

          <jnt-table-column i18n-title="@@earnings" title="Earnings">
            <ng-template #cellTemplate let-earnings="earnings">
              {{earnings | currency:'RUB'}}
            </ng-template>
          </jnt-table-column>
        </jnt-table>
      </jnt-block>
    </jnt-col>
  </jnt-row>
</jnt-container>
