<sn-progress-bar [value]="payroll / budget * 100">
  <ng-template #progressBarLegendTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal"
               [align]="ui.align.center"
               [justify]="ui.justify.between"
               [gutter]="ui.gutter.normal">
      <small>{{payroll | money}}</small>
      <small>{{budget | money}}</small>
    </sn-stack>
  </ng-template>
</sn-progress-bar>
<div data-remains>
  <span [attr.overflow]="profit < 0">
    {{profit | money}}
  </span>
</div>
