@import '../../../../style/variables';

:host {
  display: block;
}

table {
  table-layout: auto;
  border: 0;
  border-spacing: 0;
  box-shadow: $base-shadow;
  background-color: $white-color;
  border-radius: $corner-normal;
  padding: $gutter-normal;
  tr {
    &[days] {
      background-color: $gray-500;
    }
    td, th {
      border: 0;
      padding: $gutter-small $gutter-tiny;
      [metric] {
        color: $primary-dark-color;
        font-weight: $font-weight-bold;
      }
    }
    td {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      &:first-child {
        border-left: 1px solid transparent;
      }
      &:last-child {
        border-right: 1px solid transparent;
      }
    }
  }

  thead {
    [arrow-left] {
      text-align: left;
    }
    [arrow-right] {
      text-align: right;
    }
    [arrow] {
      background-color: transparent;
      border-width: 0;
      font-size: 1rem;
      color: $text-color;
      cursor: pointer;
      padding: 0;
      vertical-align: middle;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow .3s;
      &:focus {
        outline: none;
        box-shadow: 0 0 6px rgba(8, 35, 202, 0.4);;
        border: 1px solid $primary-color;
      }
      &:hover {
        color: lighten($text-color, 10%);
      }
    }
    [date] {
      color: $gray-dark;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }

  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: $blue-500;
        td {
          border-top-color: $purple-light;
          border-bottom-color: $purple-light;
          &:first-child {
            border-left-color: $purple-light;
          }
          &:last-child {
            border-right-color: $purple-light;
          }
        }
      }
      td {
        [link] ::ng-deep a[child-of=#{$jnt-link-host}][active='true'] {
          border-bottom: 0;
        }
        .metric {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

}
