<jnt-block [padding]="ui.gutter.none"
           [state]="loading ? ui.layout.block.state.loading : null"
           [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table formControlName="table" [features]="[ui.collections.table.features]">
      <ng-template #filters>
        <jnt-button text="Add" i18n-text="@@action.add"
                    [icon]="ui.icons.add"
                    [outline]="ui.outline.transparent"
                    (click)="open()">
        </jnt-button>
      </ng-template>

      <jnt-table-column *ngIf="view === viewType.extended" i18n-title="@@label.developer" title="Developer">
        <ng-template #cellTemplate let-user="user">
          <jnt-stack [type]="ui.layout.stack.type.horizontal" [align]="ui.flex.align.center">
            <jnt-avatar avatar [image]="user?.avatar"
                        [size]="ui.size.small"></jnt-avatar>
            <div>
              <jnt-link link [title]="user?.name"></jnt-link>
            </div>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@label.period" title="Period">
        <ng-template #cellTemplate let-fromDate="fromDate" let-toDate="toDate">
          <jnt-date-period [start]="fromDate" [end]="toDate"></jnt-date-period>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@label.reason" title="Reason">
        <ng-template #cellTemplate let-reason="reason">
          <ng-container [ngSwitch]="reason">
            <ng-container *ngSwitchCase="reasons.vacation"
                          i18n="@@action.vacation">Vacation
            </ng-container>
            <ng-container *ngSwitchCase="reasons.disease"
                          i18n="@@action.disease">Disease
            </ng-container>
            <ng-container *ngSwitchCase="reasons.dayoff"
                          i18n="@@action.dayoff">Dayoff
            </ng-container>
          </ng-container>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@label.comment" title="Comment">
        <ng-template #cellTemplate let-comment="comment">
          {{comment}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@label.break_state" title="State">
        <ng-template ngIf #cellTemplate
                     let-approveState="approveState"
                     let-approvedBy="approvedBy"
                     let-approvedAt="approvedAt"
                     let-comment="comment"
                     let-declineReason="declineReason">

          <jnt-stack [type]="ui.layout.stack.type.horizontal">
            <jnt-stack [type]="ui.layout.stack.type.vertical" [gutter]="ui.gutter.tiny">
              <ng-container [ngSwitch]="approveState">
                <jnt-label *ngSwitchCase="approveStates.created"
                           i18n-label="@@label.created"
                           [color]="ui.color.purple"
                           label="Approving">
                </jnt-label>
                <jnt-label *ngSwitchCase="approveStates.approved"
                           i18n-label="@@label.approved"
                           [color]="ui.color.green"
                           label="Approved">
                </jnt-label>

                <jnt-label *ngSwitchCase="approveStates.decline"
                           i18n-label="@@label.declined"
                           [color]="ui.color.red"
                           label="Declined">
                </jnt-label>
              </ng-container>
              <small *ngIf="approvedAt">
                {{ approvedAt | date}}
              </small>
            </jnt-stack>
            <jnt-stack [type]="ui.layout.stack.type.vertical" [gutter]="ui.gutter.tiny">
              <jnt-stack *ngIf="approvedBy"
                         [type]="ui.layout.stack.type.horizontal" [gutter]="ui.gutter.tiny">
                <jnt-avatar avatar [image]="approvedBy.avatar"
                            [size]="ui.size.tiny"></jnt-avatar>
                <jnt-link link [title]="approvedBy.name"></jnt-link>
              </jnt-stack>
              <small *ngIf="declineReason">
                {{ declineReason }}
              </small>
            </jnt-stack>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <ng-template #rowActions let-break="row">
        <jnt-menu [type]="ui.orientation.vertical" [spacer]="ui.size.small">
          <jnt-menu-item *ngIf="view === viewType.extended" i18n-title="@@action.approve" title="Approve"
                         [icon]="ui.icons.check" (click)="approve(break.id)">
          </jnt-menu-item>
          <jnt-menu-item *ngIf="view === viewType.extended" i18n-title="@@action.decline" title="Decline"
                         [icon]="ui.icons.cancel" (click)="openDecline(break)">
          </jnt-menu-item>
          <jnt-menu-item i18n-title="@@action.edit" title="Edit" [icon]="ui.icons.edit"
                         (click)="open(break)"></jnt-menu-item>
          <jnt-menu-item i18n-title="@@action.delete" title="Delete" [icon]="ui.icons.delete"
                         (click)="delete(break.id)"></jnt-menu-item>
        </jnt-menu>
      </ng-template>

    </jnt-table>
  </jnt-form>
</jnt-block>
