<jnt-block [state]="loading ? ui.block.state.loading : null" [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table formControlName="table" [features]="[features.search]">
      <ng-template #filters>
        <jnt-button text="Add" i18n-text="@@add"
                    [icon]="ui.icons.add"
                    [outline]="ui.outline.transparent"
                    (click)="open()">
        </jnt-button>
      </ng-template>

      <jnt-table-column *ngIf="view === viewType.extended" i18n-title="@@developer" title="Developer">
        <ng-template #cellTemplate let-user="user">
          <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center">
            <jnt-avatar avatar [image]="user?.avatar"
                        [size]="ui.sizes.small"></jnt-avatar>
            <div>
              <jnt-link link [title]="user?.name"></jnt-link>
            </div>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@date" title="Period">
        <ng-template #cellTemplate let-fromDate="fromDate" let-toDate="toDate">
          <jnt-date-period [start]="fromDate" [end]="toDate"></jnt-date-period>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@reason" title="Reason">
        <ng-template #cellTemplate let-reason="reason">
          <ng-container [ngSwitch]="reason">
            <ng-container *ngSwitchCase="reasons.vacation"
                          i18n="@@reason-vacation">Vacation
            </ng-container>
            <ng-container *ngSwitchCase="reasons.disease"
                          i18n="@@reason-disease">Disease
            </ng-container>
            <ng-container *ngSwitchCase="reasons.dayoff"
                          i18n="@@reason-dayoff">Dayoff
            </ng-container>
          </ng-container>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@comment" title="Comment">
        <ng-template #cellTemplate let-comment="comment">
          {{comment}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@breakState" title="State">
        <ng-template ngIf #cellTemplate
                     let-approveState="approveState"
                     let-approvedBy="approvedBy"
                     let-approvedAt="approvedAt"
                     let-comment="comment"
                     let-declineReason="declineReason">

          <jnt-stack [type]="ui.stack.type.horizontal">
            <jnt-stack [type]="ui.stack.type.vertical" [gutter]="ui.gutter.tiny">
              <ng-container [ngSwitch]="approveState">
                <jnt-label *ngSwitchCase="approveStates.created"
                           i18n-label="@@approveCreated"
                           [color]="ui.colors.purple"
                           label="Approving">
                </jnt-label>
                <jnt-label *ngSwitchCase="approveStates.approved"
                           i18n-label="@@approveApproved"
                           [color]="ui.colors.green"
                           label="Approved">
                </jnt-label>

                <jnt-label *ngSwitchCase="approveStates.decline"
                           i18n-label="@@approveDeclined"
                           [color]="ui.colors.red"
                           label="Declined">
                </jnt-label>
              </ng-container>
              <small *ngIf="approvedAt">
                {{ approvedAt | date}}
              </small>
            </jnt-stack>
            <jnt-stack [type]="ui.stack.type.vertical" [gutter]="ui.gutter.tiny">
              <jnt-stack *ngIf="approvedBy"
                         [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.tiny">
                <jnt-avatar avatar [image]="approvedBy.avatar"
                            [size]="ui.sizes.tiny"></jnt-avatar>
                <jnt-link link [title]="approvedBy.name"></jnt-link>
              </jnt-stack>
              <small *ngIf="declineReason">
                {{ declineReason }}
              </small>
            </jnt-stack>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <ng-template #rowActions let-break="row">
        <jnt-menu [type]="ui.orientation.vertical" [spacer]="ui.sizes.small">
          <jnt-menu-item *ngIf="view === viewType.extended" i18n-title="@@approve" title="Approve"
                         [icon]="ui.icons.check" (click)="approve(break.id)">
          </jnt-menu-item>
          <jnt-menu-item *ngIf="view === viewType.extended" i18n-title="@@decline" title="Decline"
                         [icon]="ui.icons.cancel" (click)="openDecline(break)">
          </jnt-menu-item>
          <jnt-menu-item i18n-title="@@edit" title="Edit" [icon]="ui.icons.edit" (click)="open(break)"></jnt-menu-item>
          <jnt-menu-item i18n-title="@@delete" title="Delete" [icon]="ui.icons.delete"
                         (click)="delete(break.id)"></jnt-menu-item>
        </jnt-menu>
      </ng-template>

    </jnt-table>
  </jnt-form>
</jnt-block>
