<sn-form [formGroup]="form">
  <sn-table #table formControlName="table">

    <ng-template #tableFiltersTemplate>
      <sn-switcher formControlName="type">
        <sn-switcher-option label="All"
                             i18n-label="@@action.filter_projects_all"
                             [disabled]="summary?.count <= 0"
                             [value]="projectType.all">
          <sn-badge *ngIf="summary?.count > 0"
                     [overflow]="null"
                     [value]="summary?.count"></sn-badge>
        </sn-switcher-option>
        <sn-switcher-option label="Archived"
                             i18n-label="@@action.filter_type_archived"
                             [disabled]="summary?.archivedCount <= 0"
                             [value]="projectType.archived">
          <sn-badge *ngIf="summary?.archivedCount > 0"
                     [value]="summary?.archivedCount"
                     [color]="ui.color.gray"></sn-badge>
        </sn-switcher-option>
        <sn-switcher-option label="Supporting"
                             i18n-label="@@action.filter_supporting"
                             [disabled]="summary?.supportingCount <= 0"
                             [value]="projectType.supporting">
          <sn-badge *ngIf="summary?.supportingCount > 0"
                     [value]="summary?.supportingCount"
                     [color]="ui.color.yellow"></sn-badge>
        </sn-switcher-option>
        <sn-switcher-option label="Developing"
                             i18n-label="@@action.filter_developing"
                             [disabled]="summary?.developingCount <= 0"
                             [value]="projectType.developing">
          <sn-badge *ngIf="summary?.developingCount > 0"
                     [value]="summary?.developingCount"
                     [color]="ui.color.green"></sn-badge>
        </sn-switcher-option>
      </sn-switcher>
    </ng-template>

    <sn-table-column title="Title"
                      i18n-title="@@label.title">
      <ng-template #tableCellTemplate let-title="title"
                   let-avatar="glAvatar"
                   let-fullTitle="fullTitle"
                   let-url="glUrl">
        <sn-stack [orientation]="ui.orientation.horizontal">
          <sn-avatar [size]="ui.size.small"
                      [icon]="localUi.icons.project"
                      [image]="avatar"></sn-avatar>
          <sn-stack [gutter]="ui.gutter.tiny">
            <sn-link [source]="url + '/-/boards'"
                      [target]="ui.target.blank"
                      [title]="title">
            </sn-link>
            <small>{{fullTitle}}</small>
          </sn-stack>
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column title="Team"
                      i18n-title="@@label.team"
                      width="10%"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-team="team">
        <sn-label *ngIf="!!team" [label]="team?.title"></sn-label>
      </ng-template>
    </sn-table-column>

    <sn-table-column title="Budget"
                      i18n-title="@@label.budget"
                      width="25%"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <ng-container>
          <app-budget [spent]="metrics.budgetSpent"
                      [budget]="metrics.budget"
                      [remains]="metrics.budgetRemains"></app-budget>
        </ng-container>
      </ng-template>
    </sn-table-column>

    <sn-table-column title="Profit"
                      i18n-title="@@label.profit"
                      width="25%"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <app-profit [payroll]="metrics.payroll"
                    [budget]="metrics.budget"
                    [profit]="metrics.profit"></app-profit>
      </ng-template>
    </sn-table-column>

    <ng-template #tableRowActionsTemplate let-row="row">
      <sn-menu [orientation]="ui.orientation.vertical">
        <sn-menu-item [icon]="ui.icons.link"
                       title="GitLab"
                       i18n-title="@@action.view_on_gitlab"
                       target="_blank"
                       [link]="row.glUrl"></sn-menu-item>
        <sn-menu-item [icon]="ui.icons.edit"
                       title="Edit"
                       i18n-title="@@action.edit"
                       target="_blank"
                       [link]="'/admin/development/project/' + row.id + '/change/'"></sn-menu-item>
      </sn-menu>
    </ng-template>

  </sn-table>
</sn-form>
