<jnt-stack [type]="ui.stack.type.horizontal" [wrap]="ui.flex.wrap.wrap">
  <jnt-block *ngFor="let t of teams">
    <p>{{t.title}}</p>
    <jnt-stack [type]="ui.stack.type.horizontal"
               [gutter]="ui.stack.gutter.small"
               [wrap]="ui.flex.wrap.wrap">
      <a *ngFor="let m of (t.id | teamMembers | async)"
         [routerLink]="['users', m.user.id, 'dashboard', 'issues']" routerLinkActive="active">
        <jnt-avatar [image]="m.user.avatar" [size]="ui.sizes.small"></jnt-avatar>
        <p>{{m.user.name}}</p>
      </a>
    </jnt-stack>
  </jnt-block>
</jnt-stack>
<jnt-menu>
  <jnt-menu-item link="issues" title="Issues"></jnt-menu-item>
  <jnt-menu-item link="problems" title="Problems"></jnt-menu-item>
</jnt-menu>
<router-outlet></router-outlet>
