<jnt-link *ngIf="!mocks" [icon]="ui.icons.settings"
          [outline]="ui.outline.fill"
          source="/admin/"
          title="Administrator"
          i18n-title="@@action.administrator"
          admin>
</jnt-link>

<jnt-block [padding]="ui.gutter.large" [state]="progress.gitlab ? ui.layout.block.state.loading : null">
  <jnt-form form [formGroup]="loginForm" (submitted)="login()" jntValidation>
    <div logo>
      <img [src]="'assets/images/' + (theme === 'dark' ? 'logo-dark' : 'logo') + '.svg'" height="50">
    </div>
    <p *ngFor="let e of errors">{{e}}</p>
    <jnt-form-item>
      <jnt-form-control name="login">
        <jnt-input formControlName="login" placeholder="Login" [icon]="ui.icons.user"></jnt-input>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          Field is required!
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-control name="password">
        <jnt-input formControlName="password" placeholder="Password" [icon]="ui.icons.lock" required
                   [type]="ui.form.input.type.password"></jnt-input>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          Field is required!
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <ng-template #formFooterTemplate>
      <jnt-form-item>
        <jnt-button [loading]="progress.login"
                    [type]="ui.form.button.type.submit"
                    [icon]="ui.icons.arrowRight"
                    text="Login"
                    [width]="ui.width.fluid">
        </jnt-button>
      </jnt-form-item>
      <a href="https://teamprojector.com/api/login/gitlab/">
        <img src="assets/images/gitlab.svg" height="30">
      </a>

      <div *ngIf="mocks" god>
        <p>The current version uses mocks! No real backend or database is needed. You can be a god 😎!</p>
        <p><b>Select your role:</b></p>
        <jnt-stack [type]="ui.layout.stack.type.horizontal" [justify]="ui.flex.justify.center">
          <jnt-button [scheme]="ui.scheme.success"
                      [size]="ui.size.small"
                      [outline]="ui.outline.ghost"
                      text="Developer"
                      i18n-text="@@action.developer"
                      (click)="god(userRole.developer)"></jnt-button>
          <jnt-button [scheme]="ui.scheme.success"
                      [size]="ui.size.small"
                      [outline]="ui.outline.ghost"
                      text="Team Leader"
                      i18n-text="@@action.team_leader"
                      (click)="god(userRole.teamLeader)"></jnt-button>s
          <jnt-button [scheme]="ui.scheme.success"
                      [size]="ui.size.small"
                      [outline]="ui.outline.ghost"
                      i18n-text="@@action.project_manager"
                      text="Project Manager"
                      (click)="god(userRole.projectManager)"></jnt-button>
        </jnt-stack>
      </div>
    </ng-template>
  </jnt-form>
</jnt-block>
