@import 'variables';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #dd3e54;
  background: -webkit-linear-gradient(to right, #6be585, #dd3e54);
  background: linear-gradient(to right, #6be585, #dd3e54);

}

:host-context([theme='dark']) {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
}

[admin] {
  position: absolute;
  top: $gutter-normal;
  right: $gutter-normal;
}

[form] {
  width: 400px;

  a {
    display: block;
    text-align: center;
    margin-top: $gutter-big;
  }

  [logo] {
    text-align: center;
    padding-bottom: $gutter-big;
  }
  [fields] {
    margin-top: $gutter-normal;
  }
  button {
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}

[god] ::ng-deep [host=#{$jnt-button-host}] button {
  padding-left: $gutter-normal !important;
  padding-right: $gutter-normal !important;
}
