@import "src/assets/styles/variables";
@import "~@esanum/ui/lib/assets/styles/forms/button";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../../assets/images/login.jpg') no-repeat center,
    linear-gradient($app-white-color, $app-gray-400-color);
  background-size: cover;

}

:host-context([theme='dark']) {
  background: url('../../../assets/images/login-dark.jpg') no-repeat center;
  background-size: cover;
}

[data-admin] {
  position: absolute;
  top: $app-gutter-normal;
  right: $app-gutter-normal;
}

[data-logo] {
  text-align: center;
  padding-bottom: $app-gutter-big;
}

[data-form] {
  width: 350px;

  a {
    display: block;
    text-align: center;
    margin-top: $app-gutter-big;
  }
}
