@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import "~@junte/ui/lib/assets/styles/forms/button";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../../assets/images/login.jpg') no-repeat center,
    linear-gradient($jnt-white-color, $jnt-gray-400-color);
  background-size: cover;

}

:host-context([theme='dark']) {
  background: url('../../../assets/images/login-dark.jpg') no-repeat center;
  background-size: cover;
}

[admin] {
  position: absolute;
  top: $jnt-gutter-normal;
  right: $jnt-gutter-normal;
}

[data-logo] {
  text-align: center;
  padding-bottom: $jnt-gutter-big;
}

[data-form] {
  width: 350px;

  a {
    display: block;
    text-align: center;
    margin-top: $jnt-gutter-big;
  }

  [fields] {
    margin-top: $jnt-gutter-normal;
  }
  button {
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}
