<sn-form [formGroup]="form">
  <sn-switcher formControlName="metric"
                [features]="[ui.feature.allowEmpty]">
    <sn-switcher-option label="Spent"
                         i18n-label="@@label.spent"
                         [value]="metricType.spent">
      <sn-dot [color]="ui.color.green"></sn-dot>
    </sn-switcher-option>
    <sn-switcher-option label="Estimated"
                         i18n-label="@@label.estimated"
                         [value]="metricType.estimate">
      <sn-dot [color]="ui.color.red"></sn-dot>
    </sn-switcher-option>
    <sn-switcher-option label="Remains"
                         i18n-label="@@label.remains"
                         [value]="metricType.remains">
      <sn-dot [color]="ui.color.yellow"></sn-dot>
    </sn-switcher-option>
    <sn-switcher-option label="Loading"
                         i18n-label="@@label.loading"
                         [value]="metricType.loading">
      <sn-dot [color]="ui.color.purpleDark"></sn-dot>
    </sn-switcher-option>
  </sn-switcher>
</sn-form>
