<sn-app-page-header [icon]="localUi.icons.dashboard"
                     title="Dashboard"
                     i18n-title="@@label.dashboard"
                     i18n-teaser="@@message.team_dashboard_teaser"
                     teaser="for {{team.title}} team"></sn-app-page-header>

<sn-row>
  <sn-col [wide]="7" [desktop]="12">
    <app-team-progress [team]="team"
                       (selected)="issuesByDeveloper($event)"></app-team-progress>
  </sn-col>
  <sn-col [wide]="5" [desktop]="12">
    <app-projects-summary [team]="team" (selected)="issuesByProject($event)"></app-projects-summary>
  </sn-col>
</sn-row>
