<jnt-block [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table (reloaded)="reloaded.emit()" formControlName="table">
      <ng-template #filters>
        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-switcher formControlName="state">
            <jnt-switcher-option label="All" [value]="timeExpensesState.all">
              <jnt-badge *ngIf="!!summary?.spent"
                         [count]="summary.spent | duration">
              </jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option label="Closed" [value]="timeExpensesState.closed">
              <jnt-badge *ngIf="!!summary?.closedSpent"
                         [count]="summary.closedSpent | duration">
              </jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option label="Opened" [value]="timeExpensesState.opened">
              <jnt-badge *ngIf="!!summary?.openedSpent"
                         [count]="summary.openedSpent | duration"
                         [color]="ui.colors.green">
              </jnt-badge>
            </jnt-switcher-option>
          </jnt-switcher>
        </jnt-stack>
      </ng-template>
      <jnt-table-column i18n-title="@@issue_title" title="Title" sort="title">
        <ng-template #cellTemplate let-owner="owner">
          <app-issue [issue]="owner"></app-issue>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@created_at" title="Created at" sort="created_at">
        <ng-template #cellTemplate let-createdAt="createdAt">
          {{createdAt | date:'medium'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@spent" title="Spent">
        <ng-template #cellTemplate let-timeSpent="timeSpent">
          {{timeSpent | duration}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@earn" title="Earn">
        <ng-template #cellTemplate let-sum="sum">
          {{!!sum ? (sum | currency) : '&mdash;'}}
        </ng-template>
      </jnt-table-column>
    </jnt-table>
  </jnt-form>
</jnt-block>
