<app-table-column #createdAt i18n-title="@@created_at" title="Created at" sort="created_at"></app-table-column>
<app-table-column #issue i18n-title="@@title" title="Issue" sort="title"></app-table-column>
<app-table-column #project i18n-title="@@project" title="Project"></app-table-column>
<app-table-column #spent i18n-title="@@spent" title="Spent"></app-table-column>
<app-table-column #earnings i18n-title="@@earn" title="Earn"></app-table-column>

<app-table #table
           [columns]="[createdAt, issue, project, spent, earnings]"
           [filter]="filter"
           [rowTemplate]="rowTemplate">
  <ng-template #rowTemplate let-id="id"
               let-createdAt="createdAt"
               let-title="issue.title"
               let-url="issue.glUrl"
               let-state="issue.state"
               let-labels="issue.labels"
               let-project="issue.project"
               let-timeSpent="timeSpent"
               let-earnings="earnings">
    <td>
      {{createdAt | date:'medium'}}
    </td>
    <td>
      <a href="{{url}}" target="_blank" [class.closed]="state == issuesState.closed">{{title}}</a>
      <ul class="labels">
        <li *ngFor="let l of labels" [style.background-color]="l.color">
          {{l.title}}
        </li>
      </ul>
    </td>
    <td>
      {{project.presentation}}
    </td>
    <td style="text-align: right;">
      {{timeSpent | duration}}h
    </td>
    <td style="text-align: right;">
      {{earnings | currency}}
    </td>
  </ng-template>
</app-table>
