<jnt-block [width]="ui.width.fluid">
  <jnt-table [filter]="filter" #table>
    <jnt-table-column i18n-title="@@issue_title" title="Title" sort="title">
      <ng-template #cellTemplate let-title="owner.title" let-labels="owner.labels" let-url="owner.glUrl"
                   let-state="owner.state"
                   let-participants="owner.participants" let-project="owner.project">
        <jnt-stack [type]="ui.stack.type.horizontal"
                   [gutter]="ui.stack.gutter.small">
          <jnt-avatars-list>
            <jnt-avatar *ngFor="let p of participants"
                        [text]="p.name" [image]="p.avatar" [size]="ui.sizes.small"></jnt-avatar>
          </jnt-avatars-list>
          <jnt-stack [type]="ui.stack.type.vertical"
                     [gutter]="ui.stack.gutter.tiny">
            <jnt-stack [type]="ui.stack.type.horizontal"
                       [gutter]="ui.stack.gutter.small">
              <jnt-link [source]=url target="_blank"
                        [class.closed]="state == issuesState.closed">
                {{title}}
              </jnt-link>
              <jnt-label *ngFor="let l of labels" [color]="l.color" [label]="l.title"></jnt-label>

            </jnt-stack>
            <small>{{project.presentation}}</small>
          </jnt-stack>
        </jnt-stack>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column i18n-title="@@created_at" title="Created at" sort="created_at">
      <ng-template #cellTemplate let-createdAt="createdAt">
        {{createdAt | date:'medium'}}
      </ng-template>
    </jnt-table-column>

    <jnt-table-column i18n-title="@@spent" title="Spent">
      <ng-template #cellTemplate let-timeSpent="timeSpent">
        {{timeSpent | duration}}
      </ng-template>
    </jnt-table-column>

    <jnt-table-column i18n-title="@@earn" title="Earn">
      <ng-template #cellTemplate let-earnings="earnings">
        {{earnings | currency}}
      </ng-template>
    </jnt-table-column>
  </jnt-table>
</jnt-block>
