@import '~@esanum/ui/lib/assets/styles/layout/responsive';
@import '~@esanum/ui/lib/assets/styles/forms/calendar';
@import '~@esanum/ui/lib/assets/styles/dynamic/circle-bar';
@import '~@esanum/ui/lib/assets/styles/elements/dot';
@import "src/assets/styles/variables";

$sn-ng-deep: true;

:host {
  display: block;

  @include sn-calendar((metrics: (width: 50%)));
}

[data-header] {
  padding-top: $app-gutter-normal;

  [data-title] {
    color: $app-primary-color;
    // TODO: Do we need to use $app-font-size-big?
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }
}

[data-day] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 45px;
  width: 45px;
  border: 2px solid transparent;
  position: relative;

  [data-day-text] {
    font-size: $app-font-size-small;
  }

  &[today='true'] {
    @include sn-circle-bar((content: (color: $app-white-color)), '&');
  }

  [data-issues-count] {
    @include sn-dot((size: 5px), '&');
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
  }

  [data-metric] {
    display: inline-block;

    [data-circle] {
      width: 40px;
      height: 40px;

      &[data-time] {
        color: $app-primary-text-light-color
      }
    }
  }
}

