<ng-template #dayTemplate
             let-metric="metric"
             let-date="date"
             let-presentation="presentation">
  <jnt-dot data-issues-count *ngIf="!!metric?.issuesCount"></jnt-dot>
  <ng-template #noMetricTemplate>{{date | dfnsGetDate}}</ng-template>
  <ng-template #metricTemplate let-metric="metric" let-color="color" let-planned="planned">
    <jnt-circle-bar data-circle data-time>
      <ng-template #circleBarContentTemplate>
        <div data-day-text>{{metric | duration:durationFormat.short}}</div>
      </ng-template>
      <jnt-bar-indicator-group>
        <jnt-bar-indicator [color]="color"
                           [value]="metric | percentage:(planned * 3600)">
        </jnt-bar-indicator>
      </jnt-bar-indicator-group>
    </jnt-circle-bar>
  </ng-template>
  <div data-metric *ngIf="!!metric; else noMetricTemplate" [ngSwitch]="presentation">
    <ng-container *ngSwitchCase="metricType.spent">
      <ng-container *ngIf="!(date | isFuture) && !!metric['timeSpent']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['timeSpent'],
          color: ui.color.green, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="metricType.estimate">
      <ng-container *ngIf="(date | isFuture) && !!metric['timeEstimate']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['timeEstimate'],
          color: ui.color.red, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="metricType.remains">
      <ng-container *ngIf="(date | isFuture) && !!metric['timeRemains']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['timeRemains'],
          color: ui.color.yellow, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="metricType.loading">
      <ng-container *ngIf="(date | isFuture) && !!metric['loading']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['loading'],
          color: ui.color.purpleDark, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container>
        <jnt-circle-bar data-circle>
          <ng-template #circleBarContentTemplate>
            <div data-day-text>{{date | dfnsGetDate}}</div>
          </ng-template>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.color.green"
                               [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
            <jnt-bar-indicator *ngIf="(date | isFuture)" [color]="ui.color.yellow"
                               [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group *ngIf="(date | isFuture)">
            <jnt-bar-indicator [color]="ui.color.red"
                               [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group *ngIf="(date | isFuture)">
            <jnt-bar-indicator [color]="ui.color.purpleDark"
                               [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
        </jnt-circle-bar>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<jnt-form [formGroup]="form">
  <jnt-block [padding]="ui.gutter.small"
             [width]="ui.width.fluid">
    <ng-template #blockHelpTemplate>
      <p i18n="@@message.here_find_progress">Here you can find your work progress.</p>
      <iframe src="https://giphy.com/embed/27Y1W0GCKQtDq" width="480" height="480" frameBorder="0" class="giphy-embed"
              allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/hard-work-27Y1W0GCKQtDq">via GIPHY</a></p>
    </ng-template>

    <ng-template #blockHeaderTemplate>
      <jnt-stack data-header [orientation]="ui.orientation.horizontal"
                 [align]="ui.align.center">
        <div data-title i18n="@@label.work_progress">Work progress</div>
        <jnt-stack [orientation]="ui.orientation.horizontal">
          <jnt-button [icon]="progress.loading ? ui.icons.animated.reload : ui.icons.reload"
                      [outline]="ui.outline.transparent"
                      [disabled]="progress.loading"
                      (click)="loadMetrics()"></jnt-button>
          <app-metrics-type formControlName="metric"></app-metrics-type>
        </jnt-stack>
      </jnt-stack>
    </ng-template>

    <jnt-calendar (updated)="period = $event;loadMetrics()">
      <jnt-week-metric title="Est"
                       i18n-title="@@label.est"></jnt-week-metric>
      <jnt-week-metric title="Spent"
                       i18n-title="@@label.spent"></jnt-week-metric>
      <jnt-week-metric title="Eff"
                       i18n-title="@@label.eff"></jnt-week-metric>
      <jnt-week-metric title="Payroll"
                       i18n-title="@@label.payroll"></jnt-week-metric>
      <jnt-week-metric title="Paid"
                       i18n-title="@@label.paid"></jnt-week-metric>
      <ng-template #calendarDayTemplate let-date="date">
        <ng-template #dayDetails>
          <jnt-menu [orientation]="ui.orientation.horizontal"
                    [spacing]="ui.gutter.small">
            <jnt-menu-item title="Issues"
                           i18n-title="@@action.issues"
                           [icon]="localUi.icons.issue"
                           [link]="['issues', {dueDate: (date | dfnsFormat:dateFormat)}]"></jnt-menu-item>
            <jnt-menu-item title="Time Expenses"
                           i18n-title="@@action.time_expenses"
                           [icon]="localUi.icons.spentTime"
                           [link]="['time-expenses', {date: (date | dfnsFormat:dateFormat)}]"></jnt-menu-item>
          </jnt-menu>
        </ng-template>
        <div data-day [attr.today]="(date | isToday)"
             [jntPopover]="{contentTemplate: dayDetails, trigger: ui.trigger.click}">
          <ng-container *ngTemplateOutlet="dayTemplate; context: {presentation: metricControl.value,
                date: date, metric: metrics?.days.get((date | dfnsFormat:dateFormat))}">
          </ng-container>
        </div>
      </ng-template>
      <ng-template #calendarMetricTemplate let-metric="metric" let-date="date">
        <ng-template #noMetricTemplate>&ndash;</ng-template>
        <ng-container *ngIf="metrics?.weeks.get((date | dfnsFormat:dateFormat)) as weekMetric;else noMetricTemplate">
          <ng-container [ngSwitch]="metric">
            <ng-container *ngSwitchCase="0">
              {{!!weekMetric.timeEstimate ? (weekMetric.timeEstimate | duration:durationFormat.short) : '&ndash;'}}
            </ng-container>
            <ng-container *ngSwitchCase="1">
              {{!!weekMetric.timeSpent ? (weekMetric.timeSpent | duration:durationFormat.short) : '&ndash;'}}
            </ng-container>
            <ng-container *ngSwitchCase="2">
              {{!!weekMetric.efficiency ? (weekMetric.efficiency | number:'1.2-2') : '&ndash;'}}
            </ng-container>
            <ng-container *ngSwitchCase="3">
              {{!!weekMetric.payroll ? (weekMetric.payroll | money) : '&ndash;'}}
            </ng-container>
            <ng-container *ngSwitchCase="4">
              {{!!weekMetric.paid ? (weekMetric.paid | money) : '&ndash;'}}
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </jnt-calendar>

  </jnt-block>
</jnt-form>
