<jnt-stack presentations [type]="ui.stack.type.horizontal"
           (mouseleave)="metric = metricType.all">
  <div (mouseenter)="metric = metricType.spent"
       [style.background]="ui.colors.green">Spent
  </div>
  <div (mouseenter)="metric = metricType.estimate"
       [style.background]="ui.colors.red">Estimated
  </div>
  <div (mouseenter)="metric = metricType.remains"
       [style.background]="ui.colors.yellow">Remains
  </div>
  <div (mouseenter)="metric = metricType.loading"
       [style.background]="ui.colors.purpleDark" style="color:white">Loading
  </div>
</jnt-stack>
<table>
  <thead>
  <tr rewind>
    <td></td>
    <th></th>
    <th colspan="10">
      <div date>
        <button arrow (click)="date = subWeeks(date, 1)">
          <jnt-icon [icon]="ui.icons.arrowLeft"></jnt-icon>
        </button>
        <span>{{weeks[0].days[0] | getDate}}-{{weeks[0].days[6] | getDate}} {{date | format: 'MMMM'}}</span>
      </div>
    </th>
    <th colspan="10">
      <div date>
        <span>{{weeks[1].days[0] | getDate}}-{{weeks[1].days[6] | getDate}} {{date | format: 'MMMM'}}</span>
        <button arrow (click)="date = addWeeks(date, 1)">
          <jnt-icon [icon]="ui.icons.arrowRight"></jnt-icon>
        </button>
      </div>
    </th>
  </tr>
  <tr timeline>
    <th gutter></th>
    <th>Developer</th>
    <ng-container *ngFor="let week of weeks">
      <th day (click)="form.patchValue({user: null, dueDate: week.days[0]})"
          [attr.today]="isEqual(today, week.days[0])"
          [attr.active]="isEqual(dueDate.value, week.days[0])">
        Mo {{week.days[0] | getDate}}
      </th>
      <th day (click)="form.patchValue({user: null, dueDate: week.days[1]})"
          [attr.today]="isEqual(today, week.days[1])"
          [attr.active]="isEqual(dueDate.value, week.days[1])">
        Tu {{week.days[1] | getDate}}
      </th>
      <th day (click)="form.patchValue({user: null, dueDate: week.days[2]})"
          [attr.today]="isEqual(today, week.days[2])"
          [attr.active]="isEqual(dueDate.value, week.days[2])">
        We {{week.days[2] | getDate}}
      </th>
      <th day (click)="form.patchValue({user: null, dueDate: week.days[3]})"
          [attr.today]="isEqual(today, week.days[3])"
          [attr.active]="isEqual(dueDate.value, week.days[3])">
        Th {{week.days[3] | getDate}}
      </th>
      <th day (click)="form.patchValue({user: null, dueDate: week.days[4]})"
          [attr.today]="isEqual(today, week.days[4])"
          [attr.active]="isEqual(dueDate.value, week.days[4])">
        Fr {{week.days[4] | getDate}}
      </th>
      <th day (click)="form.patchValue({user: null, dueDate: week.days[5]})"
          [attr.today]="isEqual(today, week.days[5])"
          [attr.active]="isEqual(dueDate.value, week.days[5])">
        Sa {{week.days[5] | getDate}}
      </th>
      <th day (click)="form.patchValue({user: null, dueDate: week.days[6]})"
          [attr.today]="isEqual(today, week.days[6])"
          [attr.active]="isEqual(dueDate.value, week.days[6])">
        Su {{week.days[6] | getDate}}
      </th>
      <th>Est</th>
      <th>Sp</th>
      <th>Eff</th>
    </ng-container>
    <th gutter></th>
  </tr>
  </thead>

  <tbody>
  <ng-container *ngIf="!!members.length; else noData">
    <tr *ngFor="let member of members"
        [attr.active]="user.value?.id === member.user.id">
      <td gutter></td>
      <td>
        <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.small">
          <jnt-avatar (click)="router.navigate(['leader', 'users', member.user.id])"
                      [image]="member.user.avatar"
                      [size]="ui.sizes.tiny"></jnt-avatar>
          <div>
            <jnt-link (click)="form.patchValue({user: member.user, dueDate: null})" link>{{member.user.name}}</jnt-link>
            <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.tiny">
              <jnt-label *ngIf="member.user.metrics.issuesClosedSpent"
                         [label]="member.user.metrics.issuesClosedSpent | duration"
                         [color]="ui.colors.green"></jnt-label>
              <jnt-label *ngIf="member.user.metrics.issuesOpenedSpent"
                         [label]="member.user.metrics.issuesOpenedSpent | duration"
                         [color]="member.user.problems.includes(userProblem.payrollOpenedOverflow) ? ui.colors.red : ui.colors.gray500"></jnt-label>
            </jnt-stack>
          </div>
        </jnt-stack>
      </td>
      <ng-container *ngFor="let week of weeks"
                    [attr.current-week]="(current | getISOWeek) === (week.date | getISOWeek)">

        <td day *ngFor="let day of week.days"
            (click)="form.patchValue({user: member.user, dueDate: day})"
            [attr.active]="isEqual(dueDate.value, day) && (user.value?.id === member.user.id || !user.value)">
          <ng-container
            *ngTemplateOutlet="dayMetricTemplate; context:
                          {presentation: metric, date: endOfDay(day), metric: metrics?.days?.get(member.user.id)?.get(format(day, formatDate))}"></ng-container>
        </td>

        <td *ngFor="let metric of metricLabels;let index = index;">
          <ng-container *ngIf="metrics?.weeks?.get(member.user.id)?.get(format(week.date, formatDate)) as metric"
                        [ngSwitch]="index">
            <ng-container *ngSwitchCase="0">
              {{!!metric?.timeEstimate ? (metric?.timeEstimate | duration:durationFormat.short) : '&ndash;'}}
            </ng-container>
            <ng-container *ngSwitchCase="1">
              {{!!metric?.timeSpent ? (metric?.timeSpent | duration:durationFormat.short) : '&ndash;'}}
            </ng-container>
            <ng-container *ngSwitchCase="2">
              {{metric.efficiency | number:'1.2-2'}}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <td gutter></td>
    </tr>
  </ng-container>
  <ng-template #noData>
    <ng-container *ngIf="!loading; else skeleton">
      <tr nodata>
        <td [attr.colspan]="21">
          <jnt-icon [icon]="ui.icons.nodata" icon></jnt-icon>
          <div message>No rows here</div>
        </td>
      </tr>
    </ng-container>
    <ng-template #skeleton>
      <tr loading>
        <td [attr.colspan]="21">
          <jnt-skeleton [title]="false" [rows]="3"></jnt-skeleton>
        </td>
      </tr>
    </ng-template>
  </ng-template>
  </tbody>
</table>
<ng-template #dayMetricTemplate let-presentation="presentation" let-metric="metric" let-date="date">
  <div *ngIf="!!metric" metric [ngSwitch]="presentation">
    <div issues *ngIf="!!metric?.issuesCount"></div>
    <ng-container *ngSwitchCase="metricType.spent">
      <jnt-circle-bar circle>
        <ng-template #content>{{metric.timeSpent | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.green"
                             [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchCase="metricType.estimate">
      <jnt-circle-bar *ngIf="isFuture(date)" circle>
        <ng-template #content>{{metric.timeEstimate | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.red"
                             [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchCase="metricType.remains">
      <jnt-circle-bar *ngIf="isFuture(date)" circle>
        <ng-template #content>{{metric.timeRemains | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.yellow"
                             [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchCase="metricType.loading">
      <jnt-circle-bar circle>
        <ng-template #content>{{metric.loading | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.purpleDark"
                             [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="isPast(date); else futureMetrics">
        <jnt-circle-bar circle>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.green"
                               [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
        </jnt-circle-bar>
      </ng-container>
      <ng-template #futureMetrics>
        <jnt-circle-bar circle>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.green"
                               [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
            <jnt-bar-indicator [color]="ui.colors.yellow"
                               [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.red"
                               [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.purpleDark"
                               [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
        </jnt-circle-bar>
      </ng-template>
    </ng-container>
  </div>
</ng-template>


