@import '../../../../../style/variables';

:host {
  display: block;
}

[presentations] {
  div {
    padding: 0 $gutter-normal;
    background-color: silver;
  }
}

table {
  table-layout: auto;
  border: 0;
  border-spacing: 0;
  box-shadow: $shadow-primary;
  background-color: $white-color;
  border-radius: $corner-normal;
  font-size: $font-size-small;
  padding: $gutter-normal 0;
  thead {
    tr {
      &[rewind] {
        th {
          padding: 0 $gutter-tiny $gutter-normal $gutter-tiny;
          [date] {
            display: flex;
            color: $gray-dark;
            font-weight: $font-weight-bold;
            span {
              margin: auto;
            }
            [arrow] {
              background-color: transparent;
              border-width: 0;
              font-size: 1rem;
              color: $text-color;
              cursor: pointer;
              padding: 0;
              vertical-align: middle;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              transition: box-shadow .3s;
              &:focus {
                outline: none;
                box-shadow: 0 0 6px rgba(8, 35, 202, 0.4);;
                border: 1px solid $primary-color;
              }
              &:hover {
                color: lighten($text-color, 10%);
              }
            }
          }
        }
      }
      &[timeline] {
        background-color: $gray-500;
        th {
          padding: $gutter-normal $gutter-tiny;
          &[day] {
            cursor: pointer;
          }
        }
      }
    }
  }

  tbody {
    tr {
      th[gutter] {
        width: $gutter-tiny;
      }
      &[nodata] {
        height: 200px;
        pointer-events: none;
        border-bottom: 0;
        td {
          vertical-align: middle;
          text-align: center;
          [icon] {
            font-size: 80px;
            color: $gray-400;
          }
          [message] {
            color: $gray-800;
          }
        }
      }
      &[loading] {
        pointer-events: none;
      }
      td {
        padding: $gutter-tiny;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        &:first-child {
          padding-left: $gutter-normal;
          border-left: 1px solid transparent;
        }
        &:last-child {
          padding-right: $gutter-normal;
          border-right: 1px solid transparent;
        }
        &[day] {
          padding: 5px;
          cursor: pointer;
          &:nth-child(7),
          &:nth-child(17),
          &:nth-child(8),
          &:nth-child(18) {
            background-color: $gray-500;
          }
          &:hover, &[active='true'] {
            background-color: $primary-light-color;
            color: $white-color;
          }
          &[current-day='true'] {
            background-color: $primary-light-color;
            color: $white-color;
          }

          [metric] {
            width: 35px;
            height: 35px;
            [circle] {
              width: 35px;
              height: 35px;
            }
          }
        }
        [link] ::ng-deep a[child-of=#{$jnt-link-host}][active='true'] {
          border-bottom: 0;
        }
      }
      &[active='true'] {
        td:not([gutter]) {
          border-top: 1px solid $primary-color;
          border-bottom: 1px solid $primary-color;
          &:nth-child(2) {
            border-left: 1px solid $primary-color;
            border-top-left-radius: $corner-small;
            border-bottom-left-radius: $corner-small;
          }
          &:nth-child(22) {
            border-right: 1px solid $primary-color;
            border-top-right-radius: $corner-small;
            border-bottom-right-radius: $corner-small;
          }
        }
      }
    }
  }

}
