<table>
  <thead>
  <tr rewind>
    <th gutter></th>
    <th></th>
    <th></th>
    <th colspan="10">
      <div date>
        <button arrow (click)="date = subWeeks(date, 1)">
          <jnt-icon [icon]="ui.icons.arrowLeft"></jnt-icon>
        </button>
        <span [innerHTML]="days[0] | period:days[6]"></span>
        <button arrow (click)="date = addWeeks(date, 1)">
          <jnt-icon [icon]="ui.icons.arrowRight"></jnt-icon>
        </button>
      </div>
    </th>
    <th gutter></th>
  </tr>
  <tr timeline>
    <th gutter></th>
    <th>Developer</th>
    <th></th>
    <th *ngFor="let day of daysOfWeek; let i = index" day (click)="form.patchValue({user: null, dueDate: days[i]})"
        [attr.today]="(today | isEqualDate: days[i])"
        [attr.active]="(dueDate.value | isEqualDate: days[i])">
      <span i18n>{{day}}</span> {{days[i] | getDate}}
    </th>
    <th name-metric>Est</th>
    <th name-metric>Sp</th>
    <th name-metric>Eff</th>
    <th gutter></th>
  </tr>
  </thead>

  <tbody [attr.personalized]="!!user.value">
  <ng-container *ngIf="!!members.length; else noData">
    <tr *ngFor="let member of members" [attr.selected]="user.value?.id == member.user.id">
      <td gutter></td>
      <td>
        <jnt-stack (click)="form.patchValue({user: member.user, dueDate: null})"
                   [type]="ui.stack.type.horizontal"
                   [gutter]="ui.gutter.small" developer tabindex="0">
          <jnt-avatar [image]="member.user.avatar"
                      [size]="ui.sizes.tiny"></jnt-avatar>
          <div>
            <jnt-link link
                      [title]="member.user.name"></jnt-link>
            <br>
            <small>{{member.roles.join(', ')}}</small>
          </div>
        </jnt-stack>
      </td>
      <td>
        <jnt-stack [gutter]="ui.gutter.tiny" [align]="ui.flex.align.stretch">
          <jnt-label *ngIf="member.user.metrics.issues.closedSpent"
                     [label]="member.user.metrics.issues.closedSpent | duration"
                     [color]="ui.colors.green"></jnt-label>
          <jnt-label *ngIf="member.user.metrics.issues.openedSpent"
                     [label]="member.user.metrics.issues.openedSpent | duration"
                     [color]="member.user.problems?.includes(userProblem.payrollOpenedOverflow) ? ui.colors.red : ui.colors.paleNavy"></jnt-label>
        </jnt-stack>
      </td>
      <td day *ngFor="let day of days"
          (click)="form.patchValue({user: member.user, dueDate: day})"
          [attr.active]="(dueDate.value | isEqualDate: day) && (user.value?.id === member.user.id)"
          [attr.active-day]="(dueDate.value | isEqualDate: day)">
        <ng-container *ngTemplateOutlet="dayMetricTemplate; context: {presentation: metric, date: (day | endOfDay),
              metric: metrics?.days?.get(member.user.id)?.get((day | format: formatDate))}">
        </ng-container>
      </td>

      <ng-container
        *ngTemplateOutlet="weekMetricTemplate; context: {metric: metrics?.weeks?.get(member.user.id)?.get((start | format: formatDate))}">
      </ng-container>
      <td gutter></td>
    </tr>
  </ng-container>
  <ng-template #noData>
    <ng-container *ngIf="!loading; else skeleton">
      <tr nodata>
        <td [attr.colspan]="17">
          <jnt-icon [icon]="ui.icons.stopping" icon></jnt-icon>
        </td>
      </tr>
    </ng-container>
    <ng-template #skeleton>
      <tr loading>
        <td [attr.colspan]="17">
          <jnt-skeleton [lines]="6"></jnt-skeleton>
        </td>
      </tr>
    </ng-template>
  </ng-template>
  </tbody>
</table>

<ng-template #weekMetricTemplate let-metric="metric">
  <td>
    {{!!metric?.timeEstimate ? (metric?.timeEstimate | duration:durationFormat.short) : '&ndash;'}}
  </td>
  <td>
    {{!!metric?.timeSpent ? (metric?.timeSpent | duration:durationFormat.short) : '&ndash;'}}
  </td>
  <td [attr.slow]="metric?.efficiency > 0 && metric?.efficiency < 0.8">
    <span>{{!!metric?.efficiency ? (metric?.efficiency | number:'1.2-2') : '&ndash;'}}</span>
  </td>
</ng-template>
<ng-template #dayMetricTemplate let-presentation="presentation" let-metric="metric" let-date="date">
  <div *ngIf="!!metric" metric [ngSwitch]="presentation">
    <div issues *ngIf="!!metric?.issuesCount"></div>
    <ng-container *ngSwitchCase="metricType.spent">
      <jnt-circle-bar circle>
        <ng-template #content>{{metric.timeSpent | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.green"
                             [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchCase="metricType.estimate">
      <jnt-circle-bar *ngIf="(date | isFuture)" circle>
        <ng-template #content>{{metric.timeEstimate | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.red"
                             [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchCase="metricType.remains">
      <jnt-circle-bar *ngIf="(date | isFuture)" circle>
        <ng-template #content>{{metric.timeRemains | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.yellow"
                             [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchCase="metricType.loading">
      <jnt-circle-bar circle>
        <ng-template #content>{{metric.loading | duration:durationFormat.short}}</ng-template>
        <jnt-bar-indicator-group>
          <jnt-bar-indicator [color]="ui.colors.purpleDark"
                             [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
          </jnt-bar-indicator>
        </jnt-bar-indicator-group>
      </jnt-circle-bar>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="(date | isPast); else futureMetrics">
        <jnt-circle-bar circle>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.green"
                               [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
        </jnt-circle-bar>
      </ng-container>
      <ng-template #futureMetrics>
        <jnt-circle-bar circle>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.green"
                               [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
            <jnt-bar-indicator [color]="ui.colors.yellow"
                               [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.red"
                               [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.colors.purpleDark"
                               [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
        </jnt-circle-bar>
      </ng-template>
    </ng-container>
  </div>
</ng-template>


