@import '../../../../../style/variables';

:host {
  display: block;
}

[presentations] {
  div {
    padding: 0 $gutter-normal;
    background-color: silver;
  }
}

table {
  table-layout: auto;
  border: 0;
  border-spacing: 0;
  box-shadow: $base-shadow;
  background-color: $white-color;
  border-radius: $corner-normal;
  font-size: $font-size-sm;
  padding: $gutter-normal 0;
  tr {
    [no-data] {
      text-align: center;
    }
    td:first-child {
      padding-left: $gutter-normal;
    }
    td:last-child {
      padding-right: $gutter-normal;
    }
    /**th {
      border: 0;
      padding: $gutter-small $gutter-tiny;
      [metric] {
        color: $primary-dark-color;
        font-weight: $font-weight-bold;
      }
    }**/
  }

  thead {
    tr {
      &[rewind] {
        td {
          padding: 0 0 $gutter-normal 0;
        }
      }
      &[timeline] {
        background-color: $gray-500;
        th {
          padding: $gutter-normal $gutter-tiny;
        }
      }
    }
    [prev] {
      text-align: left;
    }
    [next] {
      text-align: right;
    }
    [arrow] {
      background-color: transparent;
      border-width: 0;
      font-size: 1rem;
      color: $text-color;
      cursor: pointer;
      padding: 0;
      vertical-align: middle;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow .3s;
      &:focus {
        outline: none;
        box-shadow: 0 0 6px rgba(8, 35, 202, 0.4);;
        border: 1px solid $primary-color;
      }
      &:hover {
        color: lighten($text-color, 10%);
      }
    }
    [date] {
      color: $gray-dark;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }

  tbody {
    tr {
      td {
        &[day] {
          padding: 5px;
          [metric] {
            width: 35px;
            height: 35px;
            [circle] {
              width: 35px;
              height: 35px;
            }
          }
        }
        [link] ::ng-deep a[child-of=#{$jnt-link-host}][active='true'] {
          border-bottom: 0;
        }
      }

      &:not(:last-child) td {
        border-bottom: 1px solid $secondary-color;
      }
    }
  }

}
