<ng-container *ngIf="!status && progress.loading; else dataTemplate">
  <jnt-skeleton [lines]="5"></jnt-skeleton>
</ng-container>

<ng-template #dataTemplate>
  <jnt-stack [align]="ui.align.stretch" *ngIf="status; else noDataTemplate">
    <jnt-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
      <div>Last Sync Time</div>
      <jnt-label [label]="status.lastSync | dfnsFormat:'HH:mm:ss'"></jnt-label>
    </jnt-stack>
    <jnt-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
      <div>WEB</div>
      <jnt-label [label]="status.services.webHooks | diff | duration"></jnt-label>
    </jnt-stack>
    <jnt-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between">
      <div>API</div>
      <jnt-label [label]="status.services.api | diff | duration"></jnt-label>
    </jnt-stack>
    <hr>
    <jnt-stack>
      <app-issue *ngFor="let issue of status.lastIssues"
                 [issue]="issue" issue></app-issue>
    </jnt-stack>
  </jnt-stack>
</ng-template>

<ng-template #noDataTemplate>
  <jnt-skeleton [lines]="5" [animated]="false"></jnt-skeleton>
</ng-template>
