@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
  min-width: 500px;
  max-height: 500px;
  overflow: auto;
}

hr {
  width: 100%;
}

[issue] {
  width: 100%;
  &:not(:last-child) {
    display: block;
    padding-top: $jnt-gutter-tiny;
    margin-bottom: $jnt-gutter-tiny;
    border-bottom: 1px solid $jnt-secondary-color;
  }
}
