@import 'jnt-variables';

:host {
  display: block;
}

[issue] {
  width: 100%;
  &:not(:last-child) {
    display: block;
    padding-top: $jnt-gutter-tiny;
    margin-bottom: $jnt-gutter-tiny;
    border-bottom: 1px solid $jnt-secondary-color;
  }
}
