<jnt-stack [align]="ui.flex.align.stretch" *ngIf="status">
  <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between">
    <div>Last Sync Time</div>
    <jnt-label [label]="status.lastSync | format:'HH:mm:ss'"></jnt-label>
  </jnt-stack>
  <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between">
    <div>WEB</div>
    <div>{{status.services.webHooks | diff | duration}}</div>
  </jnt-stack>
  <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between">
    <div>API</div>
    <div>{{status.services.api | diff | duration}}</div>
  </jnt-stack>
  <hr>
  <jnt-stack>
    <app-issue *ngFor="let issue of status.lastIssues"
               [issue]="issue" issue></app-issue>
  </jnt-stack>
</jnt-stack>
