@import "src/assets/styles/variables";
@import "~@esanum/ui/lib/assets/styles/elements/icon";
@import "~@esanum/ui/lib/assets/styles/forms/button";

$sn-ng-deep: true;

:host-context([theme='dark']) {
  [data-gitlab] {
    @include sn-icon((size: 30px), '&');
  }
}

:host {
  display: block;
}

[data-content] {
  padding: $app-gutter-small;
}

small {
  color: $app-primary-text-light-color;
}

[data-gitlab] {
  @include sn-icon((size: 30px), '&');
}

[data-create-issue] {
  @include sn-button((background: linear-gradient(to right, #f857a6 0%, #ff5858  51%, #f857a6  100%)), '&');
}
