@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import "~@junte/ui/lib/assets/styles/elements/icon";
@import "~@junte/ui/lib/assets/styles/forms/button";

$jnt-ng-deep: true;

:host-context([theme='dark']) {
  [data-gitlab] {
    @include jnt-icon((size: 30px), '&');
  }
}

:host {
  display: block;
}

[data-content] {
  padding: $jnt-gutter-small;
}

small {
  color: $jnt-primary-text-light-color;
}

[data-gitlab] {
  @include jnt-icon((size: 30px), '&');
}

[data-create-issue] {
  @include jnt-button((schemes: (primary: (color: #FF512F))), '&');
}
