@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import "~@junte/ui/lib/assets/styles/navigation/link";

:host {
  display: block;
}

[data-period] {
  position: relative;
  margin: $jnt-gutter-tiny;
  border-radius: $jnt-corner-large;
  background-color: $jnt-gray-600-color;
  color: $jnt-white-color;
  height: 20px;
  pointer-events: none;
  overflow: hidden;

  &[over-from='true'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[over-to='true'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[over-due='true'] {
    border-right: 10px solid $jnt-fail-color;
  }

  &[accepting='true'] {
    cursor: pointer;
    pointer-events: all;
    background-color: $jnt-primary-color;
  }

  &[accepted='true'] {
    background-color: $jnt-success-color;
  }

  &[declined='true'] {
    background-color: $jnt-fail-color;
  }

  [data-label] {
    position: absolute;
    font-size: $jnt-font-size-small;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
