<jnt-gantt data-gantt [type]="ui.gantt.type.year"
           [loading]="loading">
  <ng-template #titleTemplate>
    <strong>Developer</strong>
  </ng-template>
  <jnt-gantt-line *ngFor="let user of workbreaks"
                  [title]="user.name">
    <ng-template #title>
      <app-user [user]="user"></app-user>
    </ng-template>
    <jnt-gantt-line-period *ngFor="let workBreak of user.workBreaks"
                           [from]="workBreak.fromDate"
                           [to]="workBreak.toDate">

      <ng-template #indicatorYear let-current="current" let-today="today">
        <div [attr.accepting]="workBreak['approveState'] === approveStates.created"
             [attr.accepted]="workBreak['approveState'] === approveStates.approved"
             [attr.declined]="workBreak['approveState'] === approveStates.declined"
             [attr.short]="workBreak['toDate'] | dfnsDifferenceInMonths:workBreak['fromDate'] < 2"
             [attr.over-from]="(workBreak['fromDate'] | dfnsGetYear) < (current | dfnsGetYear)"
             [attr.over-to]="(workBreak['toDate'] | dfnsGetYear) > (current | dfnsGetYear)" period>
                          <span label>
                            {{(workBreak['toDate'] | dfnsDifferenceInDays:workBreak['fromDate']) + 1 }} days
                          </span>
        </div>
      </ng-template>

    </jnt-gantt-line-period>
  </jnt-gantt-line>
</jnt-gantt>

