<jnt-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <jnt-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-gantt [type]="ui.gantt.type.year"
           [loading]="progress.loading">
  <ng-template #ganttTitleTemplate>
    <strong i18n="@@label.developer">Developer</strong>
  </ng-template>
  <jnt-gantt-line *ngFor="let m of member"
                  [title]="m.user.name">
    <ng-template #ganttLineTitleTemplate>
      <app-user [user]="m.user"></app-user>
    </ng-template>
    <jnt-gantt-line-period *ngFor="let workBreak of m.user.workBreaks"
                           [from]="workBreak.fromDate"
                           [to]="workBreak.toDate">

      <ng-template #indicatorYear let-current="current" let-today="today">
        <div data-period [attr.accepting]="workBreak['approveState'] === approveStates.created"
             [attr.accepted]="workBreak['approveState'] === approveStates.approved"
             [attr.declined]="workBreak['approveState'] === approveStates.declined"
             [attr.short]="(workBreak['toDate'] | dfnsDifferenceInMonths:workBreak['fromDate']) < 2"
             [attr.over-from]="(workBreak['fromDate'] | dfnsGetYear) < (current | dfnsGetYear)"
             [attr.over-to]="(workBreak['toDate'] | dfnsGetYear) > (current | dfnsGetYear)">
            <span data-label>
              {{(workBreak['toDate'] | dfnsDifferenceInDays:workBreak['fromDate']) + 1 }} days
            </span>
        </div>
      </ng-template>

    </jnt-gantt-line-period>
  </jnt-gantt-line>
</jnt-gantt>


