<jnt-block *ngIf="me?.metrics as metrics" title="Current payroll"
           i18n-title="@@label.current_payroll"
           [width]="ui.width.fluid"
           [padding]="ui.gutter.none">
  <jnt-form [formGroup]="form">
    <jnt-stack [align]="ui.align.stretch">
      <jnt-stack [align]="ui.align.center" [gutter]="ui.gutter.small">
        <span *ngIf="!!me.position" position>{{me.position.title}}</span>
        <jnt-label i18n-label="@@label.hour"
                   [label]="(me.hourRate | money) + ' / ' + 'Hour'"
                   [icon]="ui.icons.money" [color]="ui.color.green">
        </jnt-label>
      </jnt-stack>

      <jnt-stack [orientation]="ui.orientation.horizontal" [justify]="ui.justify.between" taxes>
        <jnt-switch formControlName="taxes" i18n-label="@@label.taxes" label="Taxes"
                    [size]="ui.size.small"></jnt-switch>
        <span position>{{metrics.taxes | money}}</span>
      </jnt-stack>

      <jnt-stack [gutter]="ui.gutter.small" [align]="ui.align.stretch" salary>

        <jnt-date-period [start]="metrics.lastSalaryDate" [end]="today"></jnt-date-period>

        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end"
                   [align]="ui.align.center">
          <ng-template #contentClosed>
            <jnt-stack [orientation]="ui.orientation.vertical"
                       [gutter]="ui.gutter.tiny"
                       [align]="ui.align.stretch"
                       separation>
              <span title i18n-label="@@label.closed_tasks">Closed Tasks</span>
              <span sum>
                {{(taxesControl.value ? metrics.issues.payrollClosed + metrics.issues.taxesClosed
                : metrics.payrollClosed) | money}}
              </span>
              <div separator></div>
              <span title i18n-label="@@label.closed_merge_requests">Closed Merge requests</span>
              <span sum>
                {{(taxesControl.value ? metrics.mergeRequests.payrollClosed + metrics.mergeRequests.taxesClosed
                : metrics.mergeRequests.payrollClosed) | money}}
              </span>
            </jnt-stack>
          </ng-template>
          <span [jntPopover]="getOptions({contentTemplate: contentClosed})">
            {{(taxesControl.value ? metrics.payrollClosed + metrics.taxesClosed : metrics.payrollClosed)
            | money}}
          </span>
          <jnt-label *ngIf="(metrics.issues.closedSpent + metrics.mergeRequests.closedSpent) as spent"
                     [label]="spent | duration"
                     [color]="ui.color.purpleLight">
          </jnt-label>
        </jnt-stack>

        <jnt-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end"
                   [align]="ui.align.center">
          <ng-template #contentOpened>
            <jnt-stack [orientation]="ui.orientation.vertical"
                       [gutter]="ui.gutter.tiny"
                       [align]="ui.align.stretch"
                       separation>
              <span title i18n-label="@@label.opened_tasks">Opened Tasks</span>
              <span sum>
                {{(taxesControl.value ? metrics.issues.payrollOpened + metrics.issues.taxesOpened
                : metrics.payrollOpened) | money}}
              </span>
              <div separator></div>
              <span title i18n-label="@@label.opened_merge_requests">Opened Merge requests</span>
              <span sum>
                {{(taxesControl.value ? metrics.mergeRequests.payrollOpened + metrics.mergeRequests.taxesOpened
                : metrics.mergeRequests.payrollOpened) | money}}
              </span>
            </jnt-stack>
          </ng-template>
          <span [jntPopover]="getOptions({contentTemplate: contentOpened})">
            {{(taxesControl.value ? metrics.payrollOpened + metrics.taxesOpened : metrics.payrollOpened)
            | money}}</span>
          <jnt-label *ngIf="(metrics.issues.openedSpent + metrics.mergeRequests.openedSpent) as spent"
                     [label]="spent | duration"
                     [color]="ui.color.purpleLight">
          </jnt-label>
        </jnt-stack>
      </jnt-stack>

      <ng-template #contentAll>
        <jnt-stack [orientation]="ui.orientation.vertical"
                   [gutter]="ui.gutter.tiny"
                   [align]="ui.align.stretch"
                   separation>
          <span title i18n-label="@@label.tasks">Tasks</span>
          <span sum>{{(taxesControl.value ? metrics.issues.payroll + metrics.issues.taxes
            : metrics.payroll) | money}}
          </span>
          <div separator></div>
          <span title i18n-label="@@label.merge_requests ">Merge requests</span>
          <span sum>{{(taxesControl.value ? metrics.mergeRequests.payroll + metrics.mergeRequests.taxes
            : metrics.mergeRequests.payroll) | money}}
              </span>
        </jnt-stack>
      </ng-template>
      <div payroll>
        <span [jntPopover]="getOptions({contentTemplate: contentAll})">
        {{(taxesControl.value ? metrics.payroll + metrics.taxes : metrics.payroll)
          | money}}</span>
      </div>

      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.stretch"
                 [justify]="ui.justify.center">
        <div metrics>
          <ng-template #contentBonuses>
            <jnt-stack [gutter]="ui.gutter.tiny"
                       [align]="ui.align.stretch"
                       separation>
              <jnt-stack *ngFor="let bonus of bonuses"
                         [orientation]="ui.orientation.horizontal"
                         bonus>
                <span>{{bonus.sum | money}}</span>
                <span>{{bonus.comment}}</span>
              </jnt-stack>
            </jnt-stack>
          </ng-template>
          <jnt-stack
            [jntPopover]="getOptions({contentTemplate: contentBonuses, title: 'Bonuses'},
              !!bonuses.length)"
            [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small"
            [align]="ui.align.center">
            <jnt-icon like [icon]="ui.icons.like"></jnt-icon>
            <span>{{metrics.bonus | money}}</span>
          </jnt-stack>
        </div>
        <div separator></div>
        <div metrics>
          <ng-template #contentPenalties>
            <jnt-stack [orientation]="ui.orientation.vertical"
                       [gutter]="ui.gutter.tiny"
                       [align]="ui.align.stretch"
                       separation>
              <jnt-stack *ngFor="let penalty of penalties">
                <span>{{penalty.sum | money}}</span>
                <span>{{penalty.comment}}</span>
              </jnt-stack>
            </jnt-stack>
          </ng-template>
          <jnt-stack
            [jntPopover]="getOptions({contentTemplate: contentPenalties, title: 'Penalties'},
              !!penalties.length)"
            [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small"
            [align]="ui.align.center">
            <jnt-icon dislike [icon]="ui.icons.dislike"></jnt-icon>
            <span>{{metrics.penalty | money}}</span>
          </jnt-stack>
        </div>
      </jnt-stack>
      <jnt-stack [gutter]="ui.gutter.tiny" [align]="ui.align.stretch" paidDays>
        <jnt-progress-bar [value]="(metrics.paidWorkBreaksDays / 30) * 100">
          <ng-template #progressBarLegendTemplate>
            <jnt-stack [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.center"
                       [justify]="ui.justify.between"
                       [gutter]="ui.gutter.normal">
              <div>{{metrics.paidWorkBreaksDays}}</div>
              <div>30</div>
            </jnt-stack>
          </ng-template>
        </jnt-progress-bar>
        <span paidDaysLabel>paid {{metrics.paidWorkBreaksDays}} days</span>
      </jnt-stack>
    </jnt-stack>
  </jnt-form>
</jnt-block>
