<jnt-form [formGroup]="form" jntValidation (submitted)="save()">
  <jnt-tabs>
    <jnt-tab title="Common">
      <ng-template #tabContentTemplate>
        <jnt-form-item>
          <jnt-form-control name="type">
            <jnt-switcher formControlName="type">
              <jnt-switcher-option label="Feature"
                                   [value]="milestoneTicketTypes.feature">
                <jnt-dot [color]="ui.colors.green"></jnt-dot>
              </jnt-switcher-option>
              <jnt-switcher-option label="Improvement"
                                   [value]="milestoneTicketTypes.improvement">
                <jnt-dot [color]="ui.colors.purple"></jnt-dot>
              </jnt-switcher-option>
              <jnt-switcher-option label="Bug fixing"
                                   [value]="milestoneTicketTypes.bugFixing">
                <jnt-dot [color]="ui.colors.red"></jnt-dot>
              </jnt-switcher-option>
            </jnt-switcher>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
              This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>

        <jnt-form-item>
          <jnt-form-label for="title">Title</jnt-form-label>
          <jnt-form-control name="title">
            <jnt-input placeholder="Title" formControlName="title"></jnt-input>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
              This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>

        <jnt-form-item>
          <jnt-form-label for="role">Role</jnt-form-label>
          <jnt-form-control name="role">
            <jnt-input placeholder="Target role" formControlName="role"></jnt-input>
          </jnt-form-control>
        </jnt-form-item>

        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-form-item>
            <jnt-form-label for="startDate">Start date</jnt-form-label>
            <jnt-form-control name="startDate">
              <jnt-date-picker placeholder="Start date" formControlName="startDate"></jnt-date-picker>
              <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
              </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="dueDate">Due date</jnt-form-label>
            <jnt-form-control name="dueDate">
              <jnt-date-picker placeholder="Due date" formControlName="dueDate"></jnt-date-picker>
              <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
              </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>
        </jnt-stack>

        <jnt-form-item>
          <jnt-form-label for="url">Url</jnt-form-label>
          <jnt-form-control name="url">
            <jnt-input placeholder="Url" formControlName="url"></jnt-input>
            <jnt-form-message [type]="ui.form.validators.typeError.required">
              This field is required
            </jnt-form-message>
          </jnt-form-control>
        </jnt-form-item>
      </ng-template>
    </jnt-tab>
    <jnt-tab title="Issues">
      <ng-template #tabContentTemplate>
        <jnt-select issues placeholder="Issues"
                    formControlName="issues"
                    [mode]="ui.select.multiple"
                    [search]="true"
                    [loader]="findIssues()"
                    keyField="id"
                    labelField="title">
          <jnt-select-option *ngFor="let issue of ticket?.issues"
                             [key]="issue.id"
                             [label]="issue.title"
                             [value]="issue">
          </jnt-select-option>
          <ng-template #optionTemplate let-issue="value">
            <div issue>
              <app-issue [issue]="issue"></app-issue>
            </div>
          </ng-template>
        </jnt-select>
      </ng-template>
    </jnt-tab>
  </jnt-tabs>

  <ng-template #formFooterTemplate>
    <jnt-stack [type]="ui.stack.type.horizontal"
               [justify]="ui.flex.justify.between" footer>
      <jnt-button text="Save" [type]="ui.form.button.type.submit" [loading]="saving"></jnt-button>
      <jnt-button text="Cancel" (click)="canceled.emit()" [scheme]="ui.schemes.secondary"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
