@import "variables";

:host {
  display: block;
  min-width: 450px;
}

p {
  font-size: $jnt-font-size-small;
}

[issue] {
  pointer-events: none;
}

[issues] ::ng-deep {
  [select][child-of=#{$jnt-select-host}] {
    ul {
      max-height: 200px;
      overflow-y: scroll;
      li {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
