<jnt-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <jnt-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-form [formGroup]="form" (submitted)="save()"
          [state]="progress.loading ? ui.state.loading : null">
  <jnt-tabs>
    <jnt-tab title="Common"
             i18n-title="@@label.common">
      <ng-template #tabContentTemplate>
        <jnt-stack
          [gutter]="ui.gutter.small"
          [align]="ui.align.stretch">
          <p *ngIf="!!ticket" i18n="@@message.ticket_in_dashboard">
            <jnt-link [source]="'/admin/development/ticket/' + ticket.id + '/change/'"
                      [icon]="ui.icons.link"
                      target="_blank"
                      title="Edit"
                      i18n-title="@@action.edit">
            </jnt-link>
            ticket in admin dashboard.
          </p>
          <jnt-form-item>
            <jnt-form-control name="type">
              <jnt-switcher formControlName="type">
                <jnt-switcher-option label="Feature"
                                     i18n-title="@@label.feature"
                                     [value]="milestoneTicketTypes.feature">
                  <jnt-dot [color]="ui.color.green"></jnt-dot>
                </jnt-switcher-option>
                <jnt-switcher-option label="Improvement"
                                     i18n-title="@@label.improvement"
                                     [value]="milestoneTicketTypes.improvement">
                  <jnt-dot [color]="ui.color.purple"></jnt-dot>
                </jnt-switcher-option>
                <jnt-switcher-option label="Bug fixing"
                                     i18n-title="@@label.bug_fixing"
                                     [value]="milestoneTicketTypes.bugFixing">
                  <jnt-dot [color]="ui.color.red"></jnt-dot>
                </jnt-switcher-option>
              </jnt-switcher>
              <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item *ngIf="!!ticket">
            <jnt-form-label for="milestone" i18n="@@label.milestone">Milestone</jnt-form-label>
            <jnt-form-control name="milestone">
              <jnt-select placeholder="Milestone"
                          i18n-placeholder="@@label.milestone"
                          formControlName="milestone"
                          [features]="[ui.feature.search]"
                          [loader]="findMilestones()"
                          keyField="id"
                          labelField="title">
                <jnt-select-option [key]="ticket.milestone.id"
                                   [label]="ticket.milestone.title"
                                   [value]="ticket.milestone">
                </jnt-select-option>
              </jnt-select>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="title" i18n="@@label.title">Title</jnt-form-label>
            <jnt-form-control name="title">
              <jnt-input placeholder="Title"
                         i18n-placeholder="@@label.title"
                         formControlName="title"></jnt-input>
              <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="role" i18n="@@label.role">Role</jnt-form-label>
            <jnt-form-control name="role">
              <jnt-input placeholder="Target role"
                         i18n-placeholder="@@label.target_role"
                         formControlName="role"></jnt-input>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-stack [gutter]="ui.gutter.small"
                     [align]="ui.align.stretch">
            <jnt-row>
              <jnt-col [desktop]="6">
                <jnt-form-item>
                  <jnt-form-label for="startDate" i18n="@@label.start_date">Start date</jnt-form-label>
                  <jnt-form-control name="startDate">
                    <jnt-date-picker placeholder="Start date"
                                     i18n-placeholder="@@label.start_date" formControlName="startDate"></jnt-date-picker>
                    <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
                      This field is required
                    </jnt-form-message>
                  </jnt-form-control>
                </jnt-form-item>
              </jnt-col>
              <jnt-col [desktop]="6">
                <jnt-form-item>
                  <jnt-form-label for="dueDate">Due date</jnt-form-label>
                  <jnt-form-control name="dueDate">
                    <jnt-date-picker placeholder="Due date" formControlName="dueDate"></jnt-date-picker>
                    <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
                      This field is required
                    </jnt-form-message>
                  </jnt-form-control>
                </jnt-form-item>
              </jnt-col>
            </jnt-row>
            <jnt-button-group [scheme]="ui.scheme.secondary"
                              [size]="ui.size.small">
              <jnt-button text="This week"
                          i18n-text="@@action.this_week"
                          (click)="thisWeek()"></jnt-button>
              <jnt-button text="Next week"
                          i18n-text="@@action.next_week"
                          (click)="nextWeek()"></jnt-button>
            </jnt-button-group>
          </jnt-stack>

          <jnt-form-item>
            <jnt-form-label for="state" i18n="@@label.state">State</jnt-form-label>
            <jnt-form-control name="state">
              <ng-template #stateTemplate let-label="label" let-state="value">
                <jnt-stack [orientation]="ui.orientation.horizontal"
                           [gutter]="ui.gutter.small"
                           [align]="ui.align.center">
                  <jnt-dot [color]="state | ticketStateColor"></jnt-dot>
                  <div>{{label}}</div>
                </jnt-stack>
              </ng-template>

              <jnt-select formControlName="state"
                          [optionTemplate]="stateTemplate">
                <jnt-select-option label="Created"
                                   i18n-label="@@label.created"
                                   [key]="milestoneTicketStates.created"
                                   [value]="milestoneTicketStates.created"></jnt-select-option>
                <jnt-select-option label="Planning"
                                   i18n-label="@@label.planning"
                                   [key]="milestoneTicketStates.planning"
                                   [value]="milestoneTicketStates.planning"></jnt-select-option>
                <jnt-select-option label="Doing"
                                   i18n-label="@@label.doing"
                                   [key]="milestoneTicketStates.doing"
                                   [value]="milestoneTicketStates.doing"></jnt-select-option>
                <jnt-select-option label="Testing"
                                   i18n-label="@@label.testing"
                                   [key]="milestoneTicketStates.testing"
                                   [value]="milestoneTicketStates.testing"></jnt-select-option>
                <jnt-select-option label="Accepting"
                                   i18n-label="@@label.accepting"
                                   [key]="milestoneTicketStates.accepting"
                                   [value]="milestoneTicketStates.accepting"></jnt-select-option>
                <jnt-select-option label="Done"
                                   i18n-label="@@label.done"
                                   [key]="milestoneTicketStates.done"
                                   [value]="milestoneTicketStates.done"></jnt-select-option>
              </jnt-select>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="url"
                            i18n="@@label.url">Url</jnt-form-label>
            <jnt-form-control name="url">
              <jnt-input placeholder="Url"
                         i18n-placeholder="@@label.url"
                         formControlName="url"></jnt-input>
              <jnt-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
              This field is required
            </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>
        </jnt-stack>
      </ng-template>
    </jnt-tab>
    <jnt-tab title="Issues"
             i18n-title="@@label.issues">
      <jnt-badge *ngIf="ticket?.issues.length"
                 [value]="ticket?.issues.length"></jnt-badge>
      <ng-template #tabContentTemplate>
        <jnt-form-item>
          <ng-template #issueTemplate let-issue="value">
            <app-issue data-issue [issue]="issue"></app-issue>
          </ng-template>
          <jnt-select data-issues placeholder="Issues"
                      i18n-placeholder="@@label.issues"
                      formControlName="issues"
                      [mode]="ui.select.mode.multiple"
                      [features]="[ui.feature.search]"
                      [loader]="findIssues()"
                      keyField="id"
                      labelField="title"
                      (selected)="selected.issues.push($event)"
                      [optionTemplate]="issueTemplate">
            <jnt-select-option *ngFor="let i of selected.issues"
                               [key]="i.id"
                               [label]="i.title"
                               [value]="i"></jnt-select-option>
            <jnt-select-option *ngFor="let i of ticket?.issues"
                               [key]="i.id"
                               [label]="i.title"
                               [value]="i"></jnt-select-option>
          </jnt-select>
        </jnt-form-item>
      </ng-template>
    </jnt-tab>
  </jnt-tabs>

  <ng-template #formFooterTemplate>
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.between">
      <jnt-button text="Save"
                  i18n-text="@@action.save"
                  [type]="ui.button.type.submit"
                  [loading]="progress.saving"></jnt-button>
      <jnt-button text="Cancel"
                  i18n-text="@@action.cancel"
                  (click)="canceled.emit()"
                  [scheme]="ui.scheme.secondary"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
