@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import "~@junte/ui/lib/assets/styles/forms/select";
$jnt-ng-deep: true;

:host {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  min-height: 400px;
}

p {
  font-size: $jnt-font-size-small;
}

[data-issue] {
  pointer-events: none;
}

[data-issues] {
  @include jnt-select((chips: (width: 'fluid')), '&');
}
