@import "src/assets/styles/variables";
@import "~@esanum/ui/lib/assets/styles/forms/select";
@import "~@esanum/ui/lib/assets/styles/layout/responsive";

$sn-ng-deep: true;

:host {
  display: flex;
  flex-direction: column;
  @include min-for-desktop() {
    width: 450px;
    min-height: 550px;
  }
}

p {
  font-size: $sn-font-size-small;
}

[data-issue] {
  pointer-events: none;
}

[data-issues] {
  @include sn-select((chips: (width: 'fluid')), '&');
}
