<jnt-form [formGroup]="form" jntValidation (submitted)="save()"
          [loading]="progress.loading">
  <p *ngFor="let e of errors">{{e}}</p>
  <jnt-tabs>
    <jnt-tab title="Common"
             i18n-title="@@label.common">
      <ng-template #tabContentTemplate>
        <jnt-stack
          [gutter]="ui.gutter.small"
          [align]="ui.flex.align.stretch">
          <p *ngIf="!!ticket">
            <jnt-link [source]="'/admin/development/ticket/' + ticket.id + '/change/'"
                      [icon]="ui.icons.settings"
                      target="_blank"
                      title="Edit"
                      i18n-title="@@action.edit"
                      [outline]="ui.outline.ghost">
            </jnt-link>
            ticket in admin dashboard.
          </p>
          <jnt-form-item>
            <jnt-form-control name="type">
              <jnt-switcher formControlName="type">
                <jnt-switcher-option label="Feature"
                                     i18n-title="@@label.feature"
                                     [value]="milestoneTicketTypes.feature">
                  <jnt-dot [color]="ui.color.green"></jnt-dot>
                </jnt-switcher-option>
                <jnt-switcher-option label="Improvement"
                                     i18n-title="@@label.improvement"
                                     [value]="milestoneTicketTypes.improvement">
                  <jnt-dot [color]="ui.color.purple"></jnt-dot>
                </jnt-switcher-option>
                <jnt-switcher-option label="Bug fixing"
                                     i18n-title="@@label.bug_fixing"
                                     [value]="milestoneTicketTypes.bugFixing">
                  <jnt-dot [color]="ui.color.red"></jnt-dot>
                </jnt-switcher-option>
              </jnt-switcher>
              <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
              </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item *ngIf="!!ticket">
            <jnt-form-label for="milestone">Milestone</jnt-form-label>
            <jnt-form-control name="milestone">
              <jnt-select issues placeholder="Milestone"
                          formControlName="milestone"
                          [allowEmpty]="false">
                <jnt-select-option *ngFor="let milestone of milestones"
                                   [key]="milestone.id"
                                   [label]="milestone.title"
                                   [value]="milestone">
                </jnt-select-option>
              </jnt-select>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="title">Title</jnt-form-label>
            <jnt-form-control name="title">
              <jnt-input placeholder="Title" formControlName="title"></jnt-input>
              <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
              </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="role">Role</jnt-form-label>
            <jnt-form-control name="role">
              <jnt-input placeholder="Target role" formControlName="role"></jnt-input>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-stack [type]="ui.layout.stack.type.horizontal">
            <jnt-form-item>
              <jnt-form-label for="startDate">Start date</jnt-form-label>
              <jnt-form-control name="startDate">
                <jnt-date-picker placeholder="Start date" formControlName="startDate"></jnt-date-picker>
                <jnt-form-message [type]="ui.form.validators.typeError.required">
                  This field is required
                </jnt-form-message>
              </jnt-form-control>
            </jnt-form-item>

            <jnt-form-item>
              <jnt-form-label for="dueDate">Due date</jnt-form-label>
              <jnt-form-control name="dueDate">
                <jnt-date-picker placeholder="Due date" formControlName="dueDate"></jnt-date-picker>
                <jnt-form-message [type]="ui.form.validators.typeError.required">
                  This field is required
                </jnt-form-message>
              </jnt-form-control>
            </jnt-form-item>
          </jnt-stack>

          <jnt-form-item>
            <jnt-form-label for="state">State</jnt-form-label>
            <jnt-form-control name="state">
              <jnt-select formControlName="state" [allowEmpty]="false">
                <ng-template #selectOptionTemplate let-label="label" let-state="value">
                  <jnt-stack [type]="ui.layout.stack.type.horizontal"
                             [gutter]="ui.gutter.small"
                             [align]="ui.flex.align.center">
                    <jnt-dot [color]="state | ticketStateColor"></jnt-dot>
                    <div>{{label}}</div>
                  </jnt-stack>
                </ng-template>

                <jnt-select-option label="Created"
                                   i18n-label="@@label.created"
                                   [key]="milestoneTicketStates.created"
                                   [value]="milestoneTicketStates.created"></jnt-select-option>
                <jnt-select-option label="Planning"
                                   i18n-label="@@label.planning"
                                   [key]="milestoneTicketStates.planning"
                                   [value]="milestoneTicketStates.planning"></jnt-select-option>
                <jnt-select-option label="Doing"
                                   i18n-label="@@label.doing"
                                   [key]="milestoneTicketStates.doing"
                                   [value]="milestoneTicketStates.doing"></jnt-select-option>
                <jnt-select-option label="Testing"
                                   i18n-label="@@label.testing"
                                   [key]="milestoneTicketStates.testing"
                                   [value]="milestoneTicketStates.testing"></jnt-select-option>
                <jnt-select-option label="Accepting"
                                   i18n-label="@@label.accepting"
                                   [key]="milestoneTicketStates.accepting"
                                   [value]="milestoneTicketStates.accepting"></jnt-select-option>
                <jnt-select-option label="Done"
                                   i18n-label="@@label.done"
                                   [key]="milestoneTicketStates.done"
                                   [value]="milestoneTicketStates.done"></jnt-select-option>
              </jnt-select>
            </jnt-form-control>
          </jnt-form-item>

          <jnt-form-item>
            <jnt-form-label for="url">Url</jnt-form-label>
            <jnt-form-control name="url">
              <jnt-input placeholder="Url" formControlName="url"></jnt-input>
              <jnt-form-message [type]="ui.form.validators.typeError.required">
                This field is required
              </jnt-form-message>
            </jnt-form-control>
          </jnt-form-item>
        </jnt-stack>
      </ng-template>
    </jnt-tab>
    <jnt-tab title="Issues"
             i18n-title="@@label.issues">
      <jnt-badge *ngIf="ticket?.issues.length"
                 [value]="ticket?.issues.length"></jnt-badge>
      <ng-template #tabContentTemplate>
        <jnt-form-item>
          <jnt-select issues placeholder="Issues"
                      formControlName="issues"
                      [mode]="ui.form.select.mode.multiple"
                      [search]="true"
                      [loader]="findIssues()"
                      keyField="id"
                      labelField="title">
            <jnt-select-option *ngFor="let issue of ticket?.issues"
                               [key]="issue.id"
                               [label]="issue.title"
                               [value]="issue">
            </jnt-select-option>
            <ng-template #selectOptionTemplate let-issue="value">
              <div issue>
                <app-issue [issue]="issue"></app-issue>
              </div>
            </ng-template>
          </jnt-select>
        </jnt-form-item>
      </ng-template>
    </jnt-tab>
  </jnt-tabs>

  <ng-template #formFooterTemplate>
    <jnt-stack [type]="ui.layout.stack.type.horizontal"
               [justify]="ui.flex.justify.between">
      <jnt-button text="Save"
                  i18n-text="@@action.save"
                  [type]="ui.form.button.type.submit"
                  [loading]="progress.saving"></jnt-button>
      <jnt-button text="Cancel"
                  i18n-text="@@action.cancel"
                  (click)="canceled.emit()"
                  [scheme]="ui.scheme.secondary"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
