<jnt-block [loading]="loading">
  <jnt-form>
    <jnt-gantt title="Tickets">
      <jnt-gantt-line *ngFor="let ticket of tickets"
                      [period]="ticket"
                      [from]="ticket.startDate"
                      [to]="ticket.dueDate">
        <ng-template #indicator let-period="period" let-current="current">
          <div [attr.over-from]="(period['startDate'] | fullMonth) < (current | fullMonth)"
               [attr.over-to]="(period['dueDate'] | fullMonth) > (current | fullMonth)" period>
            <div *ngIf="ticket.metrics.issuesOpenedCount" label>{{ticket.metrics.timeRemains | duration}}</div>
            <div progress [style.transform]="'translateX(-' + (ticket.metrics.issuesOpenedCount ? 100 - ticket.metrics.timeSpent / ticket.metrics.timeEstimate * 100 : 0) + '%)'">
            </div>
          </div>
        </ng-template>
        <ng-template #title>
          <jnt-stack [type]="ui.stack.type.horizontal"
                     [justify]="ui.flex.justify.between"
                     [align]="ui.flex.align.center"
                     [attr.ticket]="ticket.id"
                     [cdkDropListEnterPredicate]="predicate"
                     cdkDropList (cdkDropListDropped)="drop($event)">
            <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center" [gutter]="ui.gutter.small">
              <jnt-dot [color]="colors[ticket.type]"></jnt-dot>
              <jnt-link (click)="onChange(ticket)" [title]="ticket.title"></jnt-link>
            </jnt-stack>

            <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center" [gutter]="ui.gutter.small">
              <jnt-link *ngIf="ticket.url" [icon]="ui.icons.externalLink"
                        [source]="ticket.url" target="_blank">
              </jnt-link>
              <jnt-label *ngIf="ticket.metrics.issuesClosedCount as issuesClosedCount"
                         [color]="ui.colors.green"
                         [label]="issuesClosedCount">
              </jnt-label>
              <jnt-label *ngIf="ticket.metrics.issuesOpenedCount as issuesOpenedCount"
                         [color]="ui.colors.gray500"
                         [label]="issuesOpenedCount">
              </jnt-label>
              <jnt-button [icon]="ui.icons.edit" (click)="edit(ticket)" [size]="ui.sizes.small"></jnt-button>
              <jnt-button [icon]="ui.icons.delete" (click)="delete(ticket.id)" [size]="ui.sizes.small"></jnt-button>
            </jnt-stack>
          </jnt-stack>
        </ng-template>
      </jnt-gantt-line>
      <jnt-gantt-line>
        <ng-template #title>
          <div title>
            <jnt-button [icon]="ui.icons.plus" (click)="add()"></jnt-button>
          </div>
        </ng-template>
      </jnt-gantt-line>
    </jnt-gantt>
  </jnt-form>
</jnt-block>
