<sn-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <sn-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></sn-informer-message>
</sn-informer>

<sn-form [formGroup]="form">
  <sn-table #table [features]="[view !== viewType.salary ? ui.feature.reload : null]"
             (reloaded)="loadSummary()"
             formControlName="table">

    <ng-template *ngIf="view !== viewType.salary" #tableActionsTemplate>
      <sn-button text="Today"
                  i18n-text="@@action.today"
                  [icon]="localUi.icons.today"
                  [scheme]="ui.scheme.secondary"
                  [outline]="ui.outline.transparent"
                  (click)="form.patchValue({date: today()})"></sn-button>
    </ng-template>

    <ng-template *ngIf="view !== viewType.salary" #tableFiltersTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <sn-stack [orientation]="ui.orientation.horizontal">
          <sn-date-picker formControlName="date"
                           [features]="[ui.feature.allowEmpty]"></sn-date-picker>
          <sn-switcher formControlName="type">
            <sn-switcher-option label="All"
                                 i18n-label="@@action.filter_type_all"
                                 [disabled]="summary?.spent <= 0"
                                 [value]="timeExpensesType.all">
              <sn-badge *ngIf="summary?.spent > 0"
                         [text]="summary.spent | duration:durationFormat.full">
              </sn-badge>
            </sn-switcher-option>
            <sn-switcher-option label="Closed"
                                 i18n-label="@@action.filter_type_closed"
                                 [disabled]="summary?.closedSpent <= 0"
                                 [value]="timeExpensesType.closed">
              <sn-badge *ngIf="summary?.closedSpent > 0"
                         [text]="summary.closedSpent | duration:durationFormat.full">
              </sn-badge>
            </sn-switcher-option>
            <sn-switcher-option label="Opened"
                                 i18n-label="@@action.filter_type_opened"
                                 [disabled]="summary?.openedSpent <= 0"
                                 [value]="timeExpensesType.opened">
              <sn-badge *ngIf="summary?.openedSpent > 0"
                         [text]="summary.openedSpent | duration:durationFormat.full"
                         [color]="ui.color.green">
              </sn-badge>
            </sn-switcher-option>
          </sn-switcher>
        </sn-stack>
      </sn-stack>
    </ng-template>

    <sn-table-column title="Spent where"
                      i18n-title="@@label.spent_where">
      <ng-template #tableCellTemplate let-owner="owner">
        <ng-container [ngSwitch]="owner | getOwnerType">
          <app-issue *ngSwitchCase="ownerType.issue"
                     [issue]="owner"></app-issue>
          <app-merge-request *ngSwitchCase="ownerType.mergeRequest"
                             [mergeRequest]="owner"></app-merge-request>
        </ng-container>
      </ng-template>
    </sn-table-column>

    <sn-table-column *ngIf="view !== viewType.salary" title="Developer"
                      i18n-title="@@label.developer"
                      width="15%">
      <ng-template #tableCellTemplate
                   let-user="user">
        <app-user [user]="user"
                  [size]="userCardSize.small"></app-user>
      </ng-template>
    </sn-table-column>

    <sn-table-column title="Created at"
                      i18n-title="@@label.created_at"
                      [align]="ui.align.center"
                      width="25%">
      <ng-template #tableCellTemplate let-createdAt="createdAt">
        {{createdAt | dfnsFormat:'PPp'}}
      </ng-template>
    </sn-table-column>

    <sn-table-column title="Spent"
                      i18n-title="@@label.spent"
                      [align]="ui.align.center"
                      width="10%">
      <ng-template #tableCellTemplate let-timeSpent="timeSpent">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{timeSpent | duration}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column title="Earn"
                      i18n-title="@@label.earn"
                      [align]="ui.align.center"
                      width="10%">
      <ng-template #tableCellTemplate let-sum="sum">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{sum > 0 ? (sum | money) : '&mdash;'}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column *ngIf="view !== viewType.salary" title="Salary"
                      i18n-title="@@label.salary"
                      [align]="ui.align.center"
                      width="15%">
      <ng-template #tableCellTemplate let-salary="salary">
        <sn-link *ngIf="!!salary" [title]="salary.createdAt | dfnsFormat:'PPp'"
                  [source]="['../salaries', salary.id]"></sn-link>
      </ng-template>
    </sn-table-column>

  </sn-table>
</sn-form>
