<jnt-block [padding]="ui.gutter.none" [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table formControlName="table">
      <ng-template *ngIf="view === viewType.extended" #tableFiltersTemplate>
        <jnt-stack [orientation]="ui.orientation.horizontal">
          <jnt-stack [orientation]="ui.orientation.horizontal">
            <jnt-date-picker formControlName="date"
                             [features]="[ui.feature.clear]"></jnt-date-picker>
            <jnt-switcher formControlName="type">
              <jnt-switcher-option label="All"
                                   i18n-label="@@action.filter_type_all"
                                   [disabled]="summary?.spent <= 0"
                                   [value]="timeExpensesType.all">
                <jnt-badge *ngIf="summary?.spent > 0"
                           [text]="summary.spent | duration:durationFormat.full">
                </jnt-badge>
              </jnt-switcher-option>
              <jnt-switcher-option label="Closed"
                                   i18n-label="@@action.filter_type_closed"
                                   [disabled]="summary?.closedSpent <= 0"
                                   [value]="timeExpensesType.closed">
                <jnt-badge *ngIf="summary?.closedSpent > 0"
                           [text]="summary.closedSpent | duration:durationFormat.full">
                </jnt-badge>
              </jnt-switcher-option>
              <jnt-switcher-option label="Opened"
                                   i18n-label="@@action.filter_type_opened"
                                   [disabled]="summary?.openedSpent <= 0"
                                   [value]="timeExpensesType.opened">
                <jnt-badge *ngIf="summary?.openedSpent > 0"
                           [text]="summary.openedSpent | duration:durationFormat.full"
                           [color]="ui.color.green">
                </jnt-badge>
              </jnt-switcher-option>
            </jnt-switcher>
          </jnt-stack>
        </jnt-stack>
      </ng-template>
      <jnt-table-column sort="title"
                        title="Title"
                        i18n-title="@@label.title">
        <ng-template #tableCellTemplate let-owner="owner">
          <ng-container [ngSwitch]="owner | getOwnerType">
            <app-issue *ngSwitchCase="ownerType.issue"
                       [issue]="owner"></app-issue>
            <app-merge-request *ngSwitchCase="ownerType.mergeRequest"
                               [mergeRequest]="owner"></app-merge-request>
          </ng-container>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column sort="created_at"
                        title="Created at"
                        i18n-title="@@label.created_at">
        <ng-template #tableCellTemplate let-createdAt="createdAt">
          {{createdAt | dfnsFormat:'PPp'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Spent"
                        i18n-title="@@label.spent">
        <ng-template #tableCellTemplate let-timeSpent="timeSpent">
          {{timeSpent | duration}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Earn"
                        i18n-title="@@label.earn">
        <ng-template #tableCellTemplate let-sum="sum">
          {{!!sum ? (sum | currency) : '&mdash;'}}
        </ng-template>
      </jnt-table-column>
    </jnt-table>
  </jnt-form>
</jnt-block>
