<jnt-stack>
  <jnt-block>
    <jnt-table>
      <jnt-table-column i18n-title="@@date" title="Period">
        <ng-template #cellTemplate let-periodTo="periodTo" let-periodFrom="periodFrom">
          {{periodFrom | date:'shortDate'}} - {{periodTo | date:'shortDate'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@chargedTime" title="Charged Time">
        <ng-template #cellTemplate let-chargedTime="chargedTime">
          {{chargedTime | duration}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@bonus" title="Bonus">
        <ng-template #cellTemplate let-bonus="bonus">
          {{bonus | currency:'RUB'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@penalty" title="Penalty">
        <ng-template #cellTemplate let-penalty="penalty">
          {{penalty | currency:'RUB'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@total" title="Total">
        <ng-template #cellTemplate let-total="total">
          {{total | currency:'RUB'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@payed" title="Payed">
        <ng-template #cellTemplate let-payed="payed">
          {{payed ? 'Yes' : 'No'}}
        </ng-template>
      </jnt-table-column>
    </jnt-table>
  </jnt-block>
</jnt-stack>
