<jnt-stack [orientation]="ui.orientation.horizontal"
           [gutter]="size === cardSize.small ? ui.size.tiny : ui.size.small">
  <jnt-avatar [image]="user.avatar"
              [size]="size === cardSize.small ? ui.size.tiny : ui.size.small"></jnt-avatar>
  <jnt-stack [gutter]="ui.gutter.none">
    <div>{{user.name}}</div>
    <small *ngIf="!!roles;else positionTemplate">
      {{roles | join:', '}}
    </small>
    <ng-template #positionTemplate>
      <small>{{user.position?.title}}</small>
    </ng-template>
  </jnt-stack>
</jnt-stack>
