<sn-progress-bar data-progress [value]="spent / estimate * 100">
  <sn-progress-line [from]="75" [color]="ui.color.yellow"></sn-progress-line>
  <sn-progress-line [from]="101" [color]="ui.color.red"></sn-progress-line>
  <ng-template #progressBarLegendTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal"
               [align]="ui.align.center"
               [justify]="ui.justify.between"
               [gutter]="ui.gutter.normal">
      <div></div>
      <div data-estimate>{{estimate | duration}}</div>
    </sn-stack>
  </ng-template>
</sn-progress-bar>
<div data-efficiency *ngIf="spent > 0">
  <span [attr.data-slow]="spent > estimate">
    {{(spent > estimate ? estimate - spent : spent) | duration}}
    <ng-container *ngIf="efficiency > 0 && efficiency !== 1">| {{ efficiency | number:'0.0-2'}}×</ng-container>
  </span>
</div>
<sn-label *ngIf="problems?.includes(issueProblem.emptyEstimate)"
           [size]="ui.size.small"
           [color]="ui.color.red"
           label="estimate"
           i18n-label="@@label.estimate">
</sn-label>
