@import "~@junte/ui/lib/assets/styles/jnt-variables";

// TODO: Use mixin API
[data-progress] {
  min-width: 100px;
}

[data-efficiency] {
  margin-top: $jnt-gutter-tiny;
  text-align: center;
  font-size: .85em;

  [data-slow='true'] {
    color: $jnt-fail-color;
  }
}

[data-estimate] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .85em;
  color: $jnt-primary-text-light-color;

  &:first-of-type {
    flex: 1;
    text-align: left;
  }
}
