@import "src/assets/styles/variables";

// TODO: Use mixin API
[data-progress] {
  min-width: 100px;
}

[data-efficiency] {
  margin-top: $app-gutter-tiny;
  text-align: center;
  font-size: .85em;

  [data-slow='true'] {
    color: $app-fail-color;
  }
}

[data-estimate] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .85em;
  color: $app-primary-text-light-color;

  &:first-of-type {
    flex: 1;
    text-align: left;
  }
}
