<jnt-stack [gutter]="ui.gutter.large">
  <jnt-link [icon]="ui.icons.settings"
            source="/admin/development/milestone/"
            target="_blank"
            title="Manage"
            i18n-title="@@action.manage"></jnt-link>
  <jnt-block [padding]="ui.gutter.none" [width]="ui.width.fluid">
    <jnt-form [formGroup]="form">
      <jnt-table #table [features]="[ui.collections.table.features.search]" formControlName="table">
        <ng-template #tableFiltersTemplate>
          <jnt-stack [type]="ui.layout.stack.type.horizontal">
            <jnt-switcher formControlName="type">
              <jnt-switcher-option i18n-label="@@action.filter_issues_all" label="All" [value]="milestoneType.all">
                <jnt-badge *ngIf="summary?.count" [value]="summary?.count"></jnt-badge>
              </jnt-switcher-option>
              <jnt-switcher-option i18n-label="@@action.filter_type_closed" label="Closed"
                                   [value]="milestoneType.closed">
                <jnt-badge *ngIf="summary?.closedCount" [value]="summary?.closedCount"></jnt-badge>
              </jnt-switcher-option>
              <jnt-switcher-option i18n-label="@@action.filter_type_opened" label="Opened"
                                   [value]="milestoneType.opened">
                <jnt-badge *ngIf="summary?.activeCount" [value]="summary?.activeCount"></jnt-badge>
              </jnt-switcher-option>
            </jnt-switcher>
          </jnt-stack>
        </ng-template>
        <jnt-table-column i18n-title="@@label.title" title="Title">
          <ng-template #tableCellTemplate let-title="title" let-id="id" let-owner="owner" let-state="state">
            <jnt-stack [type]="ui.layout.stack.type.horizontal">
              <jnt-avatar [size]="ui.size.small" [image]="owner.glAvatar"></jnt-avatar>
              <jnt-stack [gutter]="ui.gutter.tiny">
                <jnt-link [source]="[id]" target="_blank" [title]="title"
                          [attr.closed]="state == milestoneState.closed">
                </jnt-link>
                <small>{{owner?.fullTitle}}</small>
              </jnt-stack>
            </jnt-stack>
          </ng-template>
        </jnt-table-column>
        <jnt-table-column title="Period"
                          i18n-title="@@label.period">
          <ng-template #tableCellTemplate let-startDate="startDate" let-problems="problems" let-dueDate="dueDate">
            <jnt-stack [gutter]="ui.gutter.tiny" [align]="ui.flex.align.stretch">
              <jnt-date-period [start]="startDate" [end]="dueDate"></jnt-date-period>
              <jnt-label *ngIf="problems?.includes(milestoneProblem.overDueDate)"
                         [color]="ui.color.red" label="overdue">
              </jnt-label>
            </jnt-stack>
          </ng-template>
        </jnt-table-column>
        <jnt-table-column title="Budget"
                          i18n-title="@@label.budget">
          <ng-template #tableCellTemplate let-budget="budget" let-metrics="metrics">
            <ng-container *ngIf="budget">
              <jnt-progress-bar progress [value]="metrics.budgetSpent / budget * 100">
                <ng-template #progressBarLegendTemplate>
                  <jnt-stack [type]="ui.layout.stack.type.horizontal" [align]="ui.flex.align.center"
                             [justify]="ui.flex.justify.between" [gutter]="ui.gutter.normal">
                    <div metric>{{budget - metrics.budgetRemains | currency}}</div>
                    <div metric budget>{{budget | currency}}</div>
                  </jnt-stack>
                </ng-template>
              </jnt-progress-bar>
              <div remains>
            <span [attr.overflow]="metrics.budgetRemains < 0">
              {{metrics.budgetRemains | currency}}
            </span>
              </div>
            </ng-container>
          </ng-template>
        </jnt-table-column>
        <jnt-table-column title="Profit"
                          i18n-title="@@label.profit">
          <ng-template #tableCellTemplate let-budget="budget" let-metrics="metrics">
            <jnt-progress-bar progress [value]="metrics.payroll / budget * 100">
              <ng-template #progressBarLegendTemplate>
                <jnt-stack [type]="ui.layout.stack.type.horizontal"
                           [align]="ui.flex.align.center"
                           [justify]="ui.flex.justify.between"
                           [gutter]="ui.gutter.normal">
                  <div metric>{{metrics.payroll | currency}}</div>
                  <div metric budget>{{budget | currency}}</div>
                </jnt-stack>
              </ng-template>
            </jnt-progress-bar>
            <div remains>
            <span [attr.overflow]="metrics.profit < 0">
              {{metrics.profit | currency}}
            </span>
            </div>
          </ng-template>
        </jnt-table-column>
        <jnt-table-column title="Progress"
                          i18n-title="@@label.progress">
          <ng-template #tableCellTemplate let-metrics="metrics">
            <jnt-progress-bar progress *ngIf="!!metrics.timeEstimate"
                              [value]="metrics.timeSpent / metrics.timeEstimate * 100">
              <ng-template #progressBarLegendTemplate>
                <jnt-stack [type]="ui.layout.stack.type.horizontal"
                           [align]="ui.flex.align.center"
                           [justify]="ui.flex.justify.between"
                           [gutter]="ui.gutter.normal">
                  <div metric>{{metrics.timeSpent | duration:durationFormat.short}}</div>
                  <div metric estimate>{{metrics.timeEstimate | duration:durationFormat.short}}</div>
                </jnt-stack>
              </ng-template>
            </jnt-progress-bar>
            <div remains>
            <span [attr.overflow]="metrics.timeRemains < 0">
              {{metrics.timeRemains | duration:durationFormat.short}}
            </span>
            </div>
          </ng-template>
        </jnt-table-column>
        <jnt-table-column title="Issues"
                          i18n-title="@@label.issues">
          <ng-template #tableCellTemplate let-metrics="metrics">
            <jnt-stack [justify]="ui.flex.justify.center"
                       [type]="ui.layout.stack.type.horizontal"
                       [gutter]="ui.gutter.tiny">
              <jnt-label *ngIf="metrics.issuesOpenedCount" [label]="metrics.issuesOpenedCount"
                         [color]="ui.color.green"></jnt-label>
              <jnt-label *ngIf="metrics.issuesClosedCount" [label]="metrics.issuesClosedCount"
                         [color]="ui.color.paleNavy"></jnt-label>
            </jnt-stack>
          </ng-template>
        </jnt-table-column>
        <ng-template #tableRowActionsTemplate let-row="row">
          <jnt-menu [type]="ui.orientation.vertical" [spacer]="ui.size.small">
            <jnt-menu-item [icon]="ui.icons.link"
                           title="View on GitLab"
                           i18n-title="@@action.view_on_Gitlab"
                           target="_blank"
                           [link]="row.glUrl"></jnt-menu-item>
            <jnt-menu-item [icon]="ui.icons.edit"
                           title="Edit"
                           i18n-title="@@action.edit"
                           target="_blank"
                           [link]="'/admin/development/milestone/' + row.id + '/change/'"></jnt-menu-item>
            <jnt-menu-item [icon]="ui.icons.sync"
                           title="Sync from GitLab"
                           i18n-title="@@action.sync_from_Gitlab"
                           (click)="sync(row.id)"></jnt-menu-item>
          </jnt-menu>
        </ng-template>
      </jnt-table>
    </jnt-form>
  </jnt-block>

</jnt-stack>
