@import "~@esanum/ui/lib/assets/styles/layout/responsive";
@import "src/assets/styles/variables";

:host {
  display: block;
}

[metrics] {
  align-self: start;
}

[calendar] {
  @include max-for-desktop() {
    margin-bottom: $app-gutter-normal;
  }
}

[filter] {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
  color: $app-primary-text-light-color;
  padding: $app-gutter-small $app-gutter-normal;
  border: 1px dashed $app-secondary-dark-color;
  border-radius: $app-corner-normal;
  line-height: 1em;
  &[active='true'] {
    border-color: transparent;
    background: $app-primary-light-color;
    color: $app-white-color;
    padding-right: $app-gutter-huge;
    box-shadow: $app-shadow-normal;
  }
  [reset] {
    position: absolute;
    top: $app-gutter-small;
    right: $app-gutter-small;
  }
}

[milestone] {
  font-size: .75rem;
}
