<jnt-app-aside #aside>
  <jnt-menu [spacing]="ui.size.small"
            [orientation]="ui.orientation.vertical">
    <jnt-menu-item [link]="['issues']"
                   [matching]="ui.matching.wildcard"
                   [icon]="ui.icons.dashboard"
                   title="Issues"
                   i18n-title="@@action.issues"
    ></jnt-menu-item>
    <jnt-menu-item [link]="['breaks']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.workBreak"
                   title="Work breaks"
                   i18n-title="@@action.work_breaks"></jnt-menu-item>
  </jnt-menu>
</jnt-app-aside>
<jnt-app-content [aside]="aside">
  <jnt-app-sub-header (burgerToggle)="aside.toggle()">
    <jnt-breadcrumb></jnt-breadcrumb>
  </jnt-app-sub-header>
  <jnt-app-body>
    <jnt-container [width]="ui.width.fluid">
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>
</jnt-app-content>
