@import 'variables';

:host {
  display: block;
}

[filter] {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $primary-light-color;
  color: $white-color;
  padding: $gutter-small $gutter-big $gutter-small $gutter-small;
  border-radius: $corner-normal;
  line-height: 1em;
  [avatar] {
    margin-right: $gutter-small;
  }
  [reset] {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
    cursor: pointer;
    font-size: 8px;
  }
}

[project] {

}

[milestones] {
  font-size: .75rem;
  margin: 0;
  padding: 0;
  li {
    ::ng-deep span[child-of=#{$jnt-link-host}] {
      font-size: .75rem;
    }
  }
}
