@import 'variables';

:host {
  display: block;
}

[filter] {
  position: relative;
  background-color: $primary-light-color;
  color: $white-color;
  padding: $gutter-normal;
  border-radius: $corner-normal;
  [icon] {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
    cursor: pointer;
    font-size: 8px;
  }
}
