@import 'variables';

:host {
  display: block;
}

[metrics] {
  align-self: start;
}

[filter] {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40px;
  color: $primary-text-light-color;
  padding: $gutter-small $gutter-normal;
  border: 1px dashed $secondary-dark-color;
  border-radius: $corner-normal;
  line-height: 1em;
  &[active='true'] {
    border-color: transparent;
    background: $primary-light-color;
    color: $white-color;
    padding-right: $gutter-huge;
    box-shadow: $shadow-normal;
  }
  [avatar], [host=#{$jnt-icon-host}] {
    margin-right: $gutter-small;
  }
  [reset] {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
  }
}

[presentations] {
  div {
    padding: $gutter-tiny $gutter-normal;
    background-color: silver;
    color: $primary-text-color;
    cursor: pointer;
    border-radius: $corner-small;
  }

  margin-bottom: $gutter-normal;
}

.user-metrics {
  label {
    text-transform: uppercase;
    font-size: .8em;
  }

  p {
    margin: 0;

    .closed {
      color: green;
      font-size: 2em;
    }

    .opened {
      color: orangered;
    }

    sup {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border-radius: 50%;
      padding: 3px;
      width: 10px;
      height: 10px;
      border: 1px solid gray;
      font-size: .75em;
      margin-left: 5px;
    }
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 45px;
  height: 45px;

  &[today='true'] {
    border: 3px $red solid;
  }

  [issues] {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: blue;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 1;
  }

  [metric] {
    position: relative;
    display: inline-block;

    [circle] {
      width: 40px;
      height: 40px;

      &[time] {
        color: $primary-text-light-color
      }
    }
  }
}

