<ng-template #dayTemplate
             let-metric="metric"
             let-date="date"
             let-presentation="presentation">
  <div issues *ngIf="!!metric?.issuesCount"></div>
  <ng-template #noMetricTemplate>{{date | dfnsGetDate}}</ng-template>
  <ng-template #metricTemplate let-metric="metric" let-color="color" let-planned="planned">
    <jnt-circle-bar circle time>
      <ng-template #content>{{metric | duration:durationFormat.short}}</ng-template>
      <jnt-bar-indicator-group>
        <jnt-bar-indicator [color]="color"
                           [value]="metric | percentage:(planned * 3600)">
        </jnt-bar-indicator>
      </jnt-bar-indicator-group>
    </jnt-circle-bar>
  </ng-template>
  <div *ngIf="!!metric; else noMetricTemplate" metric [ngSwitch]="presentation">
    <ng-container *ngSwitchCase="metricType.spent">
      <ng-container *ngIf="!(date | isFuture) && !!metric['timeSpent']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['timeSpent'],
          color: ui.color.green, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="metricType.estimate">
      <ng-container *ngIf="(date | isFuture) && !!metric['timeEstimate']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['timeEstimate'],
          color: ui.color.red, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="metricType.remains">
      <ng-container *ngIf="(date | isFuture) && !!metric['timeRemains']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['timeRemains'],
          color: ui.color.yellow, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="metricType.loading">
      <ng-container *ngIf="(date | isFuture) && !!metric['loading']; else noMetricTemplate">
        <ng-container *ngTemplateOutlet="metricTemplate; context: {metric: metric['loading'],
          color: ui.color.purpleDark, planned: metric['plannedWorkHours']}">
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container>
        <jnt-circle-bar circle>
          <ng-template #content>{{date | dfnsGetDate}}</ng-template>
          <jnt-bar-indicator-group>
            <jnt-bar-indicator [color]="ui.color.green"
                               [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
            <jnt-bar-indicator *ngIf="(date | isFuture)" [color]="ui.color.yellow"
                               [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group *ngIf="(date | isFuture)">
            <jnt-bar-indicator [color]="ui.color.red"
                               [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
          <jnt-bar-indicator-group *ngIf="(date | isFuture)">
            <jnt-bar-indicator [color]="ui.color.purpleDark"
                               [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
            </jnt-bar-indicator>
          </jnt-bar-indicator-group>
        </jnt-circle-bar>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<jnt-form [formGroup]="form">
  <jnt-stack [align]="ui.flex.align.stretch" [gutter]="ui.gutter.big">
    <app-metrics-type formControlName="metric" metrics></app-metrics-type>
    <jnt-row>
      <jnt-col [tablet]="12" [desktop]="7">
        <jnt-block [padding]="ui.gutter.none" [width]="ui.width.fluid" block>
          <jnt-calendar formControlName="dueDate" (updated)="period = $event">
            <jnt-week-metric title="Est"
                             i18n-title="@@label.est"></jnt-week-metric>
            <jnt-week-metric title="Spent"
                             i18n-title="@@label.spent"></jnt-week-metric>
            <jnt-week-metric title="Eff"
                             i18n-title="@@label.eff"></jnt-week-metric>
            <jnt-week-metric title="Payroll"
                             i18n-title="@@label.payroll"></jnt-week-metric>
            <jnt-week-metric title="Paid"
                             i18n-title="@@label.paid"></jnt-week-metric>
            <ng-template #calendarDayTemplate let-date="date">
              <div class="day" [attr.today]="(date | isToday)">
                <ng-container *ngTemplateOutlet="dayTemplate; context: {presentation: metric.value,
                date: date, metric: metrics.days.get((date | dfnsFormat : formatDate))}">
                </ng-container>
              </div>
            </ng-template>
            <ng-template #calendarMetricTemplate let-metric="metric" let-date="date">
              <ng-container *ngIf="metrics.weeks.get((date | dfnsFormat: formatDate)) as weekMetric">
                <ng-container [ngSwitch]="metric">
                  <ng-container *ngSwitchCase="0">
                    {{!!weekMetric.timeEstimate ? (weekMetric.timeEstimate | duration:durationFormat.short) : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="1">
                    {{!!weekMetric.timeSpent ? (weekMetric.timeSpent | duration:durationFormat.short) : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="2">
                    {{!!weekMetric.efficiency ? (weekMetric.efficiency | number:'1.2-2') : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="3">
                    {{!!weekMetric.payroll ? (weekMetric.payroll | currency) : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="4">
                    {{!!weekMetric.paid ? (weekMetric.paid | currency) : '&ndash;'}}
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-template>
          </jnt-calendar>
        </jnt-block>
      </jnt-col>
      <jnt-col [tablet]="12" [desktop]="5">
        <jnt-chart formControlName="project"
                   title="Opened project"
                   metric="Hours"
                   i18n-title="@@label.opened_project"
                   i18n-metric="@@label.hours"
                   keyField="id" [widthMark]="50">
          <jnt-chart-indicator *ngFor="let p of summary.issues?.projects;let i = index"
                               [title]="p.project.fullTitle"
                               [data]="p.project"
                               [value]="p.issues.percentage * 100"
                               [label]="p.issues.remains  | duration:durationFormat.short"
                               [color]="colors[i % colors.length]">
            <ng-template #titleTemplate>
              <ng-container *ngIf="p.project.group">{{p.project.group.title}} /</ng-container>
              {{p.project.title}}
              <ng-container *ngIf="p.project.milestones as milestones">
                <jnt-stack *ngIf="milestones[0] as m" milestone
                           [type]="ui.layout.stack.type.horizontal"
                           [gutter]="ui.gutter.tiny"
                           [align]="ui.flex.align.center">
                  <jnt-link [source]="m.glUrl" [title]="m.title"
                            target="_blank"></jnt-link>
                  <jnt-label *ngIf="m.dueDate" [label]="m.dueDate | dueDate"
                             [color]="m.problems?.includes(milestoneProblem.overDueDate) ?  ui.color.red : ui.color.paleNavy">
                  </jnt-label>
                </jnt-stack>
              </ng-container>
            </ng-template>
          </jnt-chart-indicator>
        </jnt-chart>
      </jnt-col>
    </jnt-row>
    <jnt-stack [type]="ui.layout.stack.type.horizontal">
      <div filter [attr.active]="!!filter.dueDate">
        <ng-container *ngIf="filter.dueDate;else noFilterDueDate">
          <jnt-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small">
            <jnt-icon [icon]="ui.icons.calendar"></jnt-icon>
            <span>{{filter.dueDate | date}}</span>
          </jnt-stack>
          <jnt-button reset [scheme]="ui.scheme.secondary"
                      [size]="ui.size.tiny"
                      [icon]="ui.icons.close"
                      (click)="form.patchValue({dueDate: null})"></jnt-button>
        </ng-container>
        <ng-template i18n="@@action.pick_due_date" #noFilterDueDate>
          <jnt-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small">
            <jnt-icon [icon]="ui.icons.calendar"></jnt-icon>
            <span>Pick a due date</span>
          </jnt-stack>
        </ng-template>
      </div>

      <div filter [attr.active]="!!project.value">
        <ng-container *ngIf="!!project.value;else noFilterProject">
          <jnt-icon [icon]="ui.icons.anchor"></jnt-icon>
          <div>
            {{project.value.title}}<br>
            <small>{{project.value.group?.fullTitle}}</small>
          </div>
          <jnt-button reset [scheme]="ui.scheme.secondary"
                      [size]="ui.size.tiny"
                      [icon]="ui.icons.close"
                      (click)="project.patchValue(null)"></jnt-button>
        </ng-container>
        <ng-template i18n="@@action.pick_project" #noFilterProject>
          <jnt-stack [orientation]="ui.orientation.horizontal" [gutter]="ui.gutter.small">
            <jnt-icon [icon]="ui.icons.anchor"></jnt-icon>
            <span>Pick a project</span>
          </jnt-stack>
        </ng-template>
      </div>
    </jnt-stack>
    <jnt-menu>
      <jnt-menu-item [link]="['.']"
                     title="Issues"
                     i18n-title="@@action.issues">
        <jnt-badge *ngIf="summary?.issues?.count"
                   [value]="summary?.issues.count"
                   [color]="ui.color.green"></jnt-badge>
        <jnt-badge *ngIf="summary?.issues?.problemsCount"
                   [value]="summary?.issues.problemsCount"
                   [color]="ui.color.red"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item [link]="['merge-requests']"
                     title="Merge Requests"
                     i18n-title="@@action.merge_requests">
        <jnt-badge *ngIf="summary?.mergeRequests?.count"
                   [value]="summary?.mergeRequests.count"
                   [color]="ui.color.red"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item [link]="['time-expenses']"
                     title="Time Expenses"
                     i18n-title="@@action.time_expenses">
        <jnt-badge *ngIf="summary?.spentTimes?.spent"
                   [text]="summary.spentTimes.spent | duration:durationFormat.short">
        </jnt-badge>
      </jnt-menu-item>
    </jnt-menu>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </jnt-stack>
</jnt-form>
