<jnt-form [formGroup]="form">
  <jnt-stack [align]="ui.flex.align.stretch" [gutter]="ui.stack.gutter.big">
    <app-metrics-type formControlName="metric" metrics></app-metrics-type>
    <jnt-row>
      <jnt-col [mobile]="12" [wide]="7">
        <jnt-block>
          <jnt-calendar formControlName="dueDate" (updated)="period = $event">
            <jnt-week-metric i18n-title="@@est" title="Est"></jnt-week-metric>
            <jnt-week-metric i18n-title="@@spent" title="Spent"></jnt-week-metric>
            <jnt-week-metric i18n-title="@@eff" title="Eff"></jnt-week-metric>
            <jnt-week-metric i18n-title="@@payroll" title="Payroll"></jnt-week-metric>
            <jnt-week-metric i18n-title="@@paid" title="Paid"></jnt-week-metric>
            <ng-template #dayTemplate let-date="date">
              <div class="day" [attr.today]="(date | isToday)">
                <ng-container *ngTemplateOutlet="dayMetricTemplate; context: {presentation: metric.value,
                date: date, metric: metrics.days.get((date | format : formatDate))}">
                </ng-container>
              </div>
            </ng-template>
            <ng-template #metricTemplate let-metric="metric" let-date="date">
              <ng-container *ngIf="metrics.weeks.get((date | format: formatDate)) as weekMetric">
                <ng-container [ngSwitch]="metric">
                  <ng-container *ngSwitchCase="0">
                    {{!!weekMetric.timeEstimate ? (weekMetric.timeEstimate | duration:durationFormat.short) : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="1">
                    {{!!weekMetric.timeSpent ? (weekMetric.timeSpent | duration:durationFormat.short) : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="2">
                    {{!!weekMetric.efficiency ? (weekMetric.efficiency | number:'1.2-2') : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="3">
                    {{!!weekMetric.payroll ? (weekMetric.payroll | currency) : '&ndash;'}}
                  </ng-container>
                  <ng-container *ngSwitchCase="4">
                    {{!!weekMetric.paid ? (weekMetric.paid | currency) : '&ndash;'}}
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-template>
          </jnt-calendar>
        </jnt-block>
      </jnt-col>
      <jnt-col [mobile]="12" [wide]="5">
        <jnt-chart formControlName="project" title="Opened project" metric="Hours" valueField="id">
          <jnt-chart-indicator *ngFor="let p of summary.issues?.projects;let i = index"
                               [title]="p.project.fullTitle"
                               [data]="p.project"
                               [value]="p.issues.percentage * 100"
                               [label]="p.issues.remains  | duration:durationFormat.short"
                               [color]="colors[i % colors.length]">
          </jnt-chart-indicator>
        </jnt-chart>
      </jnt-col>
    </jnt-row>
    <jnt-stack [type]="ui.stack.type.horizontal">
      <div filter [attr.active]="!!dueDate.value">
        <ng-container *ngIf="dueDate.value;else noFilterDueDate">
          <jnt-icon icon [icon]="ui.icons.font.calendar"></jnt-icon>
          {{dueDate.value | date}}
          <jnt-button reset [scheme]="ui.schemes.secondary"
                      [size]="ui.sizes.tiny"
                      [icon]="ui.icons.font.close"
                      (click)="form.patchValue({dueDate: null})"></jnt-button>
        </ng-container>
        <ng-template #noFilterDueDate>
          <jnt-icon icon [icon]="ui.icons.font.calendar"></jnt-icon>
          Pick a due date
        </ng-template>
      </div>

      <div filter [attr.active]="!!project.value">
        <ng-container *ngIf="!!project.value;else noFilterProject">
          <jnt-icon icon [icon]="ui.icons.font.project"></jnt-icon>
          <div>
            {{project.value.title}}<br>
            <small>{{project.value.group?.fullTitle}}</small>
          </div>
          <jnt-button reset [scheme]="ui.schemes.secondary"
                      [size]="ui.sizes.tiny"
                      [icon]="ui.icons.font.close"
                      (click)="project.patchValue(null)"></jnt-button>
        </ng-container>
        <ng-template #noFilterProject>
          <jnt-icon icon [icon]="ui.icons.font.project"></jnt-icon>
          Pick a project
        </ng-template>
      </div>
    </jnt-stack>

    <jnt-menu>
      <jnt-menu-item [link]="['.']" title="Issues">
        <jnt-badge *ngIf="summary?.issues?.count"
                   [count]="summary?.issues.count"
                   [color]="ui.colors.green"></jnt-badge>
        <jnt-badge *ngIf="summary?.issues?.problemsCount"
                   [count]="summary?.issues.problemsCount"
                   [color]="ui.colors.red"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item [link]="['merge-requests']" title="Merge Requests">
        <jnt-badge *ngIf="summary?.mergeRequests?.count"
                   [count]="summary?.mergeRequests.count"
                   [color]="ui.colors.red"></jnt-badge>
      </jnt-menu-item>
      <jnt-menu-item [link]="['time-expenses']" title="Time Expenses">
        <jnt-badge *ngIf="summary?.spentTimes?.spent" [count]="summary?.spentTimes.spent | duration"></jnt-badge>
      </jnt-menu-item>
    </jnt-menu>
    <router-outlet></router-outlet>
    <ng-template #dayMetricTemplate let-metric="metric" let-date="date" let-presentation="presentation">
      <div issues *ngIf="!!metric?.issuesCount"></div>
      <ng-template #no_metric>{{date | getDate}}</ng-template>
      <div *ngIf="!!metric; else no_metric" metric [ngSwitch]="presentation">

        <ng-template #metrics let-metric="metric" let-color="color" let-planned="planned">
          <jnt-circle-bar circle time>
            <ng-template #content>{{metric | duration:durationFormat.short}}</ng-template>
            <jnt-bar-indicator-group>
              <jnt-bar-indicator [color]="color"
                                 [value]="metric | percentage:(planned * 3600)">
              </jnt-bar-indicator>
            </jnt-bar-indicator-group>
          </jnt-circle-bar>
        </ng-template>

        <ng-container *ngSwitchCase="metricType.spent">
          <ng-container *ngIf="!(date | isFuture) && !!metric['timeSpent']; else no_metric">
            <ng-container *ngTemplateOutlet="metrics; context: {metric: metric['timeSpent'],
          color: ui.colors.green, planned: metric['plannedWorkHours']}">
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="metricType.estimate">
          <ng-container *ngIf="(date | isFuture) && !!metric['timeEstimate']; else no_metric">
            <ng-container *ngTemplateOutlet="metrics; context: {metric: metric['timeEstimate'],
          color: ui.colors.red, planned: metric['plannedWorkHours']}">
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="metricType.remains">
          <ng-container *ngIf="(date | isFuture) && !!metric['timeRemains']; else no_metric">
            <ng-container *ngTemplateOutlet="metrics; context: {metric: metric['timeRemains'],
          color: ui.colors.yellow, planned: metric['plannedWorkHours']}">
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="metricType.loading">
          <ng-container *ngIf="(date | isFuture) && !!metric['loading']; else no_metric">
            <ng-container *ngTemplateOutlet="metrics; context: {metric: metric['loading'],
          color: ui.colors.purpleDark, planned: metric['plannedWorkHours']}">
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <ng-container>
            <jnt-circle-bar circle>
              <ng-template #content>{{date | getDate}}</ng-template>
              <jnt-bar-indicator-group>
                <jnt-bar-indicator [color]="ui.colors.green"
                                   [value]="metric.timeSpent | percentage:(metric.plannedWorkHours * 3600)">
                </jnt-bar-indicator>
                <jnt-bar-indicator *ngIf="(date | isFuture)" [color]="ui.colors.yellow"
                                   [value]="metric.timeRemains | percentage:(metric.plannedWorkHours * 3600)">
                </jnt-bar-indicator>
              </jnt-bar-indicator-group>
              <jnt-bar-indicator-group *ngIf="(date | isFuture)">
                <jnt-bar-indicator [color]="ui.colors.red"
                                   [value]="metric.timeEstimate | percentage:(metric.plannedWorkHours * 3600)">
                </jnt-bar-indicator>
              </jnt-bar-indicator-group>
              <jnt-bar-indicator-group *ngIf="(date | isFuture)">
                <jnt-bar-indicator [color]="ui.colors.purpleDark"
                                   [value]="metric.loading | percentage:(metric.plannedWorkHours * 3600)">
                </jnt-bar-indicator>
              </jnt-bar-indicator-group>
            </jnt-circle-bar>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>
  </jnt-stack>
</jnt-form>
