@import 'variables';

:host {
  display: block;
}

[filter] {
  position: relative;
  background-color: $primary-light-color;
  color: $white-color;
  padding: $gutter-normal;
  border-radius: $corner-normal;
  [icon] {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
    cursor: pointer;
    font-size: 8px;
  }
}

.user-metrics {
  label {
    text-transform: uppercase;
    font-size: .8em;
  }

  p {
    margin: 0;

    .closed {
      color: green;
      font-size: 2em;
    }

    .opened {
      color: orangered;
    }

    sup {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border-radius: 50%;
      padding: 3px;
      width: 10px;
      height: 10px;
      border: 1px solid gray;
      font-size: .75em;
      margin-left: 5px;
    }
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .metric {
    width: 40px;
    height: 40px;
  }

  .issues {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: blue;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
}

router-outlet {
  margin: 0 !important;
}
