<sn-app-page-header [icon]="localUi.icons.issue"
                     title="Issues"
                     i18n-title="@@label.issues"
                     i18n-teaser="@@message.developer_issues_teaser"
                     teaser="assigned to you"></sn-app-page-header>

<sn-block data-tabs [padding]="ui.gutter.none"
           [width]="ui.width.fluid">
  <sn-menu data-nav [style]="ui.menu.style.tabs"
           [spacing]="ui.gutter.normal">
    <sn-menu-item [link]="['.']"
                  [icon]="localUi.icons.list"
                  title="List"
                  i18n-title="@@action.list">
    </sn-menu-item>
    <sn-menu-item [link]="['calendar']"
                  [icon]="localUi.icons.calendar"
                  title="Calendar"
                  i18n-title="@@action.calendar">
    </sn-menu-item>
  </sn-menu>
  <router-outlet></router-outlet>
</sn-block>
