<jnt-block [loading]="loading" [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table formControlName="table" [features]="[features.search]">
      <ng-template #filters>
        <jnt-button text="Add"
                    [icon]="ui.icons.plus"
                    [outline]="ui.outline.transparent"
                    (click)="open()">
        </jnt-button>
      </ng-template>

      <jnt-table-column *ngIf="me.user?.roles?.includes(userRole.teamLeader)" i18n-title="@@date" title="Developer">
        <ng-template #cellTemplate let-user="user">
          <jnt-avatar avatar [image]="user?.avatar"
                      [size]="ui.sizes.small"></jnt-avatar>
          <div>
            <jnt-link link [title]="user?.name"></jnt-link>
          </div>
        </ng-template>
      </jnt-table-column>
      <jnt-table-column i18n-title="@@date" title="Period">
        <ng-template #cellTemplate let-fromDate="fromDate" let-toDate="toDate">
          <jnt-date-period [start]="fromDate" [end]="toDate"></jnt-date-period>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@reason" title="Reason">
        <ng-template #cellTemplate let-reason="reason">
          {{reason | titlecase}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@comment" title="Comment">
        <ng-template #cellTemplate let-comment="comment">
          {{comment}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@agreement" title="Agreement">
        <ng-template #cellTemplate let-approveState="approveState">
          {{approveState | titlecase}}
        </ng-template>
      </jnt-table-column>

      <ng-template #rowActions let-break="row">
        <jnt-menu [type]="ui.orientation.vertical" [spacer]="ui.sizes.small">
          <jnt-menu-item [icon]="ui.icons.edit" title="Edit" (click)="open(break)"></jnt-menu-item>
          <jnt-menu-item title="Delete" [icon]="ui.icons.delete" (click)="delete(break.id)">
          </jnt-menu-item>
        </jnt-menu>
      </ng-template>
    </jnt-table>
  </jnt-form>
</jnt-block>
