<sn-informer *ngIf="errors.length > 0"
              [backdrop]="backdrop"
              [placement]="ui.placement.absolute"
              (ok)="this.errors = []">
  <sn-informer-message *ngFor="let e of errors"
                        [message]="e.toString()">
  </sn-informer-message>
</sn-informer>

<sn-form #content [formGroup]="form"
          [state]="progress.saving || progress.loading ? ui.state.loading : null"
          (submitted)="save()">
  <sn-stack [align]="ui.align.stretch">

    <sn-form-item>
      <sn-form-label for="name"
                      i18n="@@label.name">Name</sn-form-label>
      <sn-form-control name="name">
        <sn-input formControlName="name"
                   placeholder="Your name"
                   i18n-placeholder="@@label.name">
        </sn-input>
        <sn-form-message i18n="@@message.field_required" [validator]="ui.validator.required">
          This field is required
        </sn-form-message>
      </sn-form-control>
    </sn-form-item>

    <sn-form-item>
      <sn-form-label for="email"
                      i18n="@@label.email">Email</sn-form-label>
      <sn-form-control name="email">
        <sn-input formControlName="email"
                   placeholder="Your email"
                   i18n-placeholder="@@label.email">
        </sn-input>
      </sn-form-control>
    </sn-form-item>

    <sn-form-item>
      <sn-form-label for="glToken"
                      i18n="@@label.personal_gitlab_token">Personal GitLab token</sn-form-label>
      <sn-form-control name="glToken">
        <sn-input formControlName="glToken"
                   placeholder="Your personal GitLab token"
                   i18n-placeholder="@@label.your_personal_gitlab_token">
        </sn-input>
      </sn-form-control>
    </sn-form-item>
  </sn-stack>

  <ng-template #formFooterTemplate>
    <sn-stack [orientation]="ui.orientation.horizontal"
               [justify]="ui.justify.between">
      <sn-button text="Cancel"
                  i18n-title="@@action.cancel"
                  [scheme]="ui.scheme.secondary"
                  (click)="canceled.emit()">
      </sn-button>
      <sn-button text="Save"
                  i18n-title="@@action.save"
                  [icon]="ui.icons.save"
                  [type]="ui.button.type.submit">
      </sn-button>
    </sn-stack>
  </ng-template>
</sn-form>
