<sn-block *ngIf="me?.metrics as metrics"
           title="Vacations"
           i18n-title="@@label.vacations"
           [width]="ui.width.fluid">
  <sn-stack data-vacations [align]="ui.align.center">
    <p i18n="@@label.remains">Remains <span>{{me.annualPaidWorkBreaksDays - metrics.paidWorkBreaksDays}}</span>
      {{(me.annualPaidWorkBreaksDays - metrics.paidWorkBreaksDays) | i18nPlural: daysMapping}}
    </p>
    <sn-circle-bar data-circle>
      <ng-template #circleBarContentTemplate>
        <sn-stack data-days [align]="ui.align.center"
                   [justify]="ui.justify.center"
                   [gutter]="ui.gutter.none">
          <div><span data-paid>{{metrics.paidWorkBreaksDays}}</span>/{{me.annualPaidWorkBreaksDays}}</div>
          <span data-label>{{metrics.paidWorkBreaksDays | i18nPlural: daysMapping}}</span>
        </sn-stack>
      </ng-template>
      <sn-bar-indicator-group data-indicator>
        <sn-bar-indicator [value]="metrics.paidWorkBreaksDays * 100 / me.annualPaidWorkBreaksDays"
                           [color]="ui.color.purple">
        </sn-bar-indicator>
      </sn-bar-indicator-group>
    </sn-circle-bar>
  </sn-stack>
</sn-block>
