<jnt-block *ngIf="me?.metrics as metrics"
           title="Vacations"
           i18n-title="@@label.vacations"
           [width]="ui.width.fluid"
           [padding]="ui.gutter.none">
  <jnt-stack data-vacations [align]="ui.align.center">
    <p>Remains <span>{{me.annualPaidWorkBreaksDays - metrics.paidWorkBreaksDays}}</span>
      {{(me.annualPaidWorkBreaksDays - metrics.paidWorkBreaksDays) | i18nPlural: daysMapping}}
    </p>
    <jnt-circle-bar data-circle>
      <ng-template #circleBarContentTemplate>
        <jnt-stack data-days [align]="ui.align.center"
                   [justify]="ui.justify.center"
                   [gutter]="ui.gutter.none">
          <div><span data-paid>{{metrics.paidWorkBreaksDays}}</span>/{{me.annualPaidWorkBreaksDays}}</div>
          <span data-label>{{metrics.paidWorkBreaksDays | i18nPlural: daysMapping}}</span>
        </jnt-stack>
      </ng-template>
      <jnt-bar-indicator-group data-indicator>
        <jnt-bar-indicator [value]="metrics.paidWorkBreaksDays * 100 / 30"
                           [color]="ui.color.purple">
        </jnt-bar-indicator>
      </jnt-bar-indicator-group>
    </jnt-circle-bar>
  </jnt-stack>
</jnt-block>
