@import 'src/assets/styles/variables';
@import '~@esanum/ui/lib/assets/styles/dynamic/circle-bar';
$sn-ng-deep: true;

:host-context([theme='dark']) {
  [data-vacations] [data-circle] [data-days] {
    background-color: $sn-gray-dark-color;

    [data-label] {
      color: $sn-gray-600-color;
    }
  }
}

[data-vacations] {
  padding-bottom: $sn-gutter-normal;

  p {
    color: $sn-primary-text-light-color;
    span {
      font-weight: $sn-font-weight-semi-bold;
      color: $sn-primary-color;
    }
  }

  [data-circle] {
    @include sn-circle-bar((width: 100px, height: 100px), '&');
    @include sn-circle-bar-indicator((fill: $sn-highlight-background));

    [data-days] {
      width: 80%;
      height: 80%;
      background-color: $sn-primary-background;
      position: relative;
      border-radius: 50%;
      font-weight: $sn-font-weight-bold;
      font-size: 20px;
      line-height: 1.2;
      color: $sn-highlight-background;

      [data-paid] {
        color: $sn-primary-color;
      }

      [data-label] {
        font-size: $sn-font-size-base;
        font-weight: $sn-font-weight-base;
        color: $sn-primary-color;
      }
    }
  }
}
