<jnt-block [padding]="ui.gutter.none" [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table formControlName="table">
      <jnt-table-column title="Charged Time"
                        i18n-title="@@label.charged_time">
        <ng-template #tableCellTemplate let-id="id" let-chargedTime="chargedTime">
          <jnt-link [source]="[id, {type: 'all'}]" [title]="chargedTime | duration"
                    [icon]="ui.icons.time"
                    [outline]="ui.outline.ghost"></jnt-link>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Period"
                        i18n-title="@@label.period">
        <ng-template #tableCellTemplate let-periodTo="periodTo" let-periodFrom="periodFrom">
          <jnt-date-period [start]="periodFrom" [end]="periodTo"></jnt-date-period>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Bonus"
                        i18n-title="@@label.bonus">
        <ng-template #tableCellTemplate let-bonus="bonus">
          {{bonus | currency:undefined:'symbol':'1.0-0'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Penalty"
                        i18n-title="@@label.penalty">
        <ng-template #tableCellTemplate let-penalty="penalty">
          {{penalty | currency:undefined:'symbol':'1.0-0'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Total"
                        i18n-title="@@label.total">
        <ng-template #tableCellTemplate let-total="total">
          {{total | currency:undefined:'symbol':'1.0-0'}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Payed"
                        i18n-title="@@label.payed">
        <ng-template #tableCellTemplate let-payed="payed">
          <jnt-icon *ngIf="payed" [icon]="ui.icons.checked"></jnt-icon>
        </ng-template>
      </jnt-table-column>
    </jnt-table>
  </jnt-form>
</jnt-block>
