<sn-stack [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small"
           [align]="ui.align.center">
  <sn-stack [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.center">
    <ng-container *ngIf="mergeRequest.issues?.length > 0 && mergeRequest.issues[0]?.user as user">
      <sn-avatar [name]="user.name"
                  [image]="user.avatar"
                  [size]="ui.size.tiny"></sn-avatar>
      <sn-icon [icon]="ui.icons.chevronRight"
                [size]="ui.size.small"></sn-icon>
    </ng-container>
    <sn-avatar [name]="mergeRequest.user?.name"
                [image]="mergeRequest.user?.avatar"
                [size]="ui.size.tiny"></sn-avatar>
  </sn-stack>

  <sn-stack [gutter]="ui.gutter.none">
    <sn-stack [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small">
      <sn-link [source]="mergeRequest.glUrl" target="_blank"
                [attr.closed]="mergeRequest.state == mergeRequestState.closed"
                [icon]="localUi.icons.mergeRequest"
                [title]="mergeRequest.title">
      </sn-link>
    </sn-stack>
    <small>{{mergeRequest.project?.fullTitle}}</small>
  </sn-stack>
</sn-stack>
