<jnt-stack [orientation]="ui.orientation.horizontal"
           [gutter]="ui.gutter.small">
  <jnt-stack [orientation]="ui.orientation.horizontal"
             [gutter]="ui.gutter.small"
             [align]="ui.align.center">
    <ng-container *ngIf="mergeRequest.issues.length > 0 && mergeRequest.issues[0]?.user as user">
      <jnt-avatar [name]="user.name"
                  [image]="user.avatar"
                  [size]="ui.size.tiny"></jnt-avatar>
      <jnt-icon [icon]="ui.icons.chevronRight"></jnt-icon>
    </ng-container>
    <jnt-avatar [name]="mergeRequest.user?.name"
                [image]="mergeRequest.user?.avatar"
                [size]="ui.size.tiny"></jnt-avatar>
  </jnt-stack>

  <jnt-stack [gutter]="ui.gutter.none">
    <jnt-stack [orientation]="ui.orientation.horizontal"
               [gutter]="ui.gutter.small">
      <jnt-link [source]="mergeRequest.glUrl" target="_blank"
                [attr.closed]="mergeRequest.state == mergeRequestState.closed"
                [icon]="localUi.icons.mergeRequest"
                [title]="mergeRequest.title">
      </jnt-link>
    </jnt-stack>
    <small>{{mergeRequest.project?.fullTitle}}</small>
  </jnt-stack>
</jnt-stack>
