<jnt-app-aside #aside>
  <jnt-menu>
    <jnt-menu-item title="Salaries"
                   i18n-title="@@action.salaries"
                   [link]="['salaries']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.salary"></jnt-menu-item>
    <jnt-menu-item title="Bonuses"
                   i18n-title="@@action.bonuses"
                   [link]="['bonuses']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.bonus"></jnt-menu-item>
    <jnt-menu-item title="Penalties"
                   i18n-title="@@action.penalties"
                   [link]="['penalties']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.penalty"></jnt-menu-item>
  </jnt-menu>
</jnt-app-aside>
<jnt-app-content [aside]="aside">
  <jnt-app-body>
    <jnt-breadcrumb [aside]="aside"></jnt-breadcrumb>
    <jnt-container [width]="ui.width.fluid">
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>
  <app-footer></app-footer>
</jnt-app-content>
