<sn-app-aside #aside>
  <sn-menu [gutter]="ui.gutter.tiny">
    <sn-menu-item title="Developers"
                   i18n-title="@@action.developers"
                   [link]="['users']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.developer"></sn-menu-item>
    <sn-menu-item title="Projects"
                   i18n-title="@@action.projects"
                   [link]="['projects']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.project"></sn-menu-item>
    <sn-menu-item title="Salaries"
                   i18n-title="@@action.salaries"
                   [link]="['salaries']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.salary"></sn-menu-item>
    <sn-menu-item title="Bonuses"
                   i18n-title="@@action.bonuses"
                   [link]="['bonuses']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.bonus"></sn-menu-item>
    <sn-menu-item title="Penalties"
                   i18n-title="@@action.penalties"
                   [link]="['penalties']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.penalty"></sn-menu-item>
  </sn-menu>
</sn-app-aside>
<sn-app-content [aside]="aside">
  <sn-breadcrumb [aside]="aside"></sn-breadcrumb>
  <sn-app-body>
    <sn-container [width]="ui.width.fluid">
      <router-outlet></router-outlet>
    </sn-container>
  </sn-app-body>
  <app-footer></app-footer>
</sn-app-content>
