@import "variables";

:host {
  display: block;
}

[slow='true'] {
  border-bottom: 2px solid $fail-color;
}

[closed='true'] ::ng-deep a[child-of=#{$jnt-link-host}] {
  text-decoration: line-through;
}
