@import "variables";

:host {
  display: block;
}

[slow='true'] {
  border-bottom: 2px solid $fail-color;
}

[closed='true'] ::ng-deep a[child-of=#{$jnt-link-host}] {
  text-decoration: line-through;
}

[progress] {
  min-width: 100px;
}

[metric] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .85em;
  &:first-of-type {
    flex: 1;
    text-align: left;
  }
  &[estimate] {
    color: $primary-text-light-color;
  }
}
