@import "variables";

:host {
  display: block;
}

[state] {
  color: $success-color;
  &[doing] {
    min-width: 18px;
    width: 18px;
    min-height: 18px;
    height: 18px;
    border-radius: 50%;
    fill: $success-color;
    padding: 1px;
    border: 1px solid $success-color;
  }
}

[closed='true'] ::ng-deep a[child-of=#{$jnt-link-host}] {
  text-decoration: line-through;
}

[progress] {
  min-width: 100px;
}

[efficiency] {
  margin-top: $gutter-tiny;
  text-align: center;
  font-size: .85em;
  [slow='true'] {
    background: $fail-color;
    color: $white-color;
    border-radius: $gutter-tiny;
    line-height: 1em;
    padding: 0 $gutter-tiny;
  }
}

[metric] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .85em;
  &:first-of-type {
    flex: 1;
    text-align: left;
  }
  &[estimate] {
    color: $primary-text-light-color;
  }
}
