<jnt-block [padding]="ui.gutter.none" [width]="ui.width.fluid">
  <jnt-form [formGroup]="form">
    <jnt-table #table [features]="[ui.collections.table.features.search]"
               (reloaded)="loadSummary(); reloaded.emit()"
               formControlName="table">
      <ng-template #filters>
        <jnt-stack [type]="ui.layout.stack.type.horizontal">
          <jnt-switcher formControlName="type">
            <jnt-switcher-option i18n-label="@@action.filter_issues_all" label="All" [value]="issuesType.all">
              <jnt-badge *ngIf="summary?.count"
                         [value]="summary?.count.toString()"></jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option i18n-label="@@action.filter_type_closed" label="Closed" [value]="issuesType.closed">
              <jnt-badge *ngIf="summary?.closedCount"
                         [value]="summary?.closedCount.toString()"></jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option i18n-label="@@action.filter_type_opened" label="Opened" [value]="issuesType.opened">
              <jnt-badge *ngIf="summary?.openedCount"
                         [value]="summary?.openedCount.toString()"
                         [color]="ui.color.green"></jnt-badge>
            </jnt-switcher-option>
            <jnt-switcher-option i18n-label="@@action.filter_type_problems" label="Problems"
                                 [value]="issuesType.problems">
              <jnt-badge *ngIf="summary?.problemsCount"
                         [value]="summary?.problemsCount.toString()"
                         [color]="ui.color.red"></jnt-badge>
            </jnt-switcher-option>
          </jnt-switcher>
        </jnt-stack>
      </ng-template>
      <jnt-table-column i18n-title="@@label.title" title="Title">
        <ng-template #cellTemplate let-title="title" let-labels="labels" let-glUrl="glUrl" let-state="state"
                     let-user="user" let-project="project" let-ticket="ticket"
                     let-closedAt="closedAt" let-id="id">
          <app-issue [issue]="{id: id, title: title, labels: labels, glUrl: glUrl, state: state,
            user: user, project: project, ticket: ticket, closedAt: closedAt}">
          </app-issue>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@label.due_date" title="Due date">
        <ng-template #cellTemplate let-dueDate="dueDate" let-problems="problems">
          <jnt-stack [gutter]="ui.gutter.tiny">
            <app-due-date *ngIf="dueDate" [dueDate]="dueDate"></app-due-date>
            <jnt-stack [type]="ui.layout.stack.type.vertical">
              <jnt-label *ngIf="problems?.includes(issueProblem.emptyDueDate)"
                         [size]="ui.size.small"
                         [color]="ui.color.red" i18n-label="@@label.empty" label="empty">
              </jnt-label>
              <jnt-label *ngIf="problems?.includes(issueProblem.overDueDate)"
                         [size]="ui.size.small"
                         [color]="ui.color.red" i18n-label="@@label.overdue" label="overdue">
              </jnt-label>
            </jnt-stack>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@label.progress" title="Progress">
        <ng-template #cellTemplate let-timeEstimate="timeEstimate"
                     let-timeSpent="timeSpent"
                     let-totalTimeSpent="totalTimeSpent"
                     let-metrics="metrics"
                     let-problems="problems">
          <jnt-progress-bar progress *ngIf="!!timeEstimate"
                            [value]="totalTimeSpent / timeEstimate * 100">
            <ng-template #progressBarLegendTemplate>
              <jnt-stack [type]="ui.layout.stack.type.horizontal" [align]="ui.flex.align.center"
                         [justify]="ui.flex.justify.between" [gutter]="ui.gutter.normal">
                <div metric>
                  {{totalTimeSpent | duration}}
                  <span collaboration *ngIf="totalTimeSpent !== timeSpent">
                    +{{totalTimeSpent - timeSpent | duration}}
                  </span>
                </div>
                <div metric estimate>{{timeEstimate | duration}}</div>
              </jnt-stack>
            </ng-template>
          </jnt-progress-bar>
          <div efficiency>
            <span [attr.slow]="metrics.efficiency > 0 && metrics.efficiency < 0.8">
              {{!!metrics.efficiency ? (metrics.efficiency | number:'1.2-2') : ''}}
            </span>
          </div>
          <jnt-label *ngIf="problems?.includes(issueProblem.emptyEstimate)"
                     [size]="ui.size.small"
                     [color]="ui.color.red" i18n-label="@@label.estimate" label="estimate">
          </jnt-label>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column *ngIf="view === viewType.extended" i18n-title="@@label.payroll" title="Payroll">
        <ng-template #cellTemplate let-metrics="metrics">
          <div style="text-align: right;">
            {{!!metrics.payroll ? (metrics.payroll | currency) : '&mdash;'}}
            /
            {{!!metrics.paid ? (metrics.paid | currency) : '&mdash;'}}
          </div>
        </ng-template>
      </jnt-table-column>

      <ng-template #rowActions let-row="row">
        <jnt-menu [type]="ui.orientation.vertical" [spacer]="ui.size.small">
          <jnt-menu-item [icon]="ui.icons.sync" i18n-title="@@action.sync_from_Gitlab" title="Sync from GitLab"
                         (click)="sync(row.id)"></jnt-menu-item>
        </jnt-menu>
      </ng-template>
    </jnt-table>
  </jnt-form>
</jnt-block>
