<form [formGroup]="form">
  <jnt-block [width]="ui.width.fluid">
    <jnt-table #table [search]="true">
      <ng-template #filters>
        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-switch [size]="ui.sizes.small" label="Opened" formControlName="opened"></jnt-switch>
          <jnt-switch [size]="ui.sizes.small" label="Problems" formControlName="problems"></jnt-switch>
        </jnt-stack>
      </ng-template>
      <jnt-table-column i18n-title="@@issue_title" title="Title" sort="title">
        <ng-template #cellTemplate let-title="title" let-labels="labels" let-url="glUrl" let-state="state"
                     let-participants="participants" let-project="project">
          <jnt-stack [type]="ui.stack.type.horizontal"
                     [gutter]="ui.stack.gutter.small">
            <jnt-avatars-list>
              <jnt-avatar *ngFor="let p of participants"
                          [text]="p.name" [image]="p.avatar" [size]="ui.sizes.small"></jnt-avatar>
            </jnt-avatars-list>
            <jnt-stack [type]="ui.stack.type.vertical"
                       [gutter]="ui.stack.gutter.tiny">
              <jnt-stack [type]="ui.stack.type.horizontal"
                         [gutter]="ui.stack.gutter.small">
                <jnt-link [source]=url target="_blank"
                          [attr.closed]="state == issuesState.closed">
                  {{title}}
                </jnt-link>
                <jnt-label *ngFor="let l of labels" [color]="l.color" [label]="l.title"></jnt-label>

              </jnt-stack>
              <small>{{project.presentation}}</small>
            </jnt-stack>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@dueDate" title="Due date">
        <ng-template #cellTemplate let-dueDate="dueDate" let-problems="problems">
          <div>{{dueDate | date}}</div>
          <jnt-stack [type]="ui.stack.type.vertical">
            <jnt-label *ngIf="problems?.includes(issueProblem.emptyDueDate)"
                       [color]="ui.colors.red" label="empty">
            </jnt-label>
            <jnt-label *ngIf="problems?.includes(issueProblem.overDueDate)"
                       [color]="ui.colors.red" label="overdue">
            </jnt-label>
          </jnt-stack>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@est" title="Est / Spent / Remains">
        <ng-template #cellTemplate let-timeEstimate="timeEstimate"
                     let-totalTimeSpent="totalTimeSpent"
                     let-metrics="metrics"
                     let-problems="problems">
          <div style="text-align: right;">
            {{!!timeEstimate ? (timeEstimate | duration) : '&ndash;'}} /
            {{!!totalTimeSpent ? (totalTimeSpent | duration) : '&ndash;'}} /
            {{!!metrics.remains ? (metrics.remains | duration) : '&ndash;'}}
          </div>
          <jnt-label *ngIf="problems?.includes(issueProblem.emptyEstimate)"
                     [color]="ui.colors.red" label="estimate">
          </jnt-label>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@eff" title="Eff">
        <ng-template #cellTemplate let-metrics="metrics">
          <div style="text-align: right;">
            <span [attr.slow]="metrics.efficiency > 0 && metrics.efficiency < 0.8">
              {{!!metrics.efficiency ? (metrics.efficiency | number:'1.2-2') : '&mdash;'}}
            </span>
          </div>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@payroll" title="Payroll">
        <ng-template #cellTemplate let-metrics="metrics">
          <div style="text-align: right;">
            {{!!metrics.payroll ? (metrics.payroll | currency:'RUB') : '&mdash;'}}
          </div>
        </ng-template>
      </jnt-table-column>

      <jnt-table-column i18n-title="@@paid" title="Paid">
        <ng-template #cellTemplate let-metrics="metrics">
          <div style="text-align: right;">
            {{!!metrics.paid ? (metrics.paid | currency:'RUB') : '&mdash;'}}
          </div>
        </ng-template>
      </jnt-table-column>

      <ng-template #rowActions let-row="row">
        <jnt-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
          <jnt-menu-item title="Sync from GitLab" (click)="sync(row.id)"></jnt-menu-item>
        </jnt-menu>
      </ng-template>
    </jnt-table>
  </jnt-block>
</form>
