@import "src/assets/styles/variables";

[data-remains] {
  margin-top: $app-gutter-tiny;
  text-align: center;
  font-size: .85em;

  [data-overflow='true'] {
    background: $app-fail-color;
    color: $app-white-color;
    border-radius: $app-gutter-tiny;
    line-height: 1em;
    padding: 0 $app-gutter-tiny;
  }
}
