@import "src/assets/styles/variables";
$sn-ng-deep: true;

[data-remains] {
  margin-top: $sn-gutter-tiny;
  text-align: center;
  font-size: .85em;

  [data-overflow='true'] {
    background: $sn-fail-color;
    color: $sn-white-color;
    border-radius: $sn-gutter-tiny;
    line-height: 1em;
    padding: 0 $sn-gutter-tiny;
  }
}
