@import 'variables';

:host {
  display: block
}

[project] {
  font-size: 0.75rem;
  color: $gray-800-color;
}

[user] {
  text-align: right;
}

hr {
  width: 100%;
  border: 1px solid $gray-400-color;
}

[theme] {
  align-self: center;
}
