<jnt-app-layout>
  <jnt-app-header>
    <ng-template #logo>
      <div logo>
        <img src="/assets/images/logo-white.svg" height="45">
      </div>
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.developer)"
                       link="/developer" [matching]="ui.menu.matching.wildcard" title="Developer"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.teamLeader)"
                       link="/leader" [matching]="ui.menu.matching.wildcard" title="Team Leader"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.projectManager)"
                       link="/manager" [matching]="ui.menu.matching.wildcard" title="Project Manager"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.customer)"
                       link="customer" [matching]="ui.menu.matching.wildcard" title="Customer"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.shareholder)"
                       link="/shareholder" [matching]="ui.menu.matching.wildcard" title="Shareholder"></jnt-menu-item>
      </jnt-menu>
    </ng-template>

    <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.small">
      <jnt-button text="Dark" [size]="ui.sizes.tiny"
                  (click)="setTheme('dark')"
                  [loading]="loading['dark']">
      </jnt-button>
      <jnt-button text="Light" [size]="ui.sizes.tiny"
                  (click)="setTheme('light')"
                  [loading]="loading['light']">
      </jnt-button>
    </jnt-stack>

    <ng-template #actions>
      <jnt-actions>
        <jnt-action *ngIf="!!status">
          <ng-template #template>
            <img src="/assets/images/gitlab-logo.svg" (mouseenter)="load()">
            <div></div>
          </ng-template>
          <ng-template #content>
            <jnt-stack gitlab [align]="ui.flex.align.stretch">
              <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between">
                <div>Last Sync Time</div>
                <div>{{status.lastSync | format:'HH:mm:ss'}}</div>
              </jnt-stack>
              <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between">
                <div>WEB</div>
                <div>{{status.services.webHooks | diff | duration}}</div>
              </jnt-stack>
              <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between">
                <div>API</div>
                <div>{{status.services.api | diff | duration}}</div>
              </jnt-stack>
              <hr>
              <jnt-stack [type]="ui.stack.type.horizontal"
                         [justify]="ui.flex.justify.between"
                         *ngFor="let issue of status.lastIssues">
                <jnt-stack [gutter]="ui.stack.gutter.tiny">
                  <jnt-link [source]="issue.glUrl" target="_blank">{{issue.title}}</jnt-link>
                  <div project>{{issue.project?.fullTitle}}</div>
                </jnt-stack>
                <span user>{{issue.user?.name}}</span>
              </jnt-stack>
            </jnt-stack>
          </ng-template>
        </jnt-action>
      </jnt-actions>
    </ng-template>

    <ng-template #userbar>
      <jnt-userbar>
        <ng-template #avatar>
          <jnt-avatar [size]="ui.sizes.small"
                      [image]="me.user?.avatar || '/assets/images/avatar.jpg'"></jnt-avatar>
        </ng-template>
        <ng-template #userMenu>
          <jnt-user-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
            <jnt-button *ngIf="config.token" (click)="logout()"
                        text="Logout"></jnt-button>
          </jnt-user-menu>
        </ng-template>
      </jnt-userbar>
    </ng-template>
  </jnt-app-header>
  <router-outlet></router-outlet>
</jnt-app-layout>


