<jnt-app-layout>
  <jnt-app-header>
    <ng-template #logo *ngIf="!!themeControl.value">
      <img [src]="'/assets/images/logo-' + themeControl.value + '.svg'" logo>
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.developer)"
                       link="/developer" [matching]="ui.menu.matching.wildcard" title="Developer"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.teamLeader)"
                       link="/leader" [matching]="ui.menu.matching.wildcard" title="Team Leader"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.projectManager)"
                       link="/manager" [matching]="ui.menu.matching.wildcard" title="Project Manager"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.customer)"
                       link="customer" [matching]="ui.menu.matching.wildcard" title="Customer"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.shareholder)"
                       link="/shareholder" [matching]="ui.menu.matching.wildcard" title="Shareholder"></jnt-menu-item>
      </jnt-menu>
    </ng-template>

    <jnt-form [formGroup]="themeForm" theme>
      <jnt-theme-switcher formControlName="theme"></jnt-theme-switcher>
    </jnt-form>

    <ng-template #actions>
      <jnt-actions>
        <jnt-action>
          <ng-template #template>
            <img src="/assets/images/gitlab-logo.svg" (mouseenter)="gitlabStatus.load()">
            <div></div>
          </ng-template>
          <ng-template #content>
            <app-gitlab-status></app-gitlab-status>
          </ng-template>
        </jnt-action>
      </jnt-actions>
    </ng-template>

    <ng-template #userbar>
      <jnt-userbar>
        <ng-template #avatar>
          <jnt-avatar [size]="ui.sizes.small"
                      [image]="me.user?.avatar || '/assets/images/avatar.jpg'"></jnt-avatar>
        </ng-template>
        <ng-template #userMenu>
          <jnt-user-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
            <jnt-button *ngIf="config.token" (click)="logout()"
                        text="Logout"></jnt-button>
          </jnt-user-menu>
        </ng-template>
      </jnt-userbar>
    </ng-template>
  </jnt-app-header>
  <router-outlet></router-outlet>
</jnt-app-layout>


