<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>
<jnt-popover #popover></jnt-popover>
<jnt-app-layout #layout>
  <jnt-app-header>
    <ng-template #logo>
      <img [src]="'/assets/images/logo-' + (theme === 'dark' ? 'dark' : 'light') + '.svg'">
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.developer)"
                       title="Developer"
                       [link]="['/developer']" [matching]="ui.url.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.teamLeader)"
                       title="Team Leader"
                       [link]="['/leader']" [matching]="ui.url.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.projectManager)"
                       title="Project Manager"
                       [link]="['/manager']" [matching]="ui.url.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.customer)"
                       title="Customer"
                       [link]="['/customer']" [matching]="ui.url.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item *ngIf="me.user?.roles?.includes(userRole.shareholder)"
                       title="Shareholder"
                       [link]="['/shareholder']" [matching]="ui.url.matching.wildcard"></jnt-menu-item>
      </jnt-menu>
    </ng-template>

    <jnt-form [formGroup]="themeForm" theme>
      <jnt-theme-switcher formControlName="theme"></jnt-theme-switcher>
    </jnt-form>

    <ng-template #actions>
      <jnt-actions>
        <jnt-action>
          <ng-template #template>
            <img src="/assets/images/gitlab-logo.svg" (mouseenter)="gitlabStatus.load()">
            <div></div>
          </ng-template>
          <ng-template #content>
            <app-gitlab-status></app-gitlab-status>
          </ng-template>
        </jnt-action>
      </jnt-actions>
    </ng-template>

    <ng-template #userbar>
      <jnt-userbar>
        <ng-template #avatar>
          <jnt-avatar [size]="ui.sizes.small"
                      [image]="me.user?.avatar || '/assets/images/avatar.jpg'"></jnt-avatar>
        </ng-template>
        <ng-template #userMenu>
          <app-select-lang></app-select-lang>
          <p>{{me.user?.name}}</p>
          <jnt-user-menu [type]="ui.orientation.vertical" [spacer]="ui.sizes.small">
            <jnt-button *ngIf="config.token" (click)="logout()"
                        text="Logout"></jnt-button>
          </jnt-user-menu>
        </ng-template>
      </jnt-userbar>
    </ng-template>
  </jnt-app-header>
  <router-outlet></router-outlet>
</jnt-app-layout>
