<sn-app-page-header [icon]="localUi.icons.dashboard"
                     title="Dashboard"
                     i18n-title="@@label.dashboard"
                     i18n-teaser="@@message.dashboard_teaser"
                     teaser="for your work in the company"></sn-app-page-header>

<sn-row>
  <sn-col [desktop]="8" [tablet]="12">
    <sn-stack [align]="ui.align.stretch">
      <app-developer-progress [me]="me"></app-developer-progress>
      <app-projects-summary [user]="me" (selected)="issuesByProject($event)"></app-projects-summary>
    </sn-stack>
  </sn-col>
  <sn-col [desktop]="4" [tablet]="12">
    <sn-stack [align]="ui.align.stretch">
      <app-developer-payroll [me]="me"></app-developer-payroll>
      <app-developer-work-breaks [me]="me"></app-developer-work-breaks>
    </sn-stack>
  </sn-col>
</sn-row>
