<sn-form [formGroup]="form">
  <sn-table #table formControlName="table"
             [features]="[ui.feature.reload]">

    <sn-table-column title="Name"
                      i18n-title="@@label.name">
      <ng-template #tableCellTemplate let-name="name"
                   let-avatar="avatar"
                   let-position="position">
        <app-user [user]="{name: name, avatar: avatar, position: position}"></app-user>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="100px"
                      title="Hour rate"
                      i18n-title="@@label.hour_rate"
                      [align]="ui.text.align.right">
      <ng-template #tableCellTemplate let-rate="hourRate">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{rate | money}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="150px"
                      title="Cust. hour rate"
                      i18n-title="@@label.customer_hour_rate"
                      [align]="ui.text.align.right">
      <ng-template #tableCellTemplate let-rate="customerHourRate">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{rate | money}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="100px"
                      title="Tax rate"
                      i18n-title="@@label.tax_rate"
                      [align]="ui.text.align.right">
      <ng-template #tableCellTemplate let-rate="taxRate">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{rate | number}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="160px"
                      title="Daily work hours"
                      i18n-title="@@label.daily_work_hours"
                      [align]="ui.text.align.right">
      <ng-template #tableCellTemplate let-hours="dailyWorkHours">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{hours | number}}h
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="15%"
                      title="Paid work breaks"
                      i18n-title="@@label.annual_paid_work_breaks"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-days="annualPaidWorkBreaksDays"
                   let-metrics="metrics">
        <sn-progress-bar [value]="metrics.paidWorkBreaksDays / days * 100">
          <ng-template #progressBarLegendTemplate>
            <sn-stack [orientation]="ui.orientation.horizontal"
                       [align]="ui.align.center"
                       [justify]="ui.justify.between"
                       [gutter]="ui.gutter.normal">
              <div></div>
              <div data-annual-paid-work-breaks>{{days > 0 ? (days | number) : '&nbsp;'}}</div>
            </sn-stack>
          </ng-template>
        </sn-progress-bar>
        <div
          data-paid-work-breaks-days>{{metrics.paidWorkBreaksDays > 0 ? (metrics.paidWorkBreaksDays | number) : '&nbsp;'}}</div>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="200px"
                      title="Payroll"
                      i18n-title="@@label.payroll"
                      [align]="ui.text.align.right">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <ng-template #developerMetricsTemplate>
          <table data-metrics>
            <tr>
              <td>Payroll opened</td>
              <td>{{metrics.payrollOpened}}</td>
            </tr>
            <tr>
              <td>Payroll closed</td>
              <td>{{metrics.payrollClosed}}</td>
            </tr>
            <tr>
              <td>Payroll</td>
              <td>{{metrics.payroll}}</td>
            </tr>
          </table>
        </ng-template>
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [gutter]="ui.gutter.small"
                   [justify]="ui.justify.end">
          <sn-label data-payroll [label]="metrics.payrollClosed | money"
                     [color]="ui.color.paleNavy"
                     [snPopover]="{contentTemplate: developerMetricsTemplate, position: ui.position.left}"></sn-label>
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <sn-table-column width="75px"
                      title="Taxes"
                      i18n-title="@@label.taxes"
                      [align]="ui.text.align.right">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <sn-stack [orientation]="ui.orientation.horizontal"
                   [justify]="ui.justify.end">
          {{metrics.taxes | money}}
        </sn-stack>
      </ng-template>
    </sn-table-column>

    <ng-template #tableRowActionsTemplate let-user="row" let-hide="hide">
      <sn-menu [orientation]="ui.orientation.vertical">
        <sn-menu-item title="Edit"
                       i18n-title="@@action.edit"
                       [icon]="ui.icons.link"
                       (click)="hide()"
                       [link]="{source: '/admin/users/user/' + user.id + '/change/', target: ui.target.blank}"></sn-menu-item>
      </sn-menu>
    </ng-template>

  </sn-table>
</sn-form>
