@import "src/assets/styles/variables";

:host {
  display: block;
}

[data-annual-paid-work-breaks] {
  font-size: .85em;
}

[data-paid-work-breaks-days] {
  margin-top: $sn-gutter-tiny;
  text-align: center;
  font-size: .85em;
}

[data-payroll] {
  cursor: pointer;
}

[data-metrics] {
  border-collapse: collapse;
  font-size: $sn-font-size-small;

  td {
    border: 1px solid $sn-secondary-color;
    padding: $sn-gutter-small;
  }

  tr td:nth-child(2) {
    text-align: right;
  }
}
