:host {
  display: block;
  margin: 10px;
}

ul {
  list-style: none;
  margin: 0 20px;
  padding: 0;
  display: flex;
  li {
    .active {
      font-weight: bold;
    }
    &:not(:first-child) {
      &:before {
        margin: 0 5px;
        content: '|';
      }
    }
  }
}
