<sn-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <sn-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></sn-informer-message>
</sn-informer>

<sn-gantt [type]="ui.gantt.type.year"
           [loading]="loading">
  <ng-template #ganttTitleTemplate>
    <strong i18n="@@label.developer">Work break</strong>
  </ng-template>
  <sn-gantt-line *ngFor="let workBreak of workBreaks"
                  [title]="workBreak.user.name">
    <ng-template #ganttLineTitleTemplate>
      <sn-stack [orientation]="ui.orientation.horizontal">
        <ng-container [ngSwitch]="workBreak.reason">
          <sn-label *ngSwitchCase="reasons.vacation"
                     [color]="ui.color.green"
                     label="Vacation"
                     i18n-label="@@label.vacation">
          </sn-label>
          <sn-label *ngSwitchCase="reasons.disease"
                     [color]="ui.color.red"
                     label="Disease"
                     i18n-label="@@label.disease">
          </sn-label>
          <sn-label *ngSwitchCase="reasons.dayoff"
                     [color]="ui.color.yellow"
                     label="Dayoff"
                     i18n-label="@@label.dayoff">
          </sn-label>
        </ng-container>

        <div data-comment>{{workBreak.comment}}</div>
      </sn-stack>
    </ng-template>
    <sn-gantt-line-period [from]="workBreak.fromDate"
                           [to]="workBreak.toDate">

      <ng-template #indicatorYearTemplate let-current="current" let-today="today">
        <div [attr.accepting]="workBreak['approveState'] === approveStates.created"
             [attr.accepted]="workBreak['approveState'] === approveStates.approved"
             [attr.declined]="workBreak['approveState'] === approveStates.declined"
             [attr.short]="(workBreak['toDate'] | dfnsDifferenceInMonths:workBreak['fromDate']) < 2"
             [attr.over-from]="(workBreak['fromDate'] | dfnsGetYear) < (current | dfnsGetYear)"
             [attr.over-to]="(workBreak['toDate'] | dfnsGetYear) > (current | dfnsGetYear)" period>
          <span label i18n="@@label.days">
            {{(workBreak['toDate'] | dfnsDifferenceInDays:workBreak['fromDate']) + 1 }} days
          </span>
        </div>
      </ng-template>

    </sn-gantt-line-period>
  </sn-gantt-line>
</sn-gantt>

