@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
}

[slow='true'] {
  border-bottom: 2px solid $jnt-fail-color;
}

//TODO mixinAPI
//[closed='true'] ::ng-deep a[child-of=#{$jnt-link-host}] {
//  text-decoration: line-through;
//}

[progress] {
  min-width: 100px;
}

[metric] {
  overflow: hidden;
  jnt-white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .85em;

  &:first-of-type {
    flex: 1;
    text-align: left;
  }

  &[estimate] {
    color: $jnt-primary-text-light-color;
  }
}
