@import "variables";

:host {
  display: block;
}

.closed ::ng-deep a[child-of=#{$jnt-link-host}] {
  text-decoration: line-through;
}

.error {
  color: white;
  font-size: .75em;
  padding: 1px 5px;
  border-radius: 10px;
  background-color: orangered;
}
