<app-table-column #issue i18n-title="@@title" title="Issue" sort="title"></app-table-column>
<app-table-column #project i18n-title="@@project" title="Project"></app-table-column>
<app-table-column #dueDate i18n-title="@@due_daye" title="Due date"></app-table-column>
<app-table-column #estimate i18n-title="@@est" title="Est"></app-table-column>

<app-table #table
           [columns]="[issue, project, dueDate, estimate]"
           [filter]="filter"
           [rowTemplate]="rowTemplate">
  <ng-template #rowTemplate let-problems="problems"
               let-title="issue.title"
               let-url="issue.glUrl"
               let-state="issue.state"
               let-labels="issue.labels"
               let-project="issue.project"
               let-dueDate="issue.dueDate"
               let-estimate="issue.estimate">
    <td>
      <a href="{{url}}" target="_blank" [class.closed]="state == issuesState.closed">{{title}}</a>
      <ul class="labels">
        <li *ngFor="let l of labels" [style.background-color]="l.color">
          {{l.title}}
        </li>
      </ul>
    </td>
    <td>
      {{project.presentation}}
    </td>
    <td style="text-align: right;">
      {{dueDate | date}}
      <span class="error" *ngIf="problems.includes(issueProblemType.emptyDueDate)">empty</span>
      <span class="error" *ngIf="problems.includes(issueProblemType.overdueDueDate)">overdue</span>
    </td>
    <td style="text-align: right;">
      {{timeEstimate | duration}}
      <span class="error" *ngIf="problems.includes(issueProblemType.emptyEstimate)">empty</span>
    </td>
  </ng-template>
</app-table>
