<jnt-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <jnt-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></jnt-informer-message>
</jnt-informer>

<jnt-app-content>
  <jnt-breadcrumb></jnt-breadcrumb>
  <jnt-app-body>
    <jnt-container [width]="ui.width.fluid">

      <jnt-app-page-header [icon]="localUi.icons.team"
                           title="Teams"
                           teaser="where you leader"></jnt-app-page-header>

      <ng-template #noDataTemplate>
        <ng-container *ngIf="loading;else emptyDataTemplate">
          <jnt-row>
            <jnt-col [wide]="2" [desktop]="3" *ngFor="let i of 3 | mockArray">
              <jnt-card [width]="ui.width.fluid">
                <jnt-stack [align]="ui.align.center">
                  <jnt-skeleton [lines]="1"></jnt-skeleton>
                  <jnt-skeleton [type]="ui.skeleton.type.avatar"></jnt-skeleton>
                  <jnt-skeleton [lines]="1"></jnt-skeleton>
                </jnt-stack>
              </jnt-card>
            </jnt-col>
          </jnt-row>
        </ng-container>
      </ng-template>

      <ng-template #emptyDataTemplate>
        <p>No teams!</p>
      </ng-template>

      <ng-container *ngIf="teams.length > 0;else noDataTemplate">
        <jnt-form [formGroup]="form">
          <jnt-stack [align]="ui.align.stretch">
            <jnt-row>
              <jnt-col [wide]="2" [desktop]="3" *ngFor="let team of teams">
                <jnt-card [title]="team.title"
                          [width]="ui.width.fluid"
                          [features]="[ui.feature.clickable]"
                          (selected)="router.navigate([team.id], {relativeTo: this.route})"
                          [padding]="ui.gutter.normal">
                  <jnt-label problems *ngIf="team.metrics.problemsCount > 0"
                             [icon]="ui.icons.warning"
                             [color]="ui.color.red"
                             [label]="team.metrics.problemsCount.toString()"></jnt-label>
                  <jnt-avatars-group avatars [size]="ui.size.normal">
                    <jnt-avatar *ngFor="let member of team.members"
                                [image]="member.user.avatar">
                    </jnt-avatar>
                  </jnt-avatars-group>
                  <ng-template #cardFooterTemplate>
                    <div footer><b>{{!!team.metrics.issues.openedEstimated ? (team.metrics.issues.openedEstimated |
                      duration:durationFormat.short) : '&ndash;'}}</b>
                      hours for <b>{{team.metrics.issues.openedCount || '&ndash;'}}</b> tasks
                    </div>
                  </ng-template>
                </jnt-card>
              </jnt-col>
            </jnt-row>
            <jnt-pager formControlName="offset"
                       pageSize="10"
                       [count]="count"></jnt-pager>
          </jnt-stack>
        </jnt-form>
      </ng-container>

    </jnt-container>
  </jnt-app-body>

  <app-footer></app-footer>

</jnt-app-content>
