<sn-informer *ngIf="errors.length > 0"
              (ok)="errors = []">
  <sn-informer-message *ngFor="let error of errors"
                        [message]="error.toString()"></sn-informer-message>
</sn-informer>

<sn-app-content>
  <sn-breadcrumb></sn-breadcrumb>
  <sn-app-body>
    <sn-container [width]="ui.width.fluid">

      <sn-app-page-header [icon]="localUi.icons.team"
                           title="Teams"
                           i18n-title="@@label.teams"
                           i18n-teaser="@@message.teams_teaser"
                           teaser="where you are leader"></sn-app-page-header>

      <ng-template #noDataTemplate>
        <ng-container *ngIf="loading;else emptyDataTemplate">
          <sn-row>
            <sn-col [wide]="2" [desktop]="3" *ngFor="let i of 3 | mockArray">
              <sn-card [width]="ui.width.fluid">
                <sn-stack [align]="ui.align.center">
                  <sn-skeleton [lines]="1"></sn-skeleton>
                  <sn-skeleton [type]="ui.skeleton.type.avatar"></sn-skeleton>
                  <sn-skeleton [lines]="1"></sn-skeleton>
                </sn-stack>
              </sn-card>
            </sn-col>
          </sn-row>
        </ng-container>
      </ng-template>

      <ng-template #emptyDataTemplate>
        <p i18n="@@message.no_teams">No teams!</p>
      </ng-template>

      <ng-container *ngIf="teams.length > 0;else noDataTemplate">
        <sn-form [formGroup]="form">
          <sn-stack [align]="ui.align.stretch">
            <sn-row>
              <sn-col [wide]="2" [desktop]="3" *ngFor="let team of teams">
                <sn-card [title]="team.title"
                          [width]="ui.width.fluid"
                          [features]="[ui.feature.clickable]"
                          (selected)="router.navigate([team.id], {relativeTo: this.route})"
                          [padding]="ui.gutter.normal">
                  <sn-label problems *ngIf="team.metrics.problemsCount > 0"
                             [icon]="ui.icons.warning"
                             [color]="ui.color.red"
                             [label]="team.metrics.problemsCount.toString()"></sn-label>
                  <sn-avatars-group avatars [size]="ui.size.normal">
                    <sn-avatar *ngFor="let member of team.members"
                                [image]="member.user.avatar">
                    </sn-avatar>
                  </sn-avatars-group>
                  <ng-template #cardFooterTemplate>
                    <div footer><b>{{!!team.metrics.issues.openedEstimated ? (team.metrics.issues.openedEstimated |
                      duration:durationFormat.short) : '&ndash;'}}</b>
                      hours for <b>{{team.metrics.issues.openedCount || '&ndash;'}}</b> tasks
                    </div>
                  </ng-template>
                </sn-card>
              </sn-col>
            </sn-row>
            <sn-pager formControlName="offset"
                       pageSize="10"
                       [count]="count"></sn-pager>
          </sn-stack>
        </sn-form>
      </ng-container>

    </sn-container>
  </sn-app-body>

  <app-footer></app-footer>

</sn-app-content>
