@import "~@junte/ui/lib/assets/styles/jnt-variables";

:host {
  display: block;
}

[footer] {
  padding-top: $jnt-gutter-normal;
  border-top: 1px solid $jnt-muted-color;
  font-size: 12px;
}

[avatars] {
  margin: $jnt-gutter-big auto $jnt-gutter-small auto;
}

[problems] {
  position: absolute;
  top: -$jnt-gutter-small;
  right: -$jnt-gutter-small;
}
