@import "src/assets/styles/variables";

:host {
  display: block;
}

[footer] {
  padding-top: $app-gutter-normal;
  border-top: 1px solid $app-muted-color;
  font-size: 12px;
}

[avatars] {
  margin: $app-gutter-big auto $app-gutter-small auto;
}

[problems] {
  position: absolute;
  top: -$app-gutter-small;
  right: -$app-gutter-small;
}
