@import "../node_modules/junte-ui/lib/assets/styles/common";
@import "../node_modules/junte-ui/lib/assets/styles/components";

fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;

  .message {
    display: none;
  }

  &.error {
    .message {
      display: block;
    }

    input {
      border: 1px solid red;
    }
  }
}

