@import "~@esanum/ui/lib/assets/styles/sn-common";
@import "src/assets/styles/variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;

  .message {
    display: none;
  }

  &.error {
    .message {
      display: block;
    }

    input {
      border: 1px solid red;
    }
  }
}
