@import 'style/variables';

body {
  padding: 0;
  margin: 0;
  background-color: $primary-background;
}

fieldset {
  .message {
    display: none;
  }
  &.error {
    .message {
      display: block;
    }
    input {
      border: 1px solid red;
    }
  }
}
