$sn-white-color: white;
$sn-black-color: black;

$sn-teal-color: #1D2932;
$sn-yellow-color: #F8DB42;
$sn-orange-color: #EE8030;

$sn-blue-color: #E7F5FF;
$sn-blue-100-color: #E6E9FA;

$sn-green-color: #00CCB1;
$sn-green-dark-color: #00B89F;
$sn-red-color: #FF6262;
$sn-red-dark-color: #DE5B5B;

$sn-aqua-color: #45BFDA;
$sn-aqua-dark-color: #008EA8;
$sn-aqua-light-color: #80F2FF;

$sn-purple-color: #3949AB;
$sn-purple-dark-color: #00227B;
$sn-purple-light-color: #6F74DD;
$sn-purple-lighten-color: #C4C9E7;

$sn-magenta-dark-color: #933183;

$sn-gray-100-color: #F5F5F5;
$sn-gray-200-color: #F7F7F7;
$sn-gray-300-color: #F0F0F0;
$sn-gray-400-color: #E9E9E9;
$sn-pale-navy-color: #F3F4FC;
$sn-gray-600-color: #C4C4C4;
$sn-gray-700-color: #D0D0D0;
$sn-gray-800-color: #828282;
$sn-gray-900-color: #4F4F4F;
$sn-gray-dark-color: #343434;


$sn-primary-color: $sn-purple-color;
$sn-primary-dark-color: $sn-purple-dark-color;
$sn-primary-light-color: $sn-purple-light-color;

$sn-secondary-color: $sn-aqua-color;
$sn-secondary-dark-color: $sn-aqua-dark-color;
$sn-secondary-light-color: $sn-aqua-light-color;

$sn-success-color: $sn-green-color;
$sn-success-dark-color: $sn-green-dark-color;

$sn-warning-color: $sn-orange-color;

$sn-fail-color: $sn-red-color;
$sn-fail-dark-color: $sn-red-dark-color;

$sn-accent-color: $sn-magenta-dark-color;

$sn-muted-color: $sn-gray-400-color;

$sn-primary-background: #fff;
$sn-secondary-background: $sn-pale-navy-color;
$sn-highlight-background: $sn-blue-100-color;

$sn-page-background: $sn-gray-200-color;

$sn-gutter-base: 4px;

$sn-gutter-none: 0;
$sn-gutter-tiny: $sn-gutter-base;
$sn-gutter-small: $sn-gutter-base * 2;
$sn-gutter-normal: $sn-gutter-base * 4;
$sn-gutter-big: $sn-gutter-base * 6;
$sn-gutter-large: $sn-gutter-base * 8;
$sn-gutter-huge: $sn-gutter-base * 12;


$sn-corner-base: 4px;

$sn-corner-small: $sn-corner-base;
$sn-corner-normal: $sn-corner-base * 2;
$sn-corner-large: $sn-corner-base * 10;


$sn-shadow-light: 0px 4px 10px rgba($sn-black-color, .15);
$sn-shadow-normal: 0px 2px 8px rgba($sn-black-color, .25);
$sn-shadow-primary: 0px 2px 8px rgba($sn-primary-color, .25);
$sn-outline-shadow-small: 0 0 0 2px;
$sn-outline-shadow-normal: 0 0 0 4px;


$sn-grid-gutter: $sn-gutter-normal;

$sn-primary-text-color: $sn-gray-900-color;
$sn-primary-text-dark-color: $sn-gray-dark-color;
$sn-primary-text-light-color: $sn-gray-800-color;
$sn-primary-text-inverse-color: $sn-white-color;

$sn-font-size-tiny: 11px;
$sn-font-size-small: 13px;
$sn-font-size-base: 14px;
$sn-font-size-normal: 16px;
$sn-font-size-big: 24px;
$sn-font-size-large: 32px;
$sn-font-size-huge: 48px;

$sn-font-weight-light: 300;
$sn-font-weight-base: 400;
$sn-font-weight-semi-bold: 600;
$sn-font-weight-bold: 700;
$sn-font-weight-extra-bold: 800;

$sn-line-height-base: 1.5;
$sn-line-height-large: 2.5;
$sn-line-height-small: 1.3;
$sn-line-height-tiny: 1;

$sn-font-family-base: "Open Sans", Tahoma;

$sn-h1-font-size: $sn-font-size-base * 4;
$sn-h2-font-size: $sn-font-size-base * 3;
$sn-h3-font-size: $sn-font-size-base * 1.85;
$sn-h4-font-size: $sn-font-size-base * 1.28;
$sn-h5-font-size: $sn-font-size-base * 1.2;
$sn-h6-font-size: $sn-font-size-base;

$sn-page-header-font-size: 18px;
$sn-scrollbar-width: 12px;
$sn-headings-margin-bottom: $sn-gutter-normal;

$sn-control-gutter: $sn-gutter-small;
$sn-control-border-color: $sn-gray-700-color;
$sn-control-switch-label-color: $sn-primary-text-color;
$sn-control-background: $sn-primary-background;

$sn-control-field-label-background: $sn-secondary-background;
$sn-control-field-label-padding: 0 $sn-gutter-small;
$sn-control-field-label-color: $sn-primary-text-light-color;
$sn-control-field-label-border-color: $sn-gray-600-color;

$sn-control-disabled-border-color: $sn-gray-600-color;
$sn-control-disabled-indicator-icon-color: $sn-gray-800-color;
$sn-control-disabled-label-color: $sn-primary-text-light-color;
$sn-control-disabled-background: $sn-gray-100-color;

$sn-body-color: $sn-primary-text-color;
$sn-app-layout-font-family: $sn-font-family-base;
$sn-lp-layout-font-family: 'Montserrat', sans-serif;
$sn-body-font-weight: $sn-font-weight-base;
$sn-body-line-height: $sn-line-height-base;
$sn-body-font-size: $sn-font-size-base;
