$app-white-color: white;
$app-black-color: black;

$app-teal-color: #1D2932;
$app-yellow-color: #F8DB42;
$app-orange-color: #EE8030;

$app-blue-color: #E7F5FF;
$app-blue-100-color: #E6E9FA;

$app-green-color: #00CCB1;
$app-green-dark-color: #00B89F;
$app-red-color: #FF6262;
$app-red-dark-color: #DE5B5B;

$app-aqua-color: #45BFDA;
$app-aqua-dark-color: #008EA8;
$app-aqua-light-color: #80F2FF;

$app-purple-color: #3949AB;
$app-purple-dark-color: #00227B;
$app-purple-light-color: #6F74DD;
$app-purple-lighten-color: #C4C9E7;

$app-magenta-dark-color: #933183;

$app-gray-100-color: #F5F5F5;
$app-gray-200-color: #F7F7F7;
$app-gray-300-color: #F0F0F0;
$app-gray-400-color: #E9E9E9;
$app-pale-navy-color: #F3F4FC;
$app-gray-600-color: #C4C4C4;
$app-gray-700-color: #D0D0D0;
$app-gray-800-color: #828282;
$app-gray-900-color: #4F4F4F;
$app-gray-dark-color: #343434;


$app-primary-color: $app-purple-color;
$app-primary-dark-color: $app-purple-dark-color;
$app-primary-light-color: $app-purple-light-color;

$app-secondary-color: $app-aqua-color;
$app-secondary-dark-color: $app-aqua-dark-color;
$app-secondary-light-color: $app-aqua-light-color;

$app-success-color: $app-green-color;
$app-success-dark-color: $app-green-dark-color;

$app-warning-color: $app-orange-color;

$app-fail-color: $app-red-color;
$app-fail-dark-color: $app-red-dark-color;

$app-accent-color: $app-magenta-dark-color;

$app-muted-color: $app-gray-400-color;

$app-primary-background: #fff;
$app-secondary-background: $app-pale-navy-color;
$app-highlight-background: $app-blue-100-color;

$app-page-background: $app-gray-200-color;

$app-gutter-base: 4px;

$app-gutter-none: 0;
$app-gutter-tiny: $app-gutter-base;
$app-gutter-small: $app-gutter-base * 2;
$app-gutter-normal: $app-gutter-base * 4;
$app-gutter-big: $app-gutter-base * 6;
$app-gutter-large: $app-gutter-base * 8;
$app-gutter-huge: $app-gutter-base * 12;

$app-corner-base: 4px;

$app-corner-small: $app-corner-base;
$app-corner-normal: $app-corner-base * 2;
$app-corner-large: $app-corner-base * 10;

$app-shadow-light: 0px 4px 10px rgba($app-black-color, .15);
$app-shadow-normal: 0px 2px 8px rgba($app-black-color, .25);
$app-shadow-primary: 0px 2px 8px rgba($app-primary-color, .25);
$app-outline-shadow-small: 0 0 0 2px;
$app-outline-shadow-normal: 0 0 0 4px;

$app-grid-gutter: $app-gutter-normal;

$app-primary-text-color: $app-gray-900-color;
$app-primary-text-dark-color: $app-gray-dark-color;
$app-primary-text-light-color: $app-gray-800-color;
$app-primary-text-inverse-color: $app-white-color;

$app-font-size-tiny: 11px;
$app-font-size-small: 13px;
$app-font-size-base: 14px;
$app-font-size-normal: 16px;
$app-font-size-big: 24px;
$app-font-size-large: 32px;
$app-font-size-huge: 48px;

$app-font-weight-light: 300;
$app-font-weight-base: 400;
$app-font-weight-semi-bold: 600;
$app-font-weight-bold: 700;
$app-font-weight-extra-bold: 800;

$app-line-height-base: 1.5;
$app-line-height-large: 2.5;
$app-line-height-small: 1.3;
$app-line-height-tiny: 1;

$app-font-family-base: "Open Sans", Tahoma;

$app-h1-font-size: $app-font-size-base * 4;
$app-h2-font-size: $app-font-size-base * 3;
$app-h3-font-size: $app-font-size-base * 1.85;
$app-h4-font-size: $app-font-size-base * 1.28;
$app-h5-font-size: $app-font-size-base * 1.2;
$app-h6-font-size: $app-font-size-base;

$app-body-color: $app-primary-text-color;
$app-app-layout-font-family: $app-font-family-base;
$app-lp-layout-font-family: 'Montserrat', sans-serif;
$app-body-font-weight: $app-font-weight-base;
$app-body-line-height: $app-line-height-base;
$app-body-font-size: $app-font-size-base;
