<jnt-form [formGroup]="form" jntValidation (submitted)="save()">
  <jnt-stack [type]="ui.layout.stack.type.vertical" [align]="ui.flex.align.stretch">
    <jnt-form-item *ngIf="view === viewType.extended">
      <jnt-form-label i18n="@@label.developer">Developer</jnt-form-label>
      <jnt-select developers placeholder="Developer" formControlName="user">
        <jnt-select-option *ngFor="let member of members"
                           [label]="member.user.name"
                           [value]="member.user.id"
                           [key]="member.user.id">
        </jnt-select-option>
      </jnt-select>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="fromDate" i18n="@@label.from_date">From</jnt-form-label>
      <jnt-form-control name="fromDate">
        <jnt-date-picker placeholder="Start date" formControlName="fromDate"></jnt-date-picker>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="toDate" i18n="@@label.to_date">To</jnt-form-label>
      <jnt-form-control name="toDate">
        <jnt-date-picker placeholder="To date" formControlName="toDate"></jnt-date-picker>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label i18n="@@label.reason" for="reason">Reason</jnt-form-label>
      <jnt-form-control name="reason">
        <jnt-switcher formControlName="reason" [type]="ui.orientation.horizontal">
          <jnt-switcher-option label="Dayoff"
                               i18n-label="@@action.dayoff"
                               [value]="reasons.dayoff">
          </jnt-switcher-option>
          <jnt-switcher-option label="Disease"
                               i18n-label="@@action.disease"
                               [value]="reasons.disease">
          </jnt-switcher-option>
          <jnt-switcher-option label="Vacation"
                               i18n-label="@@action.vacation"
                               [value]="reasons.vacation">
          </jnt-switcher-option>
        </jnt-switcher>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>

    <jnt-form-item>
      <jnt-form-label for="comment" i18n="@@label.comment">Comment</jnt-form-label>
      <jnt-form-control name="comment">
        <jnt-input i18n-placeholder="@@label.comment" placeholder="Comment" formControlName="comment"></jnt-input>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-form-item>
  </jnt-stack>

  <ng-template #formFooterTemplate>
    <jnt-stack [type]="ui.layout.stack.type.horizontal" [justify]="ui.flex.justify.center">
      <jnt-button text="Save" i18n-text="@@action.save" [type]="ui.form.button.type.submit" [loading]="saving"></jnt-button>
    </jnt-stack>
  </ng-template>
</jnt-form>
