@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import "~@junte/ui/lib/assets/styles/navigation/link";
@import "~@junte/ui/lib/assets/styles/collections/gantt";

$jnt-ng-deep: true;

[data-tickets] {
  @include jnt-gantt((title:(width: 50%), period: (width:50%)), '&');
}

[period] {
  position: relative;
  margin: $jnt-gutter-tiny;
  border-radius: $jnt-corner-large;
  background-color: $jnt-gray-600-color;
  color: $jnt-white-color;
  height: 40px;
  pointer-events: none;
  overflow: hidden;

  &[over-from='true'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[over-to='true'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[over-due='true'] {
    border-right: 10px solid $jnt-fail-color;
  }

  [label] {
    position: absolute;
    font-size: $jnt-font-size-small;
    white-space: nowrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [progress] {
    background-color: $jnt-success-color;
    transform: translateX(-50%);
    height: 100%;
  }
}

[data-ticket-metrics] {
  border-collapse: collapse;
  font-size: $jnt-font-size-small;

  td {
    border: 1px solid $jnt-secondary-color;
    padding: $jnt-gutter-small;
  }

  tr td:nth-child(2) {
    text-align: right;
  }
}

[issue] {
  margin-left: $jnt-gutter-tiny;

  [state] {
    color: $jnt-success-color;

    &[doing] {
      min-width: 18px;
      width: 18px;
      min-height: 18px;
      height: 18px;
      border-radius: 50%;
      fill: $jnt-success-color;
      padding: 1px;
      border: 1px solid $jnt-success-color;
    }
  }

  [closed='true'] {
    @include jnt-link((text-decoration: line-through), '&');
  }

}

.cdk- {
  &drag- {
    &preview {
      border-radius: $jnt-corner-normal;
      box-shadow: $jnt-shadow-normal;
      padding: $jnt-gutter-tiny;
      background-color: $jnt-primary-background;
    }

    &placeholder {
      display: none;
    }
  }

  &drop- {
    &list-dragging {
      display: flex;
      outline: 1px solid $jnt-secondary-color;
    }
  }
}
