@import "src/assets/styles/variables";
@import "~@esanum/ui/lib/assets/styles/navigation/link";
@import "~@esanum/ui/lib/assets/styles/collections/gantt";

$sn-ng-deep: true;

:host {
  @include sn-gantt((title:(width: 50%), period: (width:50%)));
}

[data-period] {
  position: relative;
  cursor: pointer;
  margin: $app-gutter-tiny;
  border-radius: $app-corner-normal;
  background-color: $app-gray-600-color;
  color: $app-white-color;
  height: 40px;
  overflow: hidden;

  &[over-from='true'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[over-to='true'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[over-due='true'] {
    border-right: 10px solid $app-fail-color;
  }

  [data-label] {
    position: absolute;
    font-size: $app-font-size-small;
    white-space: nowrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [data-progress] {
    background-color: $app-success-color;
    transform: translateX(-50%);
    height: 100%;
  }
}

[data-ticket-metrics] {
  border-collapse: collapse;
  font-size: $app-font-size-small;

  td {
    border: 1px solid $app-secondary-color;
    padding: $app-gutter-small;
  }

  tr td:nth-child(2) {
    text-align: right;
  }
}

[data-ticket] {
  flex: 1;
}

[data-issue] {
  margin-left: $app-gutter-tiny;
}

.cdk- {
  &drag- {
    &preview {
      border-radius: $app-corner-normal;
      box-shadow: $app-shadow-normal;
      padding: $app-gutter-tiny;
      background-color: $app-primary-background;
    }

    &placeholder {
      display: none;
    }
  }

  &drop- {
    &list-dragging {
      display: flex;
      outline: 1px solid $app-secondary-color;
    }
  }
}
