@import "~@junte/ui/lib/assets/styles/jnt-variables";
@import '~@junte/ui/lib/assets/styles/elements/dot';

:host {
  display: block;
}

:host-context([theme='dark']) {
  table {
    background-color: #1A1A1A;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.25);

    thead {
      tr {
        &[data-rewind] {
          th {
            [data-date] {
              color: $jnt-gray-100-color;
            }
          }
        }

        &[data-week] {
          background-color: $jnt-gray-800-color;
        }
      }
    }

    tbody {
      tr {
        td {
          &[data-day] {
            &:hover {
              background-color: $jnt-gray-700-color;
            }
          }
        }
      }
    }
  }
}

// TODO: move to block
table {
  width: 100%;
  table-layout: auto;
  border: 0;
  border-spacing: 0;
  font-size: $jnt-font-size-small;

  td, th:not([data-tools]) {
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    box-sizing: border-box;
  }

  thead {
    tr {
      [data-tools] {
        padding: $jnt-gutter-normal $jnt-gutter-normal 0 $jnt-gutter-normal;

        [data-title] {
          color: $jnt-primary-color;
          font-size: 18px;
          font-weight: $jnt-font-weight-bold;
          text-align: center;
          flex: 1;
        }
      }

      &[data-rewind] {
        th {
          [data-date] {
            display: flex;
            color: $jnt-primary-text-dark-color;
            font-weight: $jnt-font-weight-bold;

            span {
              margin: auto;
            }
          }
        }
      }

      &[data-week] {
        background-color: $jnt-secondary-background;

        th {
          &:nth-child(2),
          &:nth-child(9) {
            border-right: 1px solid $jnt-muted-color;
          }

          &[data-day] {
            cursor: pointer;
            user-select: none;

            &:hover,
            &[today='true'] {
              background-color: $jnt-success-color;
              color: $jnt-white-color;
            }
          }

          &[data-metric-name] {
            color: $jnt-primary-dark-color;
          }
        }
      }

      th {
        padding: $jnt-gutter-normal $jnt-gutter-tiny;
        min-width: 48px;

        &[data-gutter] {
          width: $jnt-gutter-tiny;
          min-width: $jnt-gutter-tiny;
        }

        &:nth-child(2) {
          min-width: 120px;
        }

        &[data-week] {
          width: 40%;
        }

        &[data-metrics] {
          width: 20%;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-top: 1px solid $jnt-muted-color;
        padding: 10px $jnt-gutter-tiny;

        &[slow='true'] span {
          border-bottom: 2px solid $jnt-fail-color;
        }

        &[data-day] {
          cursor: pointer;
          position: relative;

          [data-day-text] {
            font-size: $jnt-font-size-small;
          }

          &:hover {
            background-color: $jnt-secondary-dark-color;
          }

          [data-issues-count] {
            @include jnt-dot((size: 5px), '&');
            position: absolute;
            top: 4px;
            right: 4px;
            z-index: 1;
          }

          [data-metric] {
            display: inline-block;

            [data-circle] {
              width: 35px;
              height: 35px;
            }
          }
        }

        [data-developer] {
          cursor: pointer;
          padding: $jnt-gutter-tiny;

          &:focus {
            outline: 0;
            border-radius: $jnt-corner-small;
            box-shadow: $jnt-outline-shadow-small $jnt-secondary-dark-color;
          }
        }

        [data-spent] {
          min-width: 50px;
          width: 50px;
        }
      }

      &[data-nodata] {
        height: 300px;
        pointer-events: none;
        border-bottom: 0;

        td {
          font-size: 80px;
          color: $jnt-muted-color;
        }
      }

      &[data-loading] {
        td {
          padding: $jnt-gutter-normal;
        }
      }

      &[active='true'] {
        td {
          background-color: $jnt-secondary-background;
        }

        &:last-child {
          td:first-child {
            border-bottom-left-radius: $jnt-corner-normal;
          }

          td:last-child {
            border-bottom-right-radius: $jnt-corner-normal;
          }
        }
      }
    }
  }
}
