@import '~@esanum/ui/lib/assets/styles/forms/calendar';
@import '~@esanum/ui/lib/assets/styles/navigation/link';
@import "src/assets/styles/variables";

$sn-ng-deep: true;

:host {
  display: block;
  padding: $app-gutter-normal;
}

[data-no-issues] {
  padding: 0 $app-gutter-normal $app-gutter-normal;

  [data-no-issues-text] {
    font-size: $app-font-size-tiny;
    color: $app-gray-400-color;
  }
}

[data-date] {
  font-size: $app-font-size-small;
  font-weight: $app-font-weight-bold;
}

[data-issue] {
  @include sn-link((
    font-size: $app-font-size-tiny,
    color: $app-secondary-background,
    inverse-color: $app-primary-color,
  ));

  [data-issue-link] {
    display: flex;
    flex: 1;
  }
}
