<sn-calendar [readonly]="true"
             (updated)="period = $event; loadDays()">
  <ng-template #calendarHeaderTemplate>
    <sn-button text='Reload'
               [icon]="progress.loading ? ui.icons.animated.reload : ui.icons.reload"
               [outline]="ui.outline.transparent"
               [disabled]="progress.loading"
               (click)="loadDays()"></sn-button>
  </ng-template>
  <ng-template #calendarDayTemplate
               let-date="date">
    <sn-stack data-day-template
              [align]="ui.align.stretch"
              [gutter]="ui.gutter.small"
              [padding]="ui.gutter.small">
      <ng-container *ngTemplateOutlet="dayTemplate;
        context: {date: date, info: days?.get((date | dfnsFormat:dateFormat)), isToday: (date | isToday)}">
      </ng-container>
    </sn-stack>
  </ng-template>
</sn-calendar>

<ng-template #issueIcon
             let-state="state"
             let-labels="labels">
  <sn-icon *ngIf="state == issueState?.opened && (labels | hasLabel:standardLabel.doing); else delayedTemplate"
           [icon]="localUi.icons.doing"
           [size]="ui.size.small"></sn-icon>
  <ng-template #delayedTemplate>
    <sn-icon *ngIf="labels | hasLabel:standardLabel.delayed; else doneTemplate"
             [icon]="localUi.icons.delayed"
             [size]="ui.size.small"></sn-icon>
  </ng-template>
  <ng-template #doneTemplate>
    <sn-icon *ngIf="labels | hasLabel:standardLabel.done"
             [icon]="localUi.icons.done"
             [size]="ui.size.small"></sn-icon>
  </ng-template>
</ng-template>

<ng-template #dayTemplate
             let-date="date"
             let-info="info"
             let-isToday="isToday">
  <sn-stack [orientation]="ui.orientation.horizontal"
            [justify]="ui.justify.between"
            [align]="ui.align.center">
    <ng-container *ngIf="!!info?.metrics.timeSpent || !!info?.metrics.timeEstimate">
      <sn-stack [orientation]="ui.orientation.horizontal"
                [align]="ui.align.center"
                [gutter]="ui.gutter.tiny">
        <sn-icon [icon]="localUi.icons.loading"
                 [size]="ui.size.small"
                 [color]="ui.color.primary500"></sn-icon>
        <span *ngIf="!!info?.metrics.timeSpent"
              data-time-spent>{{ info?.metrics.timeSpent | duration:durationFormat.short }}</span>
        <span *ngIf="!!info?.metrics.timeEstimate"
              [attr.data-overestimate]="info?.metrics.timeEstimate > info?.metrics.plannedWorkHours * 3600">
          {{ info?.metrics.timeEstimate | duration:durationFormat.short }}</span>
      </sn-stack>
    </ng-container>
    <div data-date [attr.data-today]="isToday">{{ date | dfnsGetDate }}</div>
  </sn-stack>

  <ng-container *ngIf="info?.issues.length > 0">
    <sn-stack data-issue
              *ngFor="let issue of info?.issues"
              [orientation]="ui.orientation.horizontal"
              [gutter]="ui.gutter.small"
              [align]="ui.align.center">
      <ng-container *ngTemplateOutlet="issueIcon;
            context: {state: issue.state, labels: issue.labels}"></ng-container>
      <sn-link data-issue-link
               [source]="issue.glUrl"
               [outline]="ui.outline.fill"
               [target]="ui.target.blank"
               [title]="issue.title"
               [attr.data-issue-closed]="issue.state == issueState?.closed"></sn-link>
      <sn-icon *ngIf="issue.labels | hasLabel:standardLabel.bug"
               [icon]="localUi.icons.bug"
               [size]="ui.size.small"
               [color]="ui.color.red"></sn-icon>
    </sn-stack>
  </ng-container>
</ng-template>
