@import '~@esanum/ui/lib/assets/styles/forms/calendar';
@import '~@esanum/ui/lib/assets/styles/navigation/link';
@import "src/assets/styles/variables";

$sn-ng-deep: true;

:host {
  display: block;
}

[data-day-template] {
  min-height: 100px;

  [data-date] {
    padding: $app-gutter-tiny $app-gutter-small;
    font: {
      size: $app-font-size-small;
      weight: $app-font-weight-bold;
    }

    &[data-today='true'] {
      color: $app-primary-text-inverse-color;
      background-color: $app-primary-color;
      border-radius: $app-gutter-small;
    }
  }

  [data-issue] {
    @include sn-link((
      font-size: $app-font-size-tiny,
      color: $app-secondary-background,
      inverse-color: $app-primary-color,
    ));

    [data-issue-link] {
      display: flex;
      flex: 1;
    }

    [data-issue-link][data-issue-closed='true'] {
      text-decoration: line-through;
    }
  }
}
