<jnt-form [formGroup]="form">
  <jnt-table #table formControlName="table">

    <ng-template #tableFiltersTemplate>
      <jnt-switcher formControlName="type">
        <jnt-switcher-option label="All"
                             i18n-label="@@action.filter_projects_all"
                             [disabled]="summary?.count <= 0"
                             [value]="projectType.all">
          <jnt-badge *ngIf="summary?.count > 0"
                     [overflow]="null"
                     [value]="summary?.count"></jnt-badge>
        </jnt-switcher-option>
        <jnt-switcher-option label="Archived"
                             i18n-label="@@action.filter_type_archived"
                             [disabled]="summary?.archivedCount <= 0"
                             [value]="projectType.archived">
          <jnt-badge *ngIf="summary?.archivedCount > 0"
                     [value]="summary?.archivedCount"
                     [color]="ui.color.gray"></jnt-badge>
        </jnt-switcher-option>
        <jnt-switcher-option label="Supporting"
                             i18n-label="@@action.filter_supporting"
                             [disabled]="summary?.supportingCount <= 0"
                             [value]="projectType.supporting">
          <jnt-badge *ngIf="summary?.supportingCount > 0"
                     [value]="summary?.supportingCount"
                     [color]="ui.color.yellow"></jnt-badge>
        </jnt-switcher-option>
        <jnt-switcher-option label="Developing"
                             i18n-label="@@action.filter_developing"
                             [disabled]="summary?.developingCount <= 0"
                             [value]="projectType.developing">
          <jnt-badge *ngIf="summary?.developingCount > 0"
                     [value]="summary?.developingCount"
                     [color]="ui.color.green"></jnt-badge>
        </jnt-switcher-option>
      </jnt-switcher>
    </ng-template>

    <jnt-table-column title="Title"
                      i18n-title="@@label.title">
      <ng-template #tableCellTemplate let-title="title"
                   let-avatar="glAvatar"
                   let-fullTitle="fullTitle"
                   let-url="glUrl">
        <jnt-stack [orientation]="ui.orientation.horizontal">
          <jnt-avatar [size]="ui.size.small"
                      [icon]="localUi.icons.project"
                      [image]="avatar"></jnt-avatar>
          <jnt-stack [gutter]="ui.gutter.tiny">
            <jnt-link [source]="url + '/-/boards'"
                      [target]="ui.target.blank"
                      [title]="title">
            </jnt-link>
            <small>{{fullTitle}}</small>
          </jnt-stack>
        </jnt-stack>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column title="Budget"
                      i18n-title="@@label.budget"
                      width="25%"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <ng-container>
          <app-budget [budgetSpent]="metrics.budgetSpent"
                      [budget]="metrics.budget"
                      [budgetRemains]="metrics.budgetRemains"></app-budget>
        </ng-container>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column title="Profit"
                      i18n-title="@@label.profit"
                      width="25%"
                      [align]="ui.text.align.center">
      <ng-template #tableCellTemplate let-metrics="metrics">
        <app-profit [payroll]="metrics.payroll"
                    [budget]="metrics.budget"
                    [profit]="metrics.profit"></app-profit>
      </ng-template>
    </jnt-table-column>

    <ng-template #tableRowActionsTemplate let-row="row">
      <jnt-menu [orientation]="ui.orientation.vertical">
        <jnt-menu-item [icon]="ui.icons.link"
                       title="GitLab"
                       i18n-title="@@action.view_on_gitlab"
                       target="_blank"
                       [link]="row.glUrl"></jnt-menu-item>
        <jnt-menu-item [icon]="ui.icons.edit"
                       title="Edit"
                       i18n-title="@@action.edit"
                       target="_blank"
                       [link]="'/admin/development/project/' + row.id + '/change/'"></jnt-menu-item>
      </jnt-menu>
    </ng-template>

  </jnt-table>
</jnt-form>
