<jnt-form [formGroup]="form">
  <jnt-table #table formControlName="table">

    <jnt-table-column sort="created_at"
                      title="Created at"
                      i18n-title="@@label.created_at">
      <ng-template #tableCellTemplate let-createdAt="createdAt">
        {{createdAt | date:'medium'}}
      </ng-template>
    </jnt-table-column>

    <jnt-table-column *ngIf="view === viewType.leader || view === viewType.shareholder"
                      title="For developer"
                      i18n-title="@@label.user">
      <ng-template #tableCellTemplate
                   let-user="user">
        <app-user [user]="user"
                  [size]="userCardSize.small"></app-user>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column sort="created_by"
                      title="Created by"
                      i18n-title="@@label.created_by">
      <ng-template #tableCellTemplate let-createdBy="createdBy">
        <app-user *ngIf="!!createdBy" [user]="createdBy"
                  [size]="userCardSize.small"></app-user>
      </ng-template>
    </jnt-table-column>

    <jnt-table-column sort="comment"
                      title="Comment"
                      i18n-title="@@label.comment">
      <ng-template #tableCellTemplate let-comment="comment">
        {{comment}}
      </ng-template>
    </jnt-table-column>

    <jnt-table-column title="Sum"
                      i18n-title="@@label.sum">
      <ng-template #tableCellTemplate let-sum="sum">
        {{sum | money}}
      </ng-template>
    </jnt-table-column>

    <jnt-table-column *ngIf="view !== viewType.salary" title="Salary"
                      i18n-title="@@label.salary">
      <ng-template #tableCellTemplate let-salary="salary">
        <jnt-link *ngIf="!!salary" [title]="salary.createdAt | dfnsFormat: 'PPp'"
                  [source]="['../salaries', salary.id]"></jnt-link>
      </ng-template>
    </jnt-table-column>

  </jnt-table>
</jnt-form>

