@import "src/assets/styles/variables";

$sn-theme-type: 'dark';

$sn-white-color: white;
$sn-gray-50-color: #303030;
$sn-gray-100: #F5F5F5;
$sn-gray-200: #F7F7F7;
$sn-gray-250-color: #101010;
$sn-gray-300: #F0F0F0;
$sn-gray-250-color: #141414;
$sn-gray-400: #E9E9E9;
$sn-gray-500: #F3F4FC;
$sn-gray-600: #C4C4C4;
$sn-gray-700: #D0D0D0;
$sn-gray-800: #828282;
$sn-gray-900: #4F4F4F;
$sn-gray-dark: #262626;
$sn-purple-color: #3949AB;
$sn-purple-light-color: #6F74DD;

$sn-gray-dark-100: #121212;

$sn-muted-color: $sn-gray-800;

$sn-primary-text-color: $sn-gray-200;
$sn-primary-text-dark-color: $sn-gray-100;
$sn-primary-text-light-color: $sn-gray-600;

$sn-primary-background: $sn-gray-dark;
$sn-secondary-background: $sn-gray-dark-100;
$sn-page-background: $sn-gray-dark-100;
$sn-highlight-background: #292929;

$sn-primary-500-color: $app-purple-color;
$sn-primary-600-color: $app-purple-dark-color;
$sn-primary-400-color: $sn-purple-light-color;

$sn-secondary-500-color: $app-aqua-color;
$sn-secondary-600-color: $app-aqua-dark-color;
$sn-secondary-400-color: $app-aqua-light-color;

$sn-control-border-color: $sn-gray-900;

$sn-control-field-label-color: $sn-primary-text-light-color;
$sn-control-field-label-border-color: $sn-gray-900;

$sn-control-disabled-indicator-icon-color: $sn-gray-800;
$sn-control-disabled-border-color: $sn-highlight-background;
$sn-control-disabled-background: $sn-highlight-background;

$sn-shadow-light: 0px 4px 10px rgba(255, 255, 255, 0.15);
$sn-shadow-normal: 0px 2px 8px rgba(255, 255, 255, 0.25);

$sn-body-color: $sn-primary-text-color;

$sn-gutter-base: $app-gutter-base;

$sn-gutter-none: 0;
$sn-gutter-tiny: $sn-gutter-base;
$sn-gutter-small: $sn-gutter-base * 2;
$sn-gutter-normal: $sn-gutter-base * 4;
$sn-gutter-big: $sn-gutter-base * 6;
$sn-gutter-large: $sn-gutter-base * 8;
$sn-gutter-huge: $sn-gutter-base * 12;

$sn-corner-base: $app-corner-base;

$sn-corner-small: $sn-corner-base;
$sn-corner-normal: $sn-corner-base * 2;
$sn-corner-large: $sn-corner-base * 10;

$sn-font-size-tiny: $app-font-size-tiny;
$sn-font-size-small: $app-font-size-small;
$sn-font-size-base: $app-font-size-base;
$sn-font-size-normal: $app-font-size-normal;
$sn-font-size-big: $app-font-size-big;
$sn-font-size-large: $app-font-size-large;
$sn-font-size-huge: $app-font-size-huge;

$sn-h1-font-size: $sn-font-size-base * 4;
$sn-h2-font-size: $sn-font-size-base * 3;
$sn-h3-font-size: $sn-font-size-base * 1.85;
$sn-h4-font-size: $sn-font-size-base * 1.28;
$sn-h5-font-size: $sn-font-size-base * 1.2;
$sn-h6-font-size: $sn-font-size-base;

$app-aside-collapsed-width: 86px;

@import "~@esanum/ui/lib/assets/styles/sn-variables";

[theme='dark'] {
  @import "~@esanum/ui/lib/assets/styles/sn-all";

  @include sn-link((color: $sn-primary-500-color, hover-color: $sn-primary-600-color));

}
