@import "src/assets/styles/variables";

$sn-theme-type: 'light';

$sn-white-color: $app-white-color;
$sn-black-color: $app-black-color;
$sn-teal-color: $app-teal-color;
$sn-yellow-color: $app-yellow-color;
$sn-orange-color: $app-orange-color;

$sn-blue-color: $app-blue-color;
$sn-blue-100-color: $app-blue-100-color;

$sn-green-color: $app-green-color;
$sn-green-dark-color: $app-green-dark-color;
$sn-red-color: $app-red-color;
$sn-red-dark-color: $app-red-dark-color;

$sn-aqua-color: $app-aqua-color;
$sn-aqua-dark-color: $app-aqua-dark-color;
$sn-aqua-light-color: $app-aqua-light-color;

$sn-purple-color: $app-purple-color;
$sn-purple-dark-color: $app-purple-dark-color;
$sn-purple-light-color: $app-purple-light-color;
$sn-purple-lighten-color: $app-purple-lighten-color;

$sn-magenta-dark-color: $app-magenta-dark-color;

$sn-gray-100-color: $app-gray-100-color;
$sn-gray-200-color: $app-gray-200-color;
$sn-gray-300-color: $app-gray-300-color;
$sn-gray-400-color: $app-gray-400-color;
$sn-pale-navy-color: $app-pale-navy-color;
$sn-gray-600-color: $app-gray-600-color;
$sn-gray-700-color: $app-gray-700-color;
$sn-gray-800-color: $app-gray-800-color;
$sn-gray-900-color: $app-gray-900-color;
$sn-gray-dark-color: $app-gray-dark-color;

$sn-primary-color: $sn-purple-color;
$sn-primary-dark-color: $sn-purple-dark-color;
$sn-primary-light-color: $sn-purple-light-color;

$sn-secondary-color: $sn-aqua-color;
$sn-secondary-dark-color: $sn-aqua-dark-color;
$sn-secondary-light-color: $sn-aqua-light-color;

$sn-success-color: $sn-green-color;
$sn-success-dark-color: $sn-green-dark-color;

$sn-warning-color: $sn-orange-color;

$sn-fail-color: $sn-red-color;
$sn-fail-dark-color: $sn-red-dark-color;

$sn-accent-color: $sn-magenta-dark-color;

$sn-muted-color: $sn-gray-400-color;

$sn-primary-background: $sn-white-color;
$sn-secondary-background: $sn-pale-navy-color;
$sn-highlight-background: $sn-blue-100-color;

$sn-page-background: $sn-gray-200-color;

$sn-gutter-base: $app-gutter-base;

$sn-gutter-none: 0;
$sn-gutter-tiny: $sn-gutter-base;
$sn-gutter-small: $sn-gutter-base * 2;
$sn-gutter-normal: $sn-gutter-base * 4;
$sn-gutter-big: $sn-gutter-base * 6;
$sn-gutter-large: $sn-gutter-base * 8;
$sn-gutter-huge: $sn-gutter-base * 12;

$sn-corner-base: $app-corner-base;

$sn-corner-small: $sn-corner-base;
$sn-corner-normal: $sn-corner-base * 2;
$sn-corner-large: $sn-corner-base * 10;

$sn-shadow-light: 0px 4px 10px rgba($sn-black-color, .15);
$sn-shadow-normal: 0px 2px 8px rgba($sn-black-color, .25);
$sn-shadow-primary: 0px 2px 8px rgba($sn-primary-color, .25);
$sn-outline-shadow-small: 0 0 0 2px;
$sn-outline-shadow-normal: 0 0 0 4px;

$sn-grid-gutter: $sn-gutter-normal;

$sn-primary-text-color: $sn-gray-900-color;
$sn-primary-text-dark-color: $sn-gray-dark-color;
$sn-primary-text-light-color: $sn-gray-800-color;
$sn-primary-text-inverse-color: $sn-white-color;

$sn-font-size-tiny: $app-font-size-tiny;
$sn-font-size-small: $app-font-size-small;
$sn-font-size-base: $app-font-size-base;
$sn-font-size-normal: $app-font-size-normal;
$sn-font-size-big: $app-font-size-big;
$sn-font-size-large: $app-font-size-large;
$sn-font-size-huge: $app-font-size-huge;

$sn-font-weight-light: $app-font-weight-light;
$sn-font-weight-base: $app-font-weight-base;
$sn-font-weight-semi-bold: $app-font-weight-semi-bold;
$sn-font-weight-bold: $app-font-weight-bold;
$sn-font-weight-extra-bold: $app-font-weight-extra-bold;

$sn-line-height-base: $app-line-height-base;
$sn-line-height-large: $app-line-height-large;
$sn-line-height-small: $app-line-height-small;
$sn-line-height-tiny: $app-line-height-tiny;

$sn-font-family-base: $app-font-family-base;

$sn-h1-font-size: $sn-font-size-base * 4;
$sn-h2-font-size: $sn-font-size-base * 3;
$sn-h3-font-size: $sn-font-size-base * 1.85;
$sn-h4-font-size: $sn-font-size-base * 1.28;
$sn-h5-font-size: $sn-font-size-base * 1.2;
$sn-h6-font-size: $sn-font-size-base;

$sn-page-header-font-size: 18px;
$sn-scrollbar-width: 12px;
$sn-headings-margin-bottom: $sn-gutter-normal;

$sn-control-gutter: $sn-gutter-small;
$sn-control-border-color: $sn-gray-700-color;
$sn-control-switch-label-color: $sn-primary-text-color;
$sn-control-background: $sn-primary-background;

$sn-control-field-label-background: $sn-secondary-background;
$sn-control-field-label-padding: 0 $sn-gutter-small;
$sn-control-field-label-color: $sn-primary-text-light-color;
$sn-control-field-label-border-color: $sn-gray-600-color;

$sn-control-disabled-border-color: $sn-gray-600-color;
$sn-control-disabled-indicator-icon-color: $sn-gray-800-color;
$sn-control-disabled-label-color: $sn-primary-text-light-color;
$sn-control-disabled-background: $sn-gray-100-color;

$sn-body-color: $sn-primary-text-color;
$sn-app-layout-font-family: $sn-font-family-base;
$sn-lp-layout-font-family: 'Montserrat', sans-serif;
$sn-body-font-weight: $sn-font-weight-base;
$sn-body-line-height: $sn-line-height-base;
$sn-body-font-size: $sn-font-size-base;
$app-aside-collapsed-width: 86px;

@import "~@esanum/ui/lib/assets/styles/sn-variables";
@import "~@esanum/ui/lib/assets/styles/sn-all";
