<jnt-app-aside #aside>
  <jnt-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
    <jnt-menu-item [link]="['issues']" [matching]="ui.url.matching.wildcard" title="Issues"
                   [icon]="ui.icons.font.dashboard"></jnt-menu-item>
    <jnt-menu-item [link]="['salaries']" [matching]="ui.url.matching.wildcard" title="Salaries"
                   [icon]="ui.icons.font.money"></jnt-menu-item>
  </jnt-menu>
</jnt-app-aside>
<jnt-app-content [aside]="aside">
  <jnt-app-sub-header (burger)="aside.toggle()">
    <jnt-breadcrumb></jnt-breadcrumb>
  </jnt-app-sub-header>
  <jnt-app-body>
    <jnt-container [width]="ui.width.fluid">
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>
  <app-footer></app-footer>
</jnt-app-content>
