<jnt-app-main>
  <jnt-app-aside #aside>
    <jnt-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
      <jnt-menu-item link="." title="Dashboard"
                     [icon]="ui.icons.user"></jnt-menu-item>
      <jnt-menu-item link="/developer/salaries" title="Salaries"
                     [icon]="ui.icons.salary"></jnt-menu-item>
    </jnt-menu>
  </jnt-app-aside>
  <jnt-app-content [aside]="aside">
    <jnt-app-body>
      <jnt-app-sub-header (burger)="aside.toggle()"></jnt-app-sub-header>
      <router-outlet></router-outlet>
    </jnt-app-body>
    <jnt-app-footer>
      <small>Junte 2008 - 2019<br> Any rights are NOT reserved, use this as you want ;-)</small>
    </jnt-app-footer>
  </jnt-app-content>
</jnt-app-main>
