<jnt-app-aside #aside>
  <jnt-menu [spacing]="ui.size.small" [orientation]="ui.orientation.vertical">
    <jnt-menu-item title="Dashboard"
                   i18n-title="@@action.dashboard"
                   [link]="['./']"
                   [icon]="ui.icons.dashboard"></jnt-menu-item>
    <jnt-menu-item title="Issues"
                   i18n-title="@@action.issues"
                   [link]="['issues', {dueDate: today}]"
                   [icon]="localUi.icons.issue"></jnt-menu-item>
    <jnt-menu-item title="Merge requests"
                   i18n-title="@@action.merge_requests"
                   [link]="['merge-requests']"
                   [icon]="localUi.icons.mergeRequest"></jnt-menu-item>
    <jnt-menu-item title="Time expenses"
                   i18n-title="@@action.time_expenses"
                   [link]="['time-expenses', {dueDate: today}]"
                   [icon]="localUi.icons.spentTime"></jnt-menu-item>
    <jnt-menu-item title="Bonuses"
                   i18n-title="@@action.bonuses"
                   [link]="['bonuses']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.bonus"></jnt-menu-item>
    <jnt-menu-item title="Penalties"
                   i18n-title="@@action.penalties"
                   [link]="['penalties']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.penalty"></jnt-menu-item>
    <jnt-menu-item title="Salaries"
                   i18n-title="@@action.salaries"
                   [link]="['salaries']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.salary"></jnt-menu-item>
    <jnt-menu-item title="Work breaks"
                   i18n-title="@@action.work_breaks"
                   [link]="['breaks']"
                   [matching]="ui.matching.wildcard"
                   [icon]="localUi.icons.workBreak"></jnt-menu-item>
  </jnt-menu>
</jnt-app-aside>
<jnt-app-content [aside]="aside">
  <jnt-app-sub-header (menu)="aside.toggle()">
    <jnt-breadcrumb></jnt-breadcrumb>
  </jnt-app-sub-header>
  <jnt-app-body>
    <jnt-container [width]="ui.width.fluid">
      <router-outlet></router-outlet>
    </jnt-container>
  </jnt-app-body>
  <app-footer></app-footer>
</jnt-app-content>
